[2017-10-04 14:25] noahcoetsee commented on #181
I have re-read and updated myself on all of your suggestions and the current programming. I think I will try to use the minievents system, and I may need you to explain the bridging a bit more...

The events that we need to detect are all events that can change the scene visually.... If any changes are made to a model, or to a material, or to a position/rotation, or if an object is created/destroy

[2017-10-04 14:32] hirako2000 commented on #181
@TheCodeCrafter , one thing to help I think, is to try to identify a use case to drive the implementation. I see two major (and different) use cases. Satisfying both in one go might be difficult, pick one. Then we can think about making changes to make it accomplish the other case:

- Networking for games. We can imagine a character control, that's the primary if not only input/emitting things the

[2017-10-04 14:36] noahcoetsee commented on #181
@hirako2000 Then we should have 2 different modes. One for the `collab` mode and the `gaming` mode? I think we should focus on the gaming one anyways, and get it working before we try and flesh out all other uses... So I agree, let's start with the gaming one anyways. If you read my previous comment, you can identify which events I need to hook from the scene, to allow notification of the server,

[2017-10-04 15:01] hirako2000 commented on #181
If that's for the gaming case, then I foresee the input is what we need to send. thus:

- Only input controls would emit from the client (the server is in charge to compute the effect of such input).
Keeping it simple would be a *left, right, up, down* controller.
If say such controller is the keyboard inputs, this controller would be a component, `KeyboardInputComponent` that component would impl

[2017-10-04 16:03] noahcoetsee commented on #181
@hirako2000 You are always welcome to make suggestions, and never to be ignored in the case of anything I'm ever working on. Anyways, I did want to implement it that way, but I thought we were going for more of a Unity like approach. In Unity, changes in the scene on an object with a NetworkTransform Object would be displayed, allowing for easy physics calculations, we wouldn't want the server to

[2017-10-04 16:16] noahcoetsee commented on #181
[code]

That is what I proposed, versus what you are saying

[code]

[2017-10-04 16:17] noahcoetsee commented on #181
So what I'm saying is, in Unity, they try to make most of the programming as client sided as possible, while if we did that where the server made calculations and other things, the person would interact much more with learning to properly use socket.io and node.js rather than being able to focus on WHS.js, with as little possible reliance on knowledge of such things.

[2017-10-04 17:26] hirako2000 commented on #181
I totally agree handling on the client would make the developer's focus remain on the client side, with a minimal server.
My thoughts were based on other writings on the subject. e.g this:

That being said, if Unity and the likes don't follow that rule of having the server as absolute authority, it means alternative approaches are proven to work. So let's do whatever is simplest or would make more

[2017-10-04 18:48] noahcoetsee commented on #181
Well, what we can do, is we can let the user define rules for their server, so the server will not allow certain packets to pass through, i.e. teleportation by moving to fast, etc. So we could allow for rules to be set on the server side?

You see, while most writings do say such a thing, that is for a more dedicated environment. Well, actually, their just the ones that are super worried about che

[2017-10-04 19:08] sasha240100 commented on #181
@TheCodeCrafter @hirako2000 Hey, let's talk in discord

[2017-10-04 19:10] sasha240100 commented on #328
@mnb3000 Thanks for reporting. I'll clean up things soon. (Have no time now, as I'm working on whs editor project)

[2017-10-05 00:33] noahcoetsee commented on #181
Okay
Sorry for the late reply, are you still on?

[2017-10-05 14:13] noahcoetsee commented on #181
I need some help with the modules (NetworkIdentity and NetworkTransform). I need to figure out how to make it so it detects events such as changing geometry and changing material, becauase that's what it needs to detect. Could either of you help me out @hirako2000 @sasha240100 ?

[2017-10-05 15:41] sasha240100 commented on #181
hey, let’s talk in discord about that kind of help

On Thu, Oct 5, 2017 at 5:13 PM Noah <notifications@github.com> wrote:

[2017-10-05 16:07] noahcoetsee commented on #181
Understood.

[2017-10-14 10:26] Asumie opened #333 "Doc Links to modules are broken because of renaming"
Describe your issue here.
Links to all modules are broken because of renaming

Versio
###### Version:
 - [x] v2.x.x
 - [ ] v1.x.x

###### Issue type:
 - [ ] Bug
 - [ ] Proposal/Enhancement
 - [ ] Question
 - [ ] Discussion

------

<details>
<summary> <b>Tested on: </b> </summary>

###### Desktop
   - [ ] Chrome
   - [ ] Chrome Canary
   - [ ] Chrome dev-channel
   - [ ] Firefox
   - [ ] Opera

[2017-10-15 05:30] hirako2000 commented on #333
Duplicate of #328

[2017-10-15 05:30] #333 closed, assigned to nobody

[2017-10-15 05:48] hirako2000 commented on #327
sorry I didn't have much time lately. I reviewed your proposition, along with your code; I do agree.
I've just made a change to export all params interfaces. imo it has to do with typed assignment, which I don't use myself, but your code shows it's actually a common practice.

If you mind code reviewing, it's just adding a single word to all interfaces :)

[2017-10-15 06:01] hirako2000 commented on #253
Let's try to merge the big work @TheCodeCrafter done so far, and spawn a separate issue for VR etc? (whatever is  left).
Would be good to release 2.1.9, we have many fixes merged so far.

[2017-10-15 06:03] hirako2000 commented on #77
Closing as basic audio module is now built by `whs` project, and released a while ago.

[2017-10-15 06:03] #77 closed

[2017-10-15 18:19] Asumie commented on #154
Im still study about what is going on and what should i do to make its work

[2017-10-15 20:41] sasha240100 commented on #154
@Asumie Hey, we decided to start working on project called "whs editor" - if you want to help grow visual UI around whs engine project, you can:
 1) Contact me in discord
 2) Tell me about your schedule so I can give you a simple task that will move the project on the next step

[2017-10-16 04:11] looading commented on #327
@hirako2000 Thank you very much.

[2017-10-16 23:36] zwernberg opened #336 "Minified build link in ReadMe broken"
The link is missing the branch in the url causing a broken link

###### Version:
 - [x] v2.x.x
 - [ ] v1.x.x

###### Issue type:
 - [x ] Bug
 - [ ] Proposal/Enhancement
 - [ ] Question
 - [ ] Discussion

------

<details>
<summary> <b>Tested on: </b> </summary>

###### Desktop
   - [ ] Chrome
   - [ ] Chrome Canary
   - [ ] Chrome dev-channel
   - [ ] Firefox
   - [ ] Opera
   - [ ] Microsoft IE

[2017-10-17 16:41] #336 closed, assigned to nobody

[2017-10-19 17:48] liron667 commented on #175
Hacktoberfest TLV shotgun

[2017-10-22 01:08] ide commented on #216
One suggestion for the module API: swap `this` and `self` in `integrate(self)`. Currently:
[code]

A new API would look like:
[code]

[2017-11-12 17:55] hirako2000 opened #355 "Support AnyLoader in Importer component"
`Importer.js` supports passing a loader of type `Loader` and its subclasses.
Kind of odd that some loaders don't implement this class, e.g OBJLoader.

We need to take `AnyLoader` type instead; or it would prevent passing several type of loaders that don't implement the expected interface (issue only impacting TS projects)

###### Version:
 - [x] v2.x.x
 - [ ] v1.x.x

###### Issue type:
 - [x] Bug

[2017-11-28 13:22] noahcoetsee opened #357 "Alpha-Network-Module Continuation"
Hey guys and gals! Programmers, contributors, everyone who's been around for a while, could you listen up for a second?

I'm the leader of a special module being developed for WHS called the Network-Module. You can see it's branch under "Alpha-Network-Module", and it's still under heavy development. I'm asking for you guys to help me out a bit. There is a list of things that I need some help with

[2017-12-01 17:09] sasha240100 commented on #357
Hey, @TheCodeCrafter sorry for late response. You better contact me in discord and we discuss the future of this module + implementation. I’m ready to help and would love you to help me with some other tasks as well

[2017-12-02 12:15] hirako2000 opened #358 "Document (jsDoc) extra modules"
Extra modules don't seem to have any jsDoc. Would be nice to have docs for those.

- [x] AudioModule
- [ ] DatGUIModule
- [ ] DragModule
- [ ] LoaderModule
- [ ] PerformanceModule
- [ ] StatsModule
- [ ] VRKit

###### Version:
 - [x] v2.x.x
 - [ ] v1.x.x

###### Issue type:
 - [ ] Bug
 - [ ] Proposal/Enhancement
 - [ ] Question
 - [ ] Discussion

------

<details>
<summary> <b>Tested on: </b> </su

[2017-12-02 15:18] hirako2000 commented on #355
Now accepts AnyLoader

[2017-12-02 15:18] #355 closed, assigned to hirako2000

[2017-12-02 15:19] #327 closed, assigned to hirako2000

[2017-12-02 17:32] looading opened #360 "Font type error for Text component"
Describe your issue here.
The type whether it should be `Font | Promise<Font>` here
https://github.com/WhitestormJS/whs.js/blob/fe64f409e2503ccef44bc8ec2a3eb8591ca61793/types/components/meshes/Text.d.ts#L19
###### Version:
 - [x] v2.x.x
 - [ ] v1.x.x

###### Issue type:
 - [x] Bug
 - [ ] Proposal/Enhancement
 - [ ] Question
 - [ ] Discussion

------

<details>
<summary> <b>Tested on: </b> </summar

[2017-12-02 17:45] hirako2000 commented on #360
Adjusted.
Thanks!

[2017-12-02 17:45] #360 closed, assigned to hirako2000

[2017-12-04 09:00] looading opened #362 "Don`t know whether resources has already loaded."
Describe your issue here.
I don't know whether resources has already completed the loading when I want to add animation to `components/meshes/text`.

This is an error has occurred.
![image](https://user-images.githubusercontent.com/9467452/33543474-253c3a8a-d912-11e7-8128-e1d53d44311f.png)

Then i found that `component.isDeffered` is always  `true`.
https://github.com/WhitestormJS/whs.js/blob/6cd9

[2017-12-04 13:01] noahcoetsee commented on #357
Ask to be assigned to this by commenting!

[2017-12-05 15:41] sasha240100 commented on #362
@looading You may need to do the following:
[code]

Both variants are useful and provide the same idea. `component._wait` contains resolved/rejected/pending promises, if all promises are resolved -> defer() called. What is the reason of making `._wait` empty?

[2017-12-06 01:28] looading commented on #362
@sasha240100 Thanks! I got it.

[2017-12-06 01:28] #362 closed, assigned to nobody

[2017-12-24 07:49] jyy1082 opened #363 "obj and mtl importing"
Does whs.js support to import obj and mtl files with image resource? If yes, is there anyone can guide me how to use WHS.Importer to add those into WHS.App?

Thank you!

###### Version:
 - [x] v2.1.9

###### Issue type:
 - [ ] Bug
 - [ ] Proposal/Enhancement
 - [X ] Question
 - [ ] Discussion

------

###### Desktop
   - [X ] Chrome

[2017-12-27 16:13] sasha240100 commented on #363
Hey, @jyy1082 , sorry for delayed answer.
**TL;DR:** It's possible, and here's how:

### Importing obj
[code]

### Importing mtl
You may write your own module, which can be reusable then, but the simplest way is to use [three-mtl-loader](https://www.npmjs.com/package/three-mtl-loader) and then:
[code]

And the final stage, add this to app:

[code]

[2017-12-27 18:20] jyy1082 commented on #363
Hi,
Thanks for your replay!
My obj and mtl files are for one model. Can I import them together as a object using one WHS.Importer?

[2017-12-28 04:43] sasha240100 commented on #363
multiple obj files, right?

On Wed, Dec 27, 2017 at 8:20 PM jyy1082 <notifications@github.com> wrote:

[2017-12-28 05:19] jyy1082 commented on #363
I mean one obj and one mtl files together for one model.

https://www.learnthreejs.com/load-3d-model-using-three-js-obj-loader/

This is the way to use THREEJS to implement. How should I use WHS to do that? Thanks.

[2017-12-28 16:38] sasha240100 commented on #363
@jyy1082 See the code above, it's pretty similar with what you need

[2017-12-28 17:55] jyy1082 commented on #363
I will try it. Thanks again!

[2018-01-12 15:16] hirako2000 commented on #363
does it work @jyy1082 ?

[2018-01-16 02:54] wangzry opened #364 "the URL for WHS is invalid address on the sites."
Describe your issue here.
As you have changed the url of WHS from whsjs.io to whs.io, the links to WHS  are invalid address on some pages,for example,the docs of [examples](https://whs-dev.surge.sh/examples/), and the link on [github](https://github.com/WhitestormJS).
###### Version:
 - [x] v2.x.x
 - [ ] v1.x.x

###### Issue type:
 - [x] Bug
 - [ ] Proposal/Enhancement
 - [ ] Question
 - [ ] Discu

[2018-01-18 00:58] sasha240100 commented on #364
@wangzry Thank you for mentioning this, I’ll try to fix that soon!

[2018-01-18 03:58] #364 closed, assigned to nobody

[2018-01-23 03:33] queengooborg opened #365 "s"
Describe your issue here.

###### Version:
 - [x] v2.x.x
 - [ ] v1.x.x

###### Issue type:
 - [ ] Bug
 - [ ] Proposal/Enhancement
 - [ ] Question
 - [ ] Discussion

------

<details>
<summary> <b>Tested on: </b> </summary>

###### Desktop
   - [ ] Chrome
   - [ ] Chrome Canary
   - [ ] Chrome dev-channel
   - [ ] Firefox
   - [ ] Opera
   - [ ] Microsoft IE
   - [ ] Microsoft Edge

###### Android

[2018-01-23 19:38] sasha240100 commented on #365
?

[2018-01-23 20:22] queengooborg commented on #365
Accidentally created issue, oops, sorry!

[2018-01-23 20:22] #365 closed, assigned to nobody

[2018-01-25 16:16] antoniocapelo opened #367 "Wrong project url on WhitestormJS Framework github group"
Not really an issue, but only after some frustrated navigations I noticed that the url on the githbug group page is wrong (it's https://whsjs.io/ instead of https://whs.io, which at first sight seems the same).

I was always trying to get back to the projects' homepage using that link and noticing showed up 😅 Figured I should warn so that I'd be last one experiencing it.

By the way, nice work wit

[2018-01-25 18:22] sasha240100 commented on #367
@antoniocapelo Thanks! Fixed.

[2018-01-25 18:22] #367 closed, assigned to nobody

[2018-01-26 12:09] antoniocapelo commented on #363
I'm also struggling a bit with this.
This snippet works when using with vanilla ThreeJS loader:

[code]

However, when doing the 'same' thing with WHS Importer:

[code]

I got an error in a three.module.js codebase `TypeError: Cannot read property 'center' of undefined
    at Sphere.copy (three.module.js?8bc5:8345)`

![image](https://user-images.githubusercontent.com/3236388/35439182-868f15d4-0291

[2018-01-27 01:16] sasha240100 commented on #363
@antoniocapelo, since you’ve moved to OBJLoader, your parser() accept other arguments.

In three.js you have: `loader.load(‘o.js’, parser);` and in your code instead of `parser` you have an arrow function with object as input data. Same in whs.

parser arguments:
JSONLoader: (geometry, material)
OBJLoader: (object)

Should look like this:

[code]

[2018-01-27 01:22] sasha240100 commented on #363
[code]

Correct one. (made a typo in my prev msg)

[2018-02-05 20:49] antoniocapelo commented on #363
Sorry for the delay @sasha240100 ! I tried what you described and it does work (not when loading the `.mtl` file at the same time though — But the 'vanilla' way I described is looking good until now, so that's covered).

Thanks!

[2018-02-06 10:59] antoniocapelo opened #368 "Help on using modules for extending component behavior"
Hi! From what I understood, modules are a very useful piece of code that, amongst other things, let us enhance our components' behavior.

My current scenario is trying to make a 'responsive module' where I would add a callback to `ResizeModule` instance present on the app so that the component using it could have it's geometry dimension updated for certain breakpoints. Does this make sense?

I'm h

[2018-02-06 15:06] noahcoetsee commented on #357
@sasha240100 I'm sorry to mention you here instead of Github, but can you merge the base branch into Alpha, so I can continue to work on it without it being behind on commits from dev?

[2018-02-07 15:20] sasha240100 commented on #368
@antoniocapelo Hey! From what I understand, you're looking for a way to use `ResizeModule#addCallback(func)` from `ResponsiveDimensionModule`.

Here's what you have to know:
  1. App and Sphere have different "managers".
  2. What you could do is to pass app (or app manager) inside `ResponsiveDimensionModule`:

### Option 1

[code]

And use it's manager inside your module:

[code]

### Option 2
Ho

[2018-02-07 16:17] sasha240100 commented on #357
@TheCodeCrafter Merged. Not sure if there are no conflicts. Should work, check please.

[2018-02-07 17:02] antoniocapelo commented on #368
@sasha240100 thanks! I ended up figuring the Option 1 by myself 🎉 but I think your two other options are more elegant 😃

But I only could figure that out when I tried it in vanilla WHS and not using react-whs. The thing is (I think) that on react-whs our `app` is not yet defined when declaring the components on the `render()` method. So I cannot do

[code]

Because at that time, the `refApp` callb

[2018-02-07 20:40] antoniocapelo commented on #368
by the way, I think on that line
[code]
we need to add `.app`to the end, right?

[code]

[2018-02-08 01:32] sasha240100 commented on #368
@antoniocapelo If you modify it inside the "bridge" function and want to return it and use - yep, ok.
But in this case - No need

[2018-02-08 01:37] sasha240100 commented on #368
@antoniocapelo For `react-whs` consider Option 3, as it completely relies on internal features of modules. You also have [`afterMount`](https://github.com/WhitestormJS/react-whs/blob/master/src/App.js#L38) prop function support in `<App/>`.

My recommendation is to use `WHS` without react overlay for big projects. But I would also like if you help me to improve `react-whs` by contributing 😎🙂

[2018-02-09 17:10] noahcoetsee commented on #357
I will check! Each year my schoolwork only gets more time-consuming, but I still hope to at least finish this module before I take a long leave.

[2018-03-02 14:15] noahcoetsee commented on #357
@sasha240100 Once again, sorry about contacting you here instead of Discord, but I have finished some implementations and we actually could begin testing soon. I just need help with finishing up some stuff in the tools/networking/server.js dependencies (and other WHS local files), as well as finalizing the module itself.

[2018-03-02 14:23] noahcoetsee commented on #191
@sasha240100 I know this is another old Issue, but I'd like to help out with this as well. Since you and hirako are so busy with the editor, I'll be over here maintaining the project :D

[2018-03-02 14:25] noahcoetsee commented on #175
@hirako2000 I am going to take up this issue, as I made many of the other example tutorials, so I can make another example is well, if you'd like my help.

[2018-03-02 14:41] noahcoetsee commented on #363
@sasha240100 I am once again volunteering myself to create a more permanent module for loading these models in (unless someone's already done it?).

[2018-03-02 16:06] sasha240100 commented on #363
I could share MTLModule source with you and maybe we could easily combine
it with obj

On Fri, Mar 2, 2018 at 4:41 PM Noah <notifications@github.com> wrote:

[2018-03-02 16:07] sasha240100 commented on #191
Nice! We now moved to another postprocessing module, but let’s see if we
could support Wagner as well

On Fri, Mar 2, 2018 at 4:24 PM Noah <notifications@github.com> wrote:

[2018-03-02 16:07] noahcoetsee commented on #191
Awesome! What PP module are you on now?

[2018-03-02 16:09] noahcoetsee commented on #363
Yeah, that sounds great! Where's the source?

[2018-03-02 16:45] sasha240100 commented on #191
Take a look at PostProcessorModule in sources

On Fri, Mar 2, 2018 at 6:09 PM Noah <notifications@github.com> wrote:

[2018-03-02 18:48] noahcoetsee commented on #191
Alright! Also: I do need some help with the Networking Module. I'll discord you about it later!

[2018-03-02 21:46] sasha240100 commented on #191
Sounds good. Ping me there

On Fri, Mar 2, 2018 at 8:49 PM Noah <notifications@github.com> wrote:

[2018-03-03 07:03] hirako2000 commented on #175
Excellent! thanks!

[2018-03-05 14:57] mediafigaro commented on #75
hello, is there any helpers within v2 ? thanks

[2018-03-05 18:07] sasha240100 commented on #75
@mediafigaro They were moved out of framework core. But you can easily use WHS components with Three.js helpers.
Feel free to ask me if you need some help

[2018-03-05 21:02] #368 closed, assigned to nobody

[2018-03-05 21:02] sasha240100 commented on #326
@looading What's the state of the project?

[2018-03-06 13:21] looading commented on #326
@sasha240100
Sorry, the project on hold for such a long time.I've been very busy this period of time.
A part of the unfinished：
- Some examples of pending
- To improve performance

[2018-03-10 00:19] sasha240100 commented on #326
Well, keep us updated;)

On Tue, Mar 6, 2018 at 3:21 PM Mystery <notifications@github.com> wrote:

[2018-03-11 11:45] hirako2000 opened #370 "Update to three.js r90"
Update three.js dependency, it now sits at r90.0
A number of fixes and improvements were made since r87.

###### Version:
 - [x] v2.x.x
 - [ ] v1.x.x

###### Issue type:
 - [ ] Bug
 - [x] Proposal/Enhancement
 - [ ] Question
 - [ ] Discussion

------

<details>
<summary> <b>Tested on: </b> </summary>

###### Desktop
   - [ ] Chrome
   - [ ] Chrome Canary
   - [ ] Chrome dev-channel
   - [ ] Firefo

[2018-03-11 20:34] sasha240100 commented on #370
@hirako2000 is it already in dev by you or better I fix it in days?

[2018-03-18 06:47] hirako2000 commented on #370
PR #371
I've checked the example, they seem to run fine.

I wanted to fix the Alien example as the animation on the example host is broken - but it's working fine for me locally.
Can you check things are running fine? also, I have not pushed the built files, just src.

[2018-03-18 07:28] sasha240100 commented on #370
@hirako2000 Sure, will do in a hour or two.

[2018-03-30 08:59] cawoodm opened #372 "Issue with div's named "scene""
https://codepen.io/anon/pen/OvvmKG

Works fine until you change the div id to "scene".

[code]

Black screen.

[2018-03-30 09:07] hirako2000 commented on #372
@cawoodm, I forked it [here](https://codepen.io/anon/pen/XEEgKa) with "scene"

Observe that the `App` object is initialised with an `ElementModule` that optionally take a dom element object.
[code]
Note: By default, `ElementModule` uses `document.body`, so even without a `div`, the app would render on the canvas, creating a div in the `body` part, with class named `whs-app`

As to why adding a div

[2018-03-30 09:39] sasha240100 commented on #372
@hirako2000 Thanks for fast reply.
@cawoodm Issue closed?

On Fri, Mar 30, 2018 at 12:07 PM Hirako <notifications@github.com> wrote:

[2018-03-30 10:51] cawoodm commented on #372
I’m curious as to why it works with any id except „scene“.

[2018-03-30 11:13] hirako2000 commented on #372
That's because of your fined class here:
[code]

It does work, and render it, but is off screen in the codepen. Check your inspector, you will see it's below your `scene` div.

As explained, when the dom element object is not passed to the `ElementModule` constructor, `whs` will create a div in the document's `body`.

So
- By defining your div as `scene` without telling the element module about it

[2018-03-30 11:35] hirako2000 commented on #372
Note: I recommend against defining those vwidth and vheight to set the div/canvas size.
Rather leave it to the Resize module to deal with the window size. *unless* you want the canvas to be contained within part of the window, such as having control elements outside the canvas, or have multiple canvas.

[2018-03-30 11:46] hirako2000 commented on #370
Verified? Can we close?

[2018-03-30 11:52] cawoodm commented on #372
OK... I had taken a three.js demo and added whs.js.
Sorry for the trouble!

[2018-03-30 11:52] #372 closed, assigned to nobody

[2018-03-30 14:22] cawoodm opened #373 "Shading broken in v2.0 demo with v2.1.9"
The demo at https://codepen.io/sasha240100/pen/JELBGX works nicely:
![image](https://user-images.githubusercontent.com/498834/38140903-4732b91e-3436-11e8-9fe8-440ab96cf4ae.png)

However, updating to the v2.1.9 CDN: https://cdnjs.cloudflare.com/ajax/libs/whitestorm.js/2.1.9/whs.js we lose shading:
![image](https://user-images.githubusercontent.com/498834/38140887-3cf79c1c-3436-11e8-83a0-1f995702b25

[2018-03-30 16:36] #370 closed, assigned to hirako2000

[2018-03-30 16:44] sasha240100 commented on #373
@cawoodm Yes, all the props from the `light: {}` where moved to the root object. Fixed -> https://codepen.io/sasha240100/pen/GxxGwX?editors=0010

[2018-03-30 16:45] sasha240100 commented on #363
@TheCodeCrafter Sorry for late response. I wasn't able to find the source code (probably lost it because of not using git for that project). I could help you in development, just point me

[2018-03-30 19:17] hirako2000 opened #374 "ElementModule has a missing method in doc"
Misstype in jsDoc, createElement appears in ResizeModule in doc.

###### Version:
 - [x] v2.x.x
 - [ ] v1.x.x

###### Issue type:
 - [ ] Bug
 - [ ] Proposal/Enhancement
 - [ ] Question
 - [ ] Discussion

------

<details>
<summary> <b>Tested on: </b> </summary>

###### Desktop
   - [ ] Chrome
   - [ ] Chrome Canary
   - [ ] Chrome dev-channel
   - [ ] Firefox
   - [ ] Opera
   - [ ] Microsoft IE

[2018-03-31 10:22] cawoodm commented on #373
Thanks!

[2018-03-31 10:22] #373 closed, assigned to nobody

[2018-04-08 20:08] #374 closed, assigned to hirako2000

[2018-04-09 01:15] noahcoetsee commented on #363
Ok, I will try to remember to do this in the near future. My programming world is a hellish nightmare of projects (abandoned and current) everywhere right now. Will return when ready, sir! ;)

[2018-04-24 07:58] BrookShuihuaLee opened #376 "should we remove the object from this.children ?"
https://github.com/WhitestormJS/whs.js/blob/591f4b4fe60d95336f3dae1fca1b1ff6ce605cc6/src/modules/app/SceneModule.js#L47

[2018-04-24 09:11] BrookShuihuaLee commented on #376
i find that the element in app.children will never be removed. is this a bug?

[2018-04-24 09:12] BrookShuihuaLee commented on #376
@hirako2000

[2018-04-24 09:18] hirako2000 commented on #376
Good question, I don't tend to use children; @sasha240100  would answer you.

[2018-04-24 09:22] BrookShuihuaLee commented on #376
thank you @hirako2000  . so, do you think this is a bug ? @sasha240100

[2018-04-24 10:00] BrookShuihuaLee commented on #376
same as
https://github.com/WhitestormJS/whs.js/blob/591f4b4fe60d95336f3dae1fca1b1ff6ce605cc6/src/core/Component.js#L181

[2018-04-24 18:21] sasha240100 commented on #376
@BrookShuihuaLee A bug, true. Really thankful that you found it! Would be glad to see a PR from you:)

[2018-04-25 01:35] BrookShuihuaLee commented on #376
ok, i'll try it later.

[2018-04-27 15:06] hirako2000 opened #378 "MeshComponent parameter types should extend Component parameter types"
Two things are missing there:

- Component parameter type is `object`, it should be taking an object containing, optionally, an array of modules, and a module manager.
- MeshCompnent params should extend Component params

###### Version:
 - [x] v2.x.x
 - [ ] v1.x.x

###### Issue type:
 - [ ] Bug
 - [x] Proposal/Enhancement
 - [ ] Question
 - [ ] Discussion

------

<details>
<summary> <b>Tested on

[2018-06-11 12:37] MinusGix opened #385 "Examples Documentation points to wrong url for WHS.js, causing 404"
On these pages:
 - https://whs-dev.surge.sh/examples/#/physics/Performance/sticks
 - https://whs-dev.surge.sh/examples/#/Modules/DatGUIModule/Mesh
 - https://whs-dev.surge.sh/examples/#/Modules/PostProcessorModule/basic-glitch
 - https://whs-dev.surge.sh/examples/#/Modules/VRKit/VR2Module
 - https://whs-dev.surge.sh/examples/#/Modules/VRKit/VR2Module

And several more, there is a missing WHS.js fi

[2018-06-11 20:26] sasha240100 commented on #385
@MinusGix Thanks for the reporting, some examples need to be updated after migration to v2.0.0. It's a `beta` version yet, so we're working on it. I'll keep you updated!

[2018-06-28 05:16] hirako2000 opened #386 "[ts] Property 'DefineModule' does not exist"
Getting a ts error

[code]

This module is not defined in types
###### Version:
 - [x] v2.x.x
 - [ ] v1.x.x

###### Issue type:
 - [x] Bug
 - [ ] Proposal/Enhancement
 - [ ] Question
 - [ ] Discussion

------

<details>
<summary> <b>Tested on: </b> </summary>

###### Desktop
   - [ ] Chrome
   - [ ] Chrome Canary
   - [ ] Chrome dev-channel
   - [ ] Firefox
   - [ ] Opera
   - [ ] Microsoft IE

[2018-06-28 09:34] shaochun commented on #386
Thanks for the quick fix!

[2018-06-28 10:27] #386 closed, assigned to nobody

[2018-06-28 10:28] #378 closed, assigned to hirako2000

[2018-08-24 11:57] noahcoetsee commented on #357
@sasha240100 When is the best time to contact you? (Please include the timezone!)

[2018-09-10 16:57] antoniocapelo opened #389 "WHS.ResizeModule does not play nicely with WHS.PostProcessorModule"
Describe your issue here.

###### Version:
 - [x] v2.x.x
 - [ ] v1.x.x

###### Issue type:
 - [x] Bug
 - [ ] Proposal/Enhancement
 - [ ] Question
 - [ ] Discussion

------

<details>
<summary> <b>Tested on: </b> </summary>

###### Desktop
   - [x] Chrome
   - [ ] Chrome Canary
   - [ ] Chrome dev-channel
   - [x] Firefox
   - [ ] Opera
   - [ ] Microsoft IE
   - [ ] Microsoft Edge

###### Android

[2018-09-10 20:36] sasha240100 commented on #389
Hi @antoniocapelo !

Any PRs are welcome! :D
 `PostProcessorModule ` creates a new renderTarget. Typically there are only `inputBuffer` and `outputBuffer`, but some advanced passes may require more which makes this thing unpredictable.

What you can do is to try to update them manually with this pseudo-code:
[code]

[2018-09-11 09:03] antoniocapelo commented on #389
Hi @sasha240100, I'm willing to help :D Just point me to the better option, would be it be something inside the codebase? A note on the docs?

What I've done was create a `ResponsivePostprocessorModule` (ignore the name) that does the following:

[code]
I just add this module to the App's module list (in the correct order) and now when I resize the window everything stays sharp.

Probably what you

[2018-09-11 19:44] sasha240100 commented on #389
Looks nice and useful! @antoniocapelo You may even drop `!resizeModule` checks as they should be already done by ModuleSystem.

We're now working more on https://github.com/WhitestormJS/nextgl , which should become a Three.js replacement for Whitestorm.js v3.x, so most of out time & skills are going to that project. Contact me if you are willing to contribute to that one! :)

[2018-09-24 15:52] Akito98 opened #390 "Examples don't Work on Firefox"
It is not possible to select examples on ![whs-dev.surge.sh](https://whs-dev.surge.sh/examples/) using Firefox. See the following gif:

![whs](https://user-images.githubusercontent.com/23405482/45962298-d5028a00-c020-11e8-826f-3f71f33c37e8.gif)

As you see, the new URL appears but is immediately replaced by the main URL which shows the first example again.

Tested on Firefox 62.0 (Ubuntu, Android

[2018-09-24 16:26] hirako2000 commented on #390
Thanks for reporting this @Akito98
@sasha240100 I think some example paths (nested ones) broke since the redesign of the side-nav

[2018-09-26 18:15] Akito98 commented on #390
I just noticed that opening them in a new tab or copy/pasting the link works even in firefox.

[2018-10-03 11:01] antoniocapelo commented on #389
@sasha240100 check your twitter DM's (:

[2018-11-01 21:01] zardilior commented on #175
I will take it over, to deliver on 3 weeks top as a project for College, more people should do it. I'll do it as a pull request.

[2018-11-05 16:13] noahcoetsee commented on #175
Good idea, sorry about this guys, school jumped me. Literally, I got jumped by a teacher 😆

[2018-11-05 16:52] hirako2000 commented on #175
thanks guys for trying to help out. Further mouse examples would be very valuable to demonstrate how this module works with a few types of events.

[2018-11-06 19:31] tommhuth opened #391 "Dead?"
Has this project been abandoned? Examples don't seem to work, and recent activity seem to be scarce. Any news on the v3.0.0?

[2018-11-06 19:58] hirako2000 commented on #391
Hi @tommhuth

Not dead, less activities lately for a few reasons, whs 2 is pretty stable and not pressing need to add crutial features.

Road map  includes fixing the examples nested links, they broke during a revamp of the example navigation UI, it looks better than before. I believe Alex will fix the glitch, but we welcome PRs as always.

With regard to v3, I know Alex had some interesting plans

[2018-11-06 20:30] sasha240100 commented on #391
Hi all,
Yes, we are on a way to release whs 3.x.x, so I’m guessing the project is
live at this point

On Tue, Nov 6, 2018 at 9:58 PM Hirako <notifications@github.com> wrote:

[2018-11-07 08:59] tommhuth commented on #391
Good to hear. The API looks a lot more forward leaning than other 3D libraries around, but the documentation seems to be missing. You mention Physi.js library, but I cannot find any docs covering that, or how that is supposed to be integrated (where's that PHYSICS object coming from if you're using ES modules?).

[2018-11-08 12:24] sasha240100 commented on #391
@tommhuth https://github.com/WhitestormJS/physics-module-ammonext

[2018-11-09 13:02] tommhuth commented on #391
So that package also supports Physi.js or has that be superseded by Ammo?

[2018-11-10 07:46] sasha240100 commented on #391
That package is an adaptation of Physijs to whs.js. It uses Ammo under its
core

On Fri, Nov 9, 2018 at 3:02 PM Tomm Huth <notifications@github.com> wrote:

[2018-11-20 15:44] zardilior commented on #175
I ll devliver before December 3

[2018-11-25 04:59] Andrews54757 commented on #391
@hirako2000 Hello! Could you possibly take a look at my issue at that library?

https://github.com/WhitestormJS/physics-module-ammonext/issues/16

I posted about a typo, and it seems like it has not been addressed. This error causing typo was where `.length` was replaced with `.lenght`. I noticed that this went UNNOTICED SINCE INITIAL COMMIT!

https://github.com/WhitestormJS/physics-module-ammonex

[2018-11-25 05:12] segg21 commented on #391
Dear @Andrews54757,

[2018-12-01 01:36] zardilior commented on #175
4

[2018-12-04 16:38] zardilior opened #393 "Any way to import a GLTF?"
Describe your issue here.

###### Version:
 - [x] v2.x.x
 - [ ] v1.x.x

###### Issue type:
 - [ ] Bug
 - [ ] Proposal/Enhancement
 - [X] Question
 - [ ] Discussion

------

How would you go about writing a parser for  loading a gltf with whs importer. As of now three.js json format has had even its blender exporter removed.

[2018-12-04 16:53] noahcoetsee commented on #393
I wish I could answer this in a fuller extent, but basically, look into using the [three.js tool](https://threejs.org/docs/#examples/loaders/GLTFLoader). It is still working and should be specifiable through WhitestormJS

You should be able to integrate it into WHJS by specifying that loader (after importing it into your project) with this code:

[code]
_Obviously, make sure you change the code an

[2018-12-05 03:26] zardilior commented on #393
Problem with gltf in the parsing step
The three.js json format has already being deprecated
That format and the official blender exporter project have been removed.
Gltf is now the better approach according to three.js docs.

[2018-12-05 03:29] zardilior opened #394 "Jpg Textures look solid color"
Describe your issue here.

###### Version:
 - [x] v2.x.x
 - [ ] v1.x.x

###### Issue type:
 - [ ] Bug
 - [ ] Proposal/Enhancement
 - [x] Question
 - [ ] Discussion

------
Any reason why a loaded texture with the texture module would appear as solid color brown on a model?
<details>
<summary> <b>Tested on: </b> </summary>

###### Desktop
   - [ ] Chrome
   - [ ] Chrome Canary
   - [ ] Chrome dev-c

[2018-12-05 03:31] zardilior commented on #363
This issue should be closed as it looks solved

[2018-12-05 05:19] hirako2000 commented on #363
Agreed @zardilior but it would be nice to add an example to illustrate how to do it, anyone volunteers to add a simple example?

[2018-12-05 05:21] hirako2000 commented on #394
A few reasons would come to mind:

- mistake on renderer config, try on a clean slate (someone banged his head on the wall on this until realizing some issue elsewhere in the code.
- UV map issue when trying to map the texture, try with a very simple mesh first along with a texture not needing UVs

[2018-12-05 17:28] noahcoetsee commented on #393
I'm not sure I understand your meaning. The three.js JSON format shouldn't affect the importing of a GLTF...

Did you see where I said `"CHANGE THIS TO GLTFLoader"`?

Sorry if I'm misunderstanding?

[2018-12-05 17:29] noahcoetsee commented on #363
I'm unable to at the moment, as I'm super busy with school. I'll get back to you during late December!

[2018-12-05 20:16] sasha240100 commented on #393
@zardilior There is a `geometry.parser` property in options object of `Importer` class that handles loader input and converts to the right output.

You can find an example here: http://whs.io/module-components_meshes.Importer.html

I guess that's what he was asking about, @FeaturedSpace

[2018-12-05 20:42] sasha240100 opened #395 "v3.x.x"
## Great to announce that start of `v3.x.x` development!

### Short FAQ:
- `When?` Probably till the end of this (2018) year
- `Who?` @sasha240100 @hirako2000 and everyone who wants to join (you can ask in this issue comments & propose your changes)
- `What it will be?` Yep, the most interesting question, I'll write down below.

## Proposed features
 - **New Three.js version in the core of the lib

[2018-12-05 20:54] sasha240100 commented on #391
See https://github.com/WhitestormJS/whs.js/issues/395
I'm closing this issue

[2018-12-05 20:54] #391 closed, assigned to nobody

[2018-12-06 01:13] noahcoetsee commented on #393
Yeah I mean, what I mentioned was specifically was the GLTF parser that WHS is already supporting..

[2018-12-06 01:15] noahcoetsee commented on #395
Of course, I'd like to help out! My workload will decrease in school from January until May, so I have time to contribute towards the development/expansion of base features. Should I continue developing my Networking Module? Are we going to throw that one out during 3.x.x?

I love that we're getting active in this again. This library has much more potential than the number of people that (properly

[2019-01-12 14:07] bbzz7 commented on #395
Very excited, I am looking forward to its release~！

[2019-01-12 14:11] bbzz7 commented on #395
I think it is possible to add a more convenient loop/tick management module so that the loop/tick can be handed over to other libraries, such as an animation engine such as GSAP or other

[2019-01-12 15:55] sasha240100 commented on #395
I’ll start at 19 Jan

On Sat, Jan 12, 2019 at 4:11 PM ZhuangYu <notifications@github.com> wrote:

[2019-01-13 21:06] noahcoetsee commented on #395
Roger that.

[2019-01-13 21:44] hirako2000 commented on #395
I think v3 can/should provide improvements suggested by the community, but bring something entirely  new to the creation of 3d scene/games to the user.

My proposal to Alex is to bring the world of 3d webgl rendering (with three.js/whs) to the so polular Scratch platform.

With the release of scratch 3.0 it is still impossible to create 3d environments using visual block programming. All it suppor

[2019-01-13 22:44] noahcoetsee commented on #395
I, unfortunately, must disagree with you, @hirako2000 , for a couple of reasons:

---
1. WHS's goal for this project seems to be streamlined integration of physics into WebGL, and I think that's a great focus. Not that integrating into Scratch would be bad, but I think it'd be a sidetracking goal from what the real premise of the project is.
2. WHS's structure is highly Object Oriented, and Scratc

[2019-01-13 22:49] noahcoetsee opened #396 "Network Module Extension"
Hey guys!

Just here letting you know that I'm continuing the original development of the Server design for WHS. I'm specifically building the framework off of a pre-existing technical framework. Photon Networking Utilities has been in the market for a while, and the techniques they use for internal/external networking is extremely polished (even more so than the default Unity Networking), therefo

[2019-01-14 08:02] hirako2000 commented on #395
Thanks for your input @noha, good points.  A bridge for block based programming using`whs` as an engine would just be a different project then, I will look into it outside the v3 scope.

[2019-01-14 08:14] hirako2000 commented on #396
Do you mean [this](https://www.photonengine.com/)?
I came across [Lance](https://github.com/lance-gg/Lance), worth looking at it too as it runs on node.js with socket.io

Just create a new branch, did Alex give you rights to create/delete branches in the whs repo?

[2019-01-14 18:03] noahcoetsee commented on #396
Yes, he did, but I guess I need to save some parts of my previous work. I'll be doing that.

[2019-01-14 18:04] noahcoetsee commented on #395
That sounds good. I appreciate you listening to my concerns, and I'd love to help you with such a port to Scratch in some time.

[2019-01-14 19:18] noahcoetsee commented on #396
Instead of proceeding with a branch, I went ahead and created a new module repository for this (it seems necessary since this feature is obviously outside the scope of WebGL rendering and such).

https://github.com/WhitestormJS/network-module

I need some help converting it to a real module. I've never used babel before, or yarn or any other dev tools involved besides NodeJS and NPM. So, if one of

[2019-01-21 13:28] sasha240100 commented on #396
@FeaturedSpace DM us in discord for any help. We're always welcome!;)

[2019-01-21 13:30] hirako2000 commented on #396
Yes! The API looks great as currently shown on the branch readme. Let's talk on Discord to complete this effort!

[2019-01-22 15:09] sasha240100 opened #397 "Setup @whs/w-examples"
The task is to make a working examples library for WhitestormJS. w-core is not yet working so just having it compile and show blank example is enough.

**Requirements:**

1. Examples should compile only using `webpack` (webpack-dev-server), this means no other build tools like gulp and so on.
2. Example folder is an example name in a drawer. (see current `dev` branch)
3. `readme.md` file should be

[2019-01-22 15:26] sasha240100 opened #398 "Setup @whs/w-core"
###### Version:
 - [ ] v3.x.x
 - [ ] v2.x.x
 - [ ] v1.x.x

###### Issue type:
 - [ ] Bug
 - [ ] Proposal/Enhancement
 - [ ] Question
 - [ ] Discussion

------

<details>
<summary> <b>Tested on: </b> </summary>

###### Desktop
   - [ ] Chrome
   - [ ] Chrome Canary
   - [ ] Chrome dev-channel
   - [ ] Firefox
   - [ ] Opera
   - [ ] Microsoft IE
   - [ ] Microsoft Edge

###### Android
   - [ ] Chro

[2019-01-30 21:21] zardilior commented on #393
@FeaturedSpace ok so I would import the GLTFLoader from the three.js website? Or is there one already made integrated within WHS, which isn't documented yet?

[2019-02-01 17:03] noahcoetsee commented on #393
Import both. Use the WHS one.

Like this:
[code]

[2019-02-10 18:52] trusktr opened #399 "Better docs on why we need Whitestorm over Three.js?"
I see the "Welcome" doc page mentions "component system", but it is very vague. Can you describe what are all the reasons that I'd want to use Whitestorm over plain Three.js, f.e. what are all the things I get that Three.js does no offer, so that I can better understand?

Thanks!

[2019-02-10 19:35] sasha240100 commented on #399
@trusktr Sure, coming soon. Currently we're hardly working on whs.js v3 release!

[2019-02-25 19:28] zardilior commented on #393
How to add to docs? I offer myself to do so, now that I have the code. I think its very important @FeaturedSpace

[2019-02-26 02:51] noahcoetsee commented on #393
That's a question for @sasha240100 !

[2019-04-11 08:52] wangxue1990 opened #400 "is this project die? strong to update three.js latest"
strong three.js to updated latest

[2019-04-11 08:53] sasha240100 commented on #400
@wangxue1990 https://github.com/WhitestormJS/whs.js/tree/v3.x.x/dev

[2019-04-11 08:53] #400 closed, assigned to nobody

[2019-11-27 11:40] marcofugaro opened #401 "Examples are broken"
Hi, I wanted to see the softbody example, however all the examples are broken ATM.
https://whs-dev.surge.sh/examples/#/physics/SoftBody/sphere

Shouldn't the examples use the stable 2.x version?

I have no way of viewing the example. I tried building the project locally, but didn't work as it gives me a of compilation errors when running `npm run examples`:
[code]

[2019-11-30 15:46] foxnoodles opened #402 "Is this still under active development?"
It's been a while since the last commit and no word from you guys either. Are we done?

[2019-12-01 10:56] hirako2000 commented on #402
@foxnoodles , not very active at the moment.
There is a branch for v3.

I wouldn't say _we done_
Many people are using `whs`, if critical bugs are raised, I would make some effort to address (to the limit of my bandwidth capacity).

I do try to answer questions on discord, the community is still somewhat active.
PR are welcome.

[2019-12-01 11:03] hirako2000 commented on #401
Hi @marcofugaro ,

I would rather try to use other script to  build the project and run examples locally.
See `npm run start`.

with regards to the live examples, I will work on getting them to work and also update master branch examples to work again on the main site. Not sure exactly when though.

[2019-12-01 11:25] hirako2000 commented on #399
@trusktr , a bit of a late response, but to complement Alex's answer:
- Component based system, it makes reusability of elements far more concise. It promotes re-usability, think React.js model with its component based approach to state management.
- Module based system, it is extensible, and built-in modules provides, like for component, a concise approach to apply functions to components. the Te

[2019-12-01 11:47] foxnoodles commented on #402
Thanks for your reply.

What's the current state of V3?

[2019-12-01 11:57] hirako2000 commented on #402
afaik, mostly done, but further dev required to complete it.
It is a promising approach, undertaken by Alex. Would need some contrib to get this done.

I don't have enough bandwidth to take it on right now. So it is not clear at all when it would be released as stable/complete.

[2019-12-01 12:04] foxnoodles commented on #402
I see, thank you very much.

[2020-04-30 09:44] hirako2000 opened #403 "Travis build broke"
Describe your issue here.

###### Version:
 - [x] v2.x.x
 - [ ] v1.x.x

###### Issue type:
 - [x] Bug
 - [ ] Proposal/Enhancement
 - [ ] Question
 - [ ] Discussion

------

The travis build broke, it still uses node v6 which is out of life, even v8 is.

- Use at least node v10
- Add the missing gcc+ lib for native library compilation

[2020-04-30 09:44] hirako2000 commented on #403
Fixed.

[2020-04-30 09:44] #403 closed, assigned to hirako2000

[2020-04-30 09:45] hirako2000 opened #404 "fix whs.io domain"
The domain where the doc lives stopped working. whs.io throw an error.
Likely some DNS issues.

###### Version:
 - [x] v2.x.x
 - [ ] v1.x.x

###### Issue type:
 - [x] Bug
 - [ ] Proposal/Enhancement
 - [ ] Question
 - [ ] Discussion

------

Verify domain DNS and address so that the doc is served.

[2020-04-30 09:45] hirako2000 commented on #404
Fixing it...

[2020-05-06 10:13] hirako2000 commented on #404
whs.io is accessible again.

[2020-05-06 10:13] #404 closed, assigned to hirako2000

[2020-07-01 08:04] #394 closed, assigned to nobody

[2020-09-10 07:32] studiogram opened #405 "WHS et VUEJS / ELECTRON"
Hi,

I'm trying to implement WHS in a fresh new Vue CLI Router project :
`vue create test
vue add router`

I've installed WHS with npm, and try to implement it within a component with your example provided (see bellow) :

but I receive this error when running the app :
three.module.js?97bd:22483 Uncaught TypeError: Cannot read property 'getUniforms' of undefined

[code]

###### Version:
 - [x] v2.

[2020-09-10 07:46] studiogram commented on #405
** SOLVED **
Finally downgrade three js version from 120 to 90, and that solve the problem, it seems that there is an issue with latest versions!

[2020-09-10 07:46] #405 closed, assigned to nobody

[2020-12-26 23:19] mkungla commented on #402
Github has feature to archive repository if it's not anymore developed. Could you add at least something to README why this project is discontinued or has become obsolete?

[2021-03-04 22:22] tyliec commented on #402
The domain `whs.io` has also expired and been taken over by another group. Recommend unlinking it with this project

[2021-03-06 21:53] hirako2000 commented on #402
I removed the hyperlink to the expired domain. More of those may be in the repo, I will do my best to clean up.I'm unsure whether this repo should be archived, develepment is stale at the moment, but PRs are welcome, and I may patch critical bugs on v2.

[2021-08-01 06:59] aasim-syed commented on #401
![image](https://user-images.githubusercontent.com/70385414/127762261-0cc9e5f4-243c-40f2-9eec-4dcc45385bda.png)
the website is not responding

[2021-12-18 14:46] Zaniyar commented on #401
still broken.

[2021-12-18 16:51] hirako2000 commented on #401
there are some issues with those href on the examples module. would anyone have time to help sorting this out? the examples are templated with react js.

[2021-12-18 16:52] hirako2000 commented on #401
I will give it a shot fixing the build errors across nodejs versions.