[2015-11-22 16:56] sasha240100 opened #2 "Adding water."
I think the idea of water on terrain looks good.
So i will add water to my engine. And it will be stored on [FPS](http://192.241.128.187/current/examples/fps.html) example.
Physics: https://github.com/schteppe/cannon.js/issues/242
Water shader: https://github.com/jbouny/ocean

[2015-11-22 17:05] sasha240100 opened #3 "[Improve] Code style."
Guys, i have MANY troubles with my code style ;(
So i will be glad if somebody help me in developing engine.
**Contributors sought!**

All code in **src** folder. Compile with *gulp build* command.

You need:
 - Contact me. alexbuzin88@gmail.com
 - Edit code in **src** folder.
 - Publish your change.
 - Contact me again.

TODO:
- [x] Line wrap.
- [x] Prototypes fix.
- [x] Restructurize **libs**.

[2015-11-22 17:11] sasha240100 commented on #3
Published Gulpfile: https://github.com/sasha240100/WhitestormJS/commit/32da62c4673ccd16ef3a3508403792ca082557fd

[2015-11-22 17:57] sasha240100 opened #4 "Commit messages"
### Slang.
- **WIP** -> Work in progress.
- **CSF** -> Code style fix.
- **README** -> Readme.md update. (license, ... - the same).

[2015-11-22 18:44] sasha240100 opened #5 "[Bug] FOG doesn't work"
Fog doesn't work on FPS example.
Need to improve shader in **src/GROUND/addGround.js**

**UPDATE**

`src/Components/Fog.js`

[2015-11-22 18:48] sasha240100 opened #6 "[Improve] Need to add more textures."
Please add *128x128, 512x512, 1024x1024* textures to **assets/textures/**

[2015-11-24 09:55] sasha240100 opened #7 "Improve libraries support."
I need to remove:
 - [x] this/scope.threejs -> THREE
 - [x] this/scope.cannonjs -> CANNON
 - [x] this/scope.wagnerjs -> WAGNER

[2015-11-24 13:11] sasha240100 commented on #7
Done.
https://github.com/sasha240100/WhitestormJS/commit/f36bbdd3b256230106718602af3788c1536dd4a2

[2015-11-24 13:11] #7 closed

[2015-11-24 13:14] sasha240100 opened #8 "Autoresize bug"
Width/height "100%" works inproperly.

[2015-11-24 13:16] sasha240100 opened #9 "[Improve] Change terrain generation."
I love [this](http://mrdoob.github.io/three.js/examples/webgl_terrain_dynamic.html) example of @mrdoob and i will change my terrain generation script.

**EDIT**

Terrain moved to [a component](https://github.com/WhitestormJS/whs-component-terrain)

[2015-11-24 17:22] sasha240100 opened #10 "Material Options needs "wrap""
Write function that wraps material from options into THREE.js material.

[2015-11-29 17:55] jackdalton opened #11 "Should we use a CDN?"
Should we use a CDN such as [jsDelivr](http://www.jsdelivr.com/) for hosting WhitestormJS?

I've dealt with jsDelivr before, and can easily add WhitestormJS to their services.

[2015-11-29 18:03] jackdalton commented on #11
If so, [I've got the PR ready](https://github.com/jackdalton/jsdelivr/tree/master/files/whitestormjs).

[2015-11-29 18:58] sasha240100 commented on #11
@jackdalton Good idea! Let's add.

[2015-11-29 19:00] jackdalton commented on #11
[Pulled](https://github.com/jsdelivr/jsdelivr/pull/8149).

[2015-11-29 19:39] sasha240100 commented on #10
Done.

[2015-11-29 19:39] #10 closed

[2015-11-29 19:46] sasha240100 commented on #9
Problem: Terrain don't cast shadow.

[2015-11-29 20:14] jackdalton commented on #11
[Project added](http://www.jsdelivr.com/projects/whitestormjs).

[2015-11-29 20:14] #11 closed

[2015-11-30 00:00] jackdalton opened #12 "Basic model example is broken"
The [basic model](http://192.241.128.187/current/examples/basic_model.html) example is broken.

On run the following error occurs: `Uncaught ReferenceError: opt is not defined`

This is because of a slight mismatch in [`src/Objects/addModel.js`](https://github.com/sasha240100/WhitestormJS/blob/master/src/Objects/addModel.js).

An undeclared variable `opt` is referred to on [line 20](https://github

[2015-11-30 02:58] #12 closed

[2015-11-30 19:32] sasha240100 opened #14 "Preload for projects/examples"
We will make a **preload** function or api for filling screen with animated gif or loading state while project is loading. This is just for **`beauty`**.

For example with this:

<img src="https://raw.githubusercontent.com/WhitestormJS/whitestorm.js/master/development/art/logo/animation_gif/ease.gif" width="100" height="100">

But you can choose another variant like:
 - http://github.hubspot.com/p

[2015-11-30 20:50] sasha240100 opened #15 "Cannon.js wireframe and three.js terrrain generation with vertexShader are different"
I mean that our cannon.js terrain is generated by heightfield and have more points than it need.

`How to solve`: change heightfield size (make smaller) and use scale.
But the problem is that cannon.js objects don't support scaling.

`Issue`: https://github.com/schteppe/cannon.js/issues/239

![image](https://cloud.githubusercontent.com/assets/7657429/11483953/13c2afc4-97b4-11e5-94f6-e94886e29b8f.p

[2015-12-01 04:27] jackdalton opened #16 "Everything breaks in < Chrome 45 due to use of Object.assign"
As the title states, due to the use of ES6 feature [`Object.assign`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/assign) [here](https://github.com/sasha240100/WhitestormJS/blob/master/src/API/Construct.js#L79) and [here](https://github.com/sasha240100/WhitestormJS/blob/master/src/Ground/addGround.js#L159) it becomes impossible to use WhitestormJS in any

[2015-12-01 10:00] sasha240100 commented on #16
I will add [this](https://github.com/ljharb/object.assign/blob/master/implementation.js) later.

[2015-12-02 00:50] #8 closed

[2015-12-07 21:21] sasha240100 opened #17 "[Bug] improve Shadowmap: bias, acne.."
New shadows are still unstable. We need to improve *shadowmap*.
I can't find right value for `scope.visible.shadowBias` property. Default for solving this problem is **0.05** But in my [example](http://192.241.128.187/current/examples/fps.html) it looks not so good.
Some posts, that i found about this problem:
 - http://www.fabiensanglard.net/shadowmapping/index.php
 - https://github.com/mrdoob/th

[2015-12-07 21:30] sasha240100 commented on #9
Fixed shadows.
SHA: 40df944da8379e4c9f517733dbe2d02ac628a833

[2015-12-07 21:37] sasha240100 commented on #9
"LOD" is also good [example](http://felixpalmer.github.io/lod-terrain/) that can fix #17

[2015-12-07 22:44] sasha240100 commented on #17
One more tip/post: http://blog.edankwan.com/post/three-js-advanced-tips-shadow

[2015-12-12 13:14] #16 closed

[2015-12-20 18:23] jackdalton opened #18 "[Bug] Grass doesn't work"
`WHS.init.prototype.addGrass` needs height values.

Breaks at [line 52](https://github.com/sasha240100/WhitestormJS/blob/master/src/Ground/addGrass.js#L52).

[2015-12-21 23:17] jackdalton opened #19 "[Bug] Shader doesn't compile on FPS example (Linux/Chrome)"
The FPS example is broken on several Linux distributions. [Attached is a console log.
](https://github.com/sasha240100/WhitestormJS/files/69100/fps-example-err.txt)

[Zipped recording](https://github.com/sasha240100/WhitestormJS/files/69124/fpserr.zip)

[2015-12-21 23:26] jackdalton commented on #19
Chrome v47.0.2526.106 (Official Build) (64-bit)

[2015-12-21 23:44] jackdalton commented on #19
Kubuntu 15.10 x64.

[2015-12-26 07:32] jackdalton commented on #19
It was a WebGL compatibility issue with the operating system. There's nothing we can do.

[2015-12-29 11:08] sasha240100 opened #20 "Add WebWorkers"
Let's add WebWorkers, because preloading animation stops when javascript makes calculations.

**Issue**: https://github.com/WhitestormJS/whs.preload/issues/1

**Stackoverflow**: http://stackoverflow.com/questions/7300632/how-to-keep-animated-gif-running-while-doing-intense-calculations

[2015-12-29 14:57] jackdalton commented on #14
Closed by b9e01e4.

[2015-12-29 14:57] #14 closed

[2015-12-29 21:40] jackdalton commented on #19
Same happens with Arch Linux x64.

Specific error message:

`error: sampler arrays indexed with non-constant expressions are forbidden in GLSL 1.30 and later`

[2015-12-31 01:17] jackdalton commented on #19
Related to mrdoob/three.js#6115.

[2015-12-31 11:07] sasha240100 opened #22 "[Engine] Physics change"
**Links**:
 - https://github.com/skeelogy/ifc-ar-flood
 - http://cg.skeelogy.com/skunamijs/
 - http://cg.skeelogy.com/skarfjs/
 - http://cg.skeelogy.com/skulptjs/

**Date**: After new year.

[2016-01-04 14:24] jackdalton commented on #19
Happens on http://chandlerprall.github.io/Physijs/examples/jenga.html as well.

[2016-01-05 10:36] sasha240100 opened #24 "[Design] #blocker div looks primitive"
Blocker div haven't changed since we made fps example. I think you may need to change design (css)
For example i like example [something like this](https://www.google.com.ua/search?q=splash+screen&biw=1422&bih=731&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjRxrbGuZLKAhVHk3IKHaCwC6MQ_AUIBigB#tbm=isch&tbs=rimg%3ACSOclWhlm7zsIjgwhGBZBYI74Ulw8EDD_1Q-CTp2qwYZVTaO4RNuHSZ7LLjo9kp10TUtqvQofDxRYf_1K8AamM9j8qfyoS

[2016-01-05 10:48] sasha240100 commented on #15
Solved in [physijs-port](https://github.com/WhitestormJS/whitestorm.js/tree/Physijs-port). Closing #15.

[2016-01-05 10:49] #15 closed

[2016-01-05 10:51] #4 closed

[2016-01-05 11:56] sasha240100 opened #25 "[Improve] Engine structure."
To-do:
- [x] **Fix code style in**:
   - [x] `src/libs/firstPersonControls.js` (Remove unnecessary varibles, unused lines of code) (Follow guidelines)
   - [x] `src/Objects/addObject.js` (Unused code. Complexity.) (Follow guidelines)
   - [x] `src/Skybox/addSkybox.js` (Unused code. Complexity.) (Follow guidelines)
   - [x] `src/Shaders/ShaderTerrain.js` (Remove commented code) (Follow guidelines)

[2016-01-05 15:19] jackdalton commented on #24
Great idea, I'm on it.

[2016-01-05 15:57] jackdalton commented on #19
Confirmed by another user [here](https://www.reddit.com/r/javascript/comments/3ze9s4/cannonjs_impressive_physics_engine_written_in/cymjfab).

[2016-01-05 16:21] jackdalton commented on #24
Huh, thought 8caad8e would close this. Thanks GitHub.

[2016-01-05 20:16] sasha240100 commented on #24
@jackdalton We don't need just an image. (Reason: too primitive.). We need a splash screen. This fps example later will be a shooter game(for example). So, please make a start screen that introduce user how to use this game (we need those text that describes controls. You can change this text, but it must describe controls.)
I said i like only design from those images (colors, style). It shouldn't

[2016-01-05 20:20] jackdalton commented on #24
Got it.

[2016-01-09 16:28] sasha240100 opened #27 "[Improve] README update"
We need to make **README** looks more friendly.
Example of good README:

![README example](https://cdn-images-1.medium.com/max/1200/1*JK3G5F-iIO7JFwxN9Dnwrw.png)

[2016-01-12 23:48] sasha240100 opened #29 "[Fix] Clean unused uniforms in terrain shader"
Now uniforms looks like:

[code]

We have some unused ones in code. **We need to remove them.**

[2016-01-13 00:15] sasha240100 opened #30 "[Bug] Build 117 (0594835) fails on travis-ci"
I changed quotes to new ones (`) and now travis-ci throws new js parse error.
[MDN about quotes](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/template_strings#Multi-line_strings)
**gulp build** throws same error.
![build 117 whitestormjs whitestorm js travis ci](https://cloud.githubusercontent.com/assets/7657429/12281024/597c84e6-b99b-11e5-854a-e8830e5fb281.png)

 Result of 05

[2016-01-13 00:39] Noctisdark commented on #30
This is an ES6 new feature an probably only supportes in Chrome and Mozilla, I think It is too early to use it, although there are transpilers out there .

[2016-01-13 01:31] jackdalton commented on #30
Yes, [template strings](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/template_strings) are not yet fully supported in many environments. We could potentially pipe our gulp tasks to Babel, [like I did with another project](https://github.com/jackdalton/e2d/blob/master/gulpfile.js#L41-L43).

It works flawlessly, and I see no obvious downside.

[2016-01-13 01:59] jackdalton commented on #30
[This](https://gist.github.com/jackdalton/e3e11351d6c82b3841d6) would fix it (I just ran it through Babel), but it's quite unreadable.

[2016-01-13 10:55] sasha240100 commented on #30
We forgot 1 babel plugin.

[2016-01-13 11:18] #30 closed

[2016-01-13 11:18] sasha240100 commented on #30
Fixed.

[2016-01-13 11:48] Noctisdark commented on #30
Great work, I think Including babel is a very good idea, It'll handle all polyfill for unsupported features for us, promises, extends and all !

[2016-01-13 11:52] sasha240100 commented on #30
@Noctisdark Thanks! ^^

[2016-01-13 11:53] sasha240100 commented on #30
@Noctisdark Thanks! ^^

[2016-01-13 12:01] sasha240100 commented on #25
Assigned to @WhitestormJS/whitestormjs-dev-team

[2016-01-13 12:10] sasha240100 opened #31 "[Bug] Babel adds "use strict"; code doesn't work!"
Console logs:
[code]

[2016-01-13 12:16] #31 closed

[2016-01-13 12:17] sasha240100 commented on #31
Removed simple-worker library. Anyway, we don't use it!

[2016-01-13 14:18] Noctisdark commented on #31
How is this related to strict mode ?

[2016-01-13 14:36] sasha240100 commented on #31
@noctisdark Babel adds use strict. This small library worked before.

[2016-01-13 15:08] Noctisdark commented on #31
Yes, but we probabl want to find what is it in this library that doesn't fit with strict mode.
since we do not use it it's okay.

[2016-01-17 21:43] sasha240100 opened #32 "[Bug] Readme badges don't work"
Here is what i see:
![](https://drive.google.com/uc?export=view&id=0B3_nOx8jknTjVndteUpTT0h0OTg)

[2016-01-17 21:47] jackdalton commented on #32
Restarted the badge server. I'm going to see if I can add a script to the server to keep Heroku from putting the server to sleep.

[2016-01-17 21:55] jackdalton commented on #32
I added our app to [Kaffeine](http://kaffeine.herokuapp.com/)'s list, but [it'll have 6 hours of downtime no matter what we do](https://devcenter.heroku.com/articles/dyno-sleeping#quota).

[2016-01-17 23:58] #32 closed

[2016-01-19 11:58] sasha240100 commented on #25
@WhitestormJS/whitestormjs-dev-team

[2016-01-19 13:04] sasha240100 opened #33 "[Bug] MouseEvent Polyfill for browsers"
Currently script won't work correctly because missed 1 thing:
[code]

It checks for moz in chrome, and return false. Correct one:

[code]

[2016-01-19 13:05] #33 closed

[2016-01-19 13:09] jackdalton opened #34 "[Improve] Add more tests"
When I set up our test script, I just added a couple of tests; all these do is make sure that there are no syntax errors in the compiled output.

[Tests are run by Mocha](https://mochajs.org/#getting-started).

[Here's an example of a more comprehensive test suite](https://github.com/E2D/e2d/blob/master/test/test.js).

[2016-01-19 13:51] sasha240100 commented on #34
@jackdalton Do we need `test` folder?

[2016-01-19 13:57] jackdalton commented on #34
@sasha240100 Yes, we do need `/test`.

[2016-01-19 14:10] sasha240100 opened #35 "[Bug] api.extend doesn't support deep objects."
![image](https://cloud.githubusercontent.com/assets/7657429/12420722/f9d8cb4a-bec6-11e5-8f27-37898e8d3a58.png)

It must be:
[code]

[2016-01-20 03:08] jackdalton commented on #34
I changed the label to hard, because it's going to be quite difficult getting all of these dependencies to run server side.

[2016-01-20 04:34] bdirl opened #36 "[Improve] Add lang attr on HTML tag"
**Lang attribute on HTML tag** helps people finding out if they will understand content without having to get deep into it.

For more information go to [W3] (http://www.w3schools.com/tags/att_global_lang.asp)

**What files to fix**:
examples/basic.html
examples/basic_material.html
examples/basic_model.html
examples/fps.html
examples/plugin_example.html
examples/skybox.html
examples/stone_wall.html

[2016-01-20 05:11] bdirl opened #37 "[Improve] Use aria attributes"
**Accessible Rich Internet Applications (ARIA)**

**Use accessibility attributes** like aria-label to provide meaningful information for people with visual disabilities.

For more information go to [ARIA in HTML] (https://www.w3.org/TR/html-aria/)

**What files to fix**:
examples/basic.html
examples/basic_material.html
examples/basic_model.html
examples/fps.html
examples/plugin_example.html
exampl

[2016-01-20 05:23] bdirl opened #38 "[Improve] Define platform icons"
**Platform icons** helps user pinning your website with an icon that fits well on mobile device home.

**What files to fix**:
examples/basic.html
examples/basic_material.html
examples/basic_model.html
examples/fps.html
examples/plugin_example.html
examples/skybox.html
examples/stone_wall.html
or any new example *.html file

**How To Do it**:
add Apple - iOS icons by adding link tags like
'< link r

[2016-01-20 05:34] bdirl opened #39 "[Improve] Use meta viewport"
**Use meta viewport tag** to choose how your website will get scaled on smaller devices like phones.

**What files to fix**:
examples/basic.html
examples/basic_material.html
examples/basic_model.html
examples/fps.html
examples/plugin_example.html
examples/skybox.html
examples/stone_wall.html
or any new example *.html file

**How To Do it**:
 Define at least <meta name="viewport" content="width=dev

[2016-01-20 05:46] bdirl opened #40 "[Improve] Use responsive approaches"
Even if your website target only certain devices, you may have users with unexpected devices or screen ratio.

For more information see [Responsive Web Design] (https://developers.google.com/webmasters/mobile-sites/mobile-seo/responsive-design?hl=en)

**What files to fix**:
examples/basic.html
examples/basic_material.html
examples/basic_model.html
examples/fps.html
examples/plugin_example.html
exa

[2016-01-20 06:00] bdirl opened #41 "[Improve] Try bundling your files"
**Multiple http requests makes your site slower**, especially on mobile devices.

**What files to fix**:
examples/basic.html
examples/basic_material.html
examples/basic_model.html
examples/fps.html
examples/plugin_example.html
examples/skybox.html
examples/stone_wall.html
or any new example *.html file

**How To Do it**:
 Preliminary tests with Vorlon.JS show that there are more than 5 scripts fil

[2016-01-20 06:17] bdirl opened #42 "[Improve] Incorrect use of prefixes"
Ensure you use all vendor prefixes and unprefixed version for HTML5 CSS properties.

For more information see [CSS3 animation Property] (http://www.w3schools.com/cssref/css3_pr_animation.asp)

**What files to fix**:
examples/basic.html
examples/basic_material.html
examples/basic_model.html
examples/fps.html
examples/plugin_example.html
examples/skybox.html
examples/stone_wall.html
or any new examp

[2016-01-20 09:43] sasha240100 commented on #36
@bdirl I think it will be a good start to work with us:) Do it!

[2016-01-20 09:44] sasha240100 commented on #38
@bdirl All those icons you can find in `development/art/logo/` folder.

[2016-01-20 09:49] sasha240100 commented on #41
@bdirl Only `examples/fps.html` needs it. Other ones are basic, so there are less requests.

[2016-01-23 21:08] #35 closed

[2016-01-26 00:30] jackdalton commented on #19
mrdoob/three.js#6929

[2016-01-26 13:03] jackdalton commented on #19
[spite's suggestion](https://github.com/mrdoob/three.js/issues/6929#issuecomment-127413599) yielded nothing, composer size is set [here](https://github.com/WhitestormJS/whitestorm.js/blob/master/src/whitestorm.js#L185).

[2016-01-27 13:28] bdirl commented on #42
Added the following into each *.html file

<pre>
    <style>
     #animation {
        -webkit-animation: play 2s steps(100) infinite;
        -moz-animation:    play 2s steps(100) infinite;
        -o-animation:      play 2s steps(100) infinite;
        animation:         play 2s steps(100) infinite;
        margin-left: calc(50% - 50px);
      }

      @-webkit-keyframes play {
        100% { tr

[2016-01-27 13:32] bdirl commented on #39
Added the following to all *.html files:
<pre>
<meta name="viewport" content="width=device-width, initial-scale=1" />
</pre>

[2016-01-27 13:35] bdirl commented on #38
Added the following to all *.html files:
<pre>
<link rel="apple-touch-icon-precomposed" href="http://whitestormjs.xyz/favicon.ico" sizes="57x57" />
 <meta name="msapplication-square150x150logo" content="../development/art/logo/ico150.png" />
</pre>

[2016-01-27 13:49] bdirl commented on #36
Added the following into each *.html file:

'< html lang="en-US">'

[2016-01-27 14:16] bdirl commented on #37
Other people suggestions:
Etienne Margraff ‏@meulta => http://html5doctor.com/using-aria-in-html/
Matteo Pescarin @ilpeach  => https://www.w3.org/TR/wai-aria/

[2016-01-28 15:32] Noctisdark opened #44 "[Bug] Object controls"
Cannot control object position, rotation or scale with it's scope.
Example
[code]
I suggest making scope._pos the same as mesh.pos

[2016-01-28 15:43] #36 closed

[2016-01-28 15:43] #38 closed

[2016-01-28 15:43] #39 closed

[2016-01-28 15:43] #42 closed

[2016-01-28 15:51] sasha240100 commented on #44
@Noctisdark I will take care of it.

[2016-01-28 15:53] Noctisdark commented on #44
Okey ^^

[2016-01-29 21:47] sasha240100 commented on #22
Related to #2

[2016-01-29 21:47] sasha240100 commented on #2
Water physics: https://github.com/skeelogy/ifc-ar-flood
Shader: https://www.shadertoy.com/view/Ms2SD1

[2016-01-30 10:01] Mugen87 commented on #19
See [WebGL shader fails to initialize](https://code.google.com/p/chromium/issues/detail?id=550487). The bug will be fixed with Chrome 49.

The dev-build of Chrome already contains the fix. All my test cases work properly.

[2016-01-30 14:23] Mugen87 commented on #19
Besides, the error doesn't occur with the latest `dev` version of three.js.

[2016-01-30 15:08] sasha240100 commented on #19
@Mugen87 Thanks! Is that version stable now?

[2016-01-30 15:46] Mugen87 commented on #19
@sasha240100 No, it's just the latest build of the `dev` branch. I don't recommend to use it in production. This [commit](https://github.com/mrdoob/three.js/commit/8ecba28065584fbefe7ba006c2127947eb76f8df) fixes the issue. If you need a hotfix, you can implement it in a custom build of three.js.

[2016-01-30 16:07] sasha240100 commented on #19
@Mugen87 Will [this](https://www.google.com/chrome/browser/desktop/index.html?platform=linux&extra=devchannel) one support this fix?*(dev channel)*

[2016-01-30 16:47] Mugen87 commented on #19
Yeah, i use this version of Chrome on my Ubuntu.

[2016-01-30 17:24] jackdalton commented on #19
@Mugen87 Thanks for taking the time to help us out with this, not being able to see some of our demos has been driving me crazy. I grabbed [`google-chrome-dev`](https://aur.archlinux.org/packages/google-chrome-dev) out of the AUR, and everything works. I've just been using [`google-chrome-beta`](https://aur.archlinux.org/packages/google-chrome-beta), I never thought to test with Chrome's dev build

[2016-01-31 14:34] jackdalton commented on #24
Draft:

![draft image](https://cloud.githubusercontent.com/assets/10249860/12702706/0dac809c-c7ed-11e5-9a8b-512a9d64e7b1.png)

[2016-01-31 15:11] noxowe opened #45 "[Bug] FPS Example not working in Safari"
![Dev tools console](https://cloud.githubusercontent.com/assets/7858366/12702893/3a013640-c835-11e5-94c0-e7b0c084e319.png)

[2016-01-31 15:13] jackdalton commented on #45
Interesting. Looking past the blocker div, it looks like there's no terrain. What happens if you click the blocker div (anywhere on the page)?

[2016-01-31 15:14] noxowe commented on #45
@jackdalton I get a weird error:
TypeError: undefined is not an object (evaluating 'element.requestPointerLock') on line 3922 of Whitestorm.js

[2016-01-31 15:21] jackdalton commented on #45
[Line 3922](https://github.com/WhitestormJS/whitestorm.js/blob/master/build/whitestorm.js#L3922) handles pointer lock, and it looks like that comes from [line 257](https://github.com/WhitestormJS/whitestorm.js/blob/master/src/Controls/FPSControls.js#L257) of `FPSControls.js`. It looks like `element` is undefined.

`element` is defined [here](https://github.com/WhitestormJS/whitestorm.js/blob/maste

[2016-01-31 15:24] noxowe commented on #45
@jackdalton false

[2016-01-31 15:25] jackdalton commented on #45
@noxowe Hmm... What version of Safari are you using?

[2016-01-31 15:26] noxowe commented on #45
@jackdalton latest, my OSX is always updated to the latest version and I use Macbook Air 2015 edition

[2016-01-31 15:34] jackdalton commented on #45
@noxowe Yeah, I'm seeing the same thing on BrowserStack.
![image](https://cloud.githubusercontent.com/assets/10249860/12703018/59dd17ee-c7f5-11e5-8dd9-b22dce9b2c86.jpg)

[2016-01-31 15:35] noxowe commented on #45
@jackdalton this seems to be a version before Yosemite I think. This isn't my version

[2016-01-31 15:35] jackdalton commented on #45
@noxowe Yep, it was on Mavericks.

[2016-01-31 15:35] jackdalton commented on #45
@noxowe It looks like [Safari doesn't support the PointerLock API](http://caniuse.com/#feat=pointerlock).

[2016-01-31 15:38] jackdalton commented on #45
@noxowe Can you tell me if [this](http://mrdoob.github.io/three.js/examples/misc_controls_pointerlock.html) works?

[2016-01-31 15:39] noxowe commented on #45
@jackdalton "Your browser doesn't seem to support Pointer Lock API" with a bunch of cubes in the background

[2016-01-31 15:53] jackdalton commented on #45
@noxowe That confirms it then, it's a lack of compatibility on Safari's end. Thanks for reporting this. I added a more specific warning in 2ea220a.

[2016-02-01 02:29] #19 closed

[2016-02-02 05:47] tiansijie commented on #3
nice project, eslint is a good option for coding style.

[2016-02-02 06:20] sasha240100 commented on #3
@tiansijie Thanks!:)

[2016-02-04 16:40] #25 closed

[2016-02-04 16:41] sasha240100 opened #48 "[Improve] api.construct and basic shapes to es6 classes."
**Links**:
 - https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Classes#Class_declarations
 - http://javascriptplayground.com/blog/2014/07/introduction-to-es6-classes-tutorial/

[2016-02-04 18:46] #44 closed

[2016-02-07 19:37] dirkk0 opened #50 "[Bug] Broken example link on website; broken examples"
Hi,

  I have some problems on http://whitestormjs.xyz/.

The link to the bottom right example is broken:
http://192.241.128.187/current/examples/basic_object.html
and the link top right gives me this error message on the console:
"Uncaught TypeError: api.construct is not a function"

Best,
  Dirk

[2016-02-07 19:44] jackdalton commented on #50
Yep, we're currently in the midst of some big changes. Unfortunately, this involves some broken examples.

Thanks for pointing out the broken link, I wasn't aware of that! I'll fix it shortly.

[2016-02-07 19:45] sasha240100 commented on #50
Hi, @dirkk0

That example is no linger supported since version 0.0.6
I know that [Plugin/Color](http://192.241.128.187/current/examples/plugin_example.html) example doesn't work and i will fix it with next commit relating to #48.
I will update links on site as soon as i can:)

Check also [those](http://192.241.128.187/current/examples/plugin_example.html) examples.

[2016-02-07 19:53] sasha240100 commented on #50
@dirkk0 @jackdalton Issue moved to https://github.com/WhitestormJS/whitestormjs.github.io/issues/3

[2016-02-07 19:53] #50 closed

[2016-02-07 20:00] jackdalton commented on #50
Fixed by [51e48d8](https://github.com/WhitestormJS/whitestormjs.github.io/commit/51e48d8c4e2dc76a86f60f5a0695836ac8e5f7e5).

[2016-02-10 20:21] #3 closed

[2016-02-10 20:41] #48 closed

[2016-02-10 20:54] sasha240100 opened #51 "[Improve] Update Core.js with es6 features and fix code style."
Just made a brief review of `Core.js` file, and noticed that we use too much code in one function, we need to make it more simple and understandable for developers who want to look in code.

ES6 features to use: https://github.com/lukehoban/es6features

![image](https://cloud.githubusercontent.com/assets/7657429/12961455/38959ca8-d049-11e5-9517-f2ee871e7a67.png)

[2016-02-10 20:57] sasha240100 commented on #41
@bdirl Have you done it?

[2016-02-10 22:00] sasha240100 opened #52 "[Improve] Update Three.js version (r74)"
We need to update **three.js** dependencies. Latest revision is 74. Also it will solve problem #19

[2016-02-13 22:07] #51 closed

[2016-02-14 12:17] sasha240100 opened #53 "[Improve] Make a plugin for wagner effects and post-effects system."
**Reason:** We need to move wagner to plugins, because now user need to add Wagner libraries each time, even he doesn't need it.

**Improvement:** Less libraries and data processing for apps, who don't use Wagner effects.

_**Wagner effects will be in their own repository.**_

[2016-02-14 13:13] sasha240100 commented on #52
Priority changed because r74 changelog and migration aren't complete now.

[2016-02-14 20:30] #53 closed

[2016-02-27 18:37] bdirl commented on #40
sasha240100,
Once you said on the Slack, that WHS should be considered as a game for the desktop computers, meaning a big screen with high resolution. Having that fact in mind, to fix #40 the following line should be added to any *.html file of whitestorm.js game:

'< style>
  @media only screen and (min-width: 10000px; orientation: landscape) {
  }
'< /style>

@media includes the following media

[2016-02-27 18:37] #40 closed

[2016-02-27 18:40] sasha240100 commented on #40
@bdirl Thanks!

[2016-02-27 19:16] bdirl commented on #41
sasha240100, Please leave a comment and close this issue.

#41 should be renamed from an issue to the rile as WHS is still in the development phase, and the rule is the following:

The load time of any WHS *.html page should be less than 1 second. To achieve that, the *.html page should have:

1) less than 5 javaScript files, all of them should be the latest versions, and compressed, for an exampl

[2016-02-27 19:29] sasha240100 commented on #41
@bdirl
1) For now we use examples(tests) at most for developing WhitestormJS engine while it is a development version yet. So it is better to use .js files as we can see a clear code and find errors faster.
2) Let's make at least beta-version first, or we can just make examples for testing separately from examples for users.
3) Agreed.
4) Hmmm... Users need to see the source of examples. They will

[2016-02-27 19:29] #41 closed

[2016-02-27 20:18] bdirl commented on #37
sasha240100, Please comment this issue and close it.

There are a lot of rules that should be applied to any html file and allow people with visual disability to read those pages. When I said read, ARIA allows The Screen Readers to focus and navigate the person through HTML page elements (text, buttons, links, forms, tables, menus, .... The best site with all applied ARIA elements is the https://w

[2016-02-27 21:16] sasha240100 commented on #37
@bdirl Actually, it already contains ;) Feel free to edit: https://github.com/WhitestormJS/whitestormjs.github.io

[2016-02-27 21:16] #37 closed

[2016-03-02 17:16] rongierlach opened #54 "[Bug] Adding AmbientLight to scene breaks the build"
[code]

Throws:
Uncaught TypeError: Cannot read property 'mapSize' of undefined

[2016-03-02 17:22] sasha240100 commented on #54
@rongierlach I'll fix it with update to Three.js r74. (In 15 minutes)

[2016-03-02 17:23] sasha240100 commented on #54
@rongierlach Try now: http://192.241.128.187/current/examples/fps.html

[2016-03-02 17:29] rongierlach commented on #54
Looks like latest push is causing a looping error for me:

Uncaught TypeError: Cannot read property 'camera' of undefined

[2016-03-02 17:30] sasha240100 commented on #54
@rongierlach Can you give me a link to your code?

[2016-03-02 17:38] sasha240100 commented on #54
/ping @rongierlach

[2016-03-02 17:55] rongierlach commented on #54
The blocks at Line 114 or Line 141

https://github.com/rongierlach/gulp-frontend/blob/whitestorm/src/coffeescripts/main.coffee

[2016-03-02 18:01] sasha240100 commented on #54
@rongierlach I'll take a look

[2016-03-02 18:08] sasha240100 commented on #54
@rongierlach How can i install&start your app?

[2016-03-02 18:15] rongierlach commented on #54
Something to this effect:
[code]
Let me know if you have any trouble!

[2016-03-02 18:20] sasha240100 commented on #54
@rongierlach

[code]

[2016-03-02 18:38] sasha240100 commented on #54
@rongierlach Nevermind, Fixed that

[2016-03-02 18:56] sasha240100 commented on #54
@rongierlach Almost ready
![image](https://cloud.githubusercontent.com/assets/7657429/13471417/297e63b4-e0b9-11e5-91ba-5e20a29e25b0.png)

[2016-03-02 18:58] sasha240100 commented on #54
@rongierlach This, right?
![image](https://cloud.githubusercontent.com/assets/7657429/13471455/59c90344-e0b9-11e5-9ef1-882b76db4fd3.png)

[2016-03-02 19:06] sasha240100 commented on #54
Ok, now i see

[2016-03-02 19:08] rongierlach commented on #54
@sasha240100

Sorry I'm late to respond, at working and looking at github when I get the second.
You'll need to uncomment one of the blocks where an AmbientLight is added.

Lines 114 - 116 for instance.

[2016-03-02 19:38] sasha240100 commented on #54
@rongierlach Solved!
![image](https://cloud.githubusercontent.com/assets/7657429/13472682/ab858540-e0be-11e5-9af5-8b7906094739.png)

**Give me write access and i will push it to your repo.**
![image](https://cloud.githubusercontent.com/assets/7657429/13472793/13118b14-e0bf-11e5-97a0-32934c83b719.png)

[2016-03-02 19:40] sasha240100 commented on #54
@rongierlach I updated your three.js version(r73 -> r74) and Wagner.js(they made changes after r74 was released)

[2016-03-02 19:56] sasha240100 commented on #54
@rongierlach https://github.com/rongierlach/gulp-frontend/pull/1 - Made a pull request. No need for opening access for me now.

[2016-03-02 19:57] rongierlach commented on #54
Thanks!

[2016-03-02 19:57] #54 closed

[2016-03-02 19:57] sasha240100 commented on #54
@rongierlach You're welcome!

[2016-03-02 19:58] #52 closed

[2016-03-05 19:34] sasha240100 opened #58 "[Bug] WHS.Ring and WHS.Torus are similar objects."
Now `WHS.Ring` and `WHS.Torus` are same objects, but we need to make them different. Because ring is a 2D shape, and Torus is 3D.

[2016-03-05 21:06] sasha240100 opened #59 "[Bug] Make WHS.Smooth to be infinite and WHS.Plane to be just ok"
(Will write desc soon.)

[2016-03-06 13:30] sasha240100 opened #60 "[Improve] WHS.PointLight and WHS.SpotLight need to be updated."
There are some properties like `exponent` and `decay` that need to be applied to these lights.

[2016-03-07 16:02] sasha240100 commented on #54
@rongierlach I will release docs this week.

[2016-03-21 09:41] sasha240100 opened #61 "[Improve] Update three.js version to r75"
There is new version of threee.js out and we need update it. I'll create a new branch called `three.js#75` and will work there.

[2016-03-21 10:21] #61 closed

[2016-03-21 10:22] #58 closed

[2016-03-21 15:59] #59 closed

[2016-03-21 16:03] sasha240100 opened #63 "[Improve] Fix JSDoc."
Whitestorm.js must provide [jsdoc](http://usejsdoc.org/) for each class or component.

For classes:
 - [es2015](http://usejsdoc.org/howto-es2015-classes.html)

[2016-03-21 20:23] sasha240100 opened #64 "[Improve] WHS.Shape/WHS.Light remove() need to set null to it's root."
Remove funtion only removes object from scene now:

[code]

It should remove object also from WHS.World's children array and remove object's (shape's/light's) root value.

[2016-03-21 20:30] sasha240100 commented on #64
**UPDATE**

WHS.Shape's retrieve() function add's shape back to this.root (WHS.World) object. But it won't because we remove `this.root` value each time we remove object. You should also add something like `this.last_root` that will always store WHS.World in which this shape was last time.

*The same for `WHS.Light`*

[2016-03-21 20:54] Noctisdark commented on #64
It should be removed from ```this.root.children``` and ```this.root.modellingQueue```.
Something, like this will do
[code]
Why should we remove object light and shape value ?

[2016-03-21 21:03] sasha240100 commented on #64
@Noctisdark Where have you been? Join our discussion in slack!

[2016-03-21 21:06] sasha240100 commented on #64
@Noctisdark We shouldn't remove light/shape value. We should remove it's root property value.

``javascript
 // WHS.Shape object

{
 //...tratata
 mesh: {},
 root: WHS.World // We should set it to null
}

[code]

[2016-03-21 21:23] #63 closed

[2016-03-21 22:22] sasha240100 commented on #64
@Noctisdark The problem is that remove function removes object only from scene in `WHS.World` object, but it also should remove object from children array in that `WHS.World` and should delete own root property or set to null.

**When object is added to WHS.World**:
[code]

**And another situation:**
[code]

And same for modellingQueue array (like children), but it's only for morph meshes (`WHS.Mo

[2016-03-21 22:55] Noctisdark commented on #64
Retrieve should this root to the old root too ?

[2016-03-22 07:37] #64 closed

[2016-03-23 13:17] #60 closed

[2016-03-23 14:04] jackdalton opened #70 "Plugin/Color example broken"

[2016-03-23 14:07] #70 closed

[2016-03-27 16:17] #5 closed

[2016-03-30 21:40] sasha240100 commented on #24
![image](https://cloud.githubusercontent.com/assets/7657429/14158429/aec19340-f6d8-11e5-93c3-3db5d452bbb2.png)
 * Fix margin between gif and text.
 * When pressing links (github, twitter) - it opens in a new tab, and nothing happens on page (#blocker don't hide)
 * **Why do you put whitestorm.js logo everywhere?** Fill this place with something another.

![image](https://cloud.githubusercontent.co

[2016-03-31 13:49] sasha240100 commented on #27
![image](https://cloud.githubusercontent.com/assets/7657429/14177742/657a4dac-f760-11e5-8cf1-1deae093ed10.png)
* Add visualization for webworkers.
* Add image for plugin system.
* Add image/visualization for automatiozation.

[2016-04-01 12:47] sasha240100 commented on #54
@rongierlach whitestormjs.xyz - docs are here.

[2016-04-03 16:48] sasha240100 commented on #24
@t4r0 Made some changes. Now all is okay. But i suggest to make 1 more gif for mouse (like WASD). Can you make such? (After that i will close this issue.)

[2016-04-08 13:52] sasha240100 opened #74 "Adding LOD feature"
As you remember from terrain updating issue #9 we need to improve terrain generation. And there is one post similar to http://threejs.org/examples/#webgl_lod how we can improve fps while rendering large objects.

[2016-04-17 08:23] #27 closed

[2016-04-17 08:24] #6 closed

[2016-04-17 08:24] #17 closed

[2016-04-17 08:24] #18 closed

[2016-04-17 08:24] #24 closed

[2016-04-17 08:31] sasha240100 opened #75 "[Improve] Adding helpers [Light, Shape, World]"
We are going to add helpers such as light helper, shadowmap helper, grid, etc.
Such helpers will allow users to simply debug their 3d objects. It is very useful.
![](http://2.bp.blogspot.com/-mUGWmk2uwj8/UiuZsfoxNcI/AAAAAAAAANA/E5NHpHMnalM/s1600/shadow2.png)

- [x] WHS.Light
- [x] WHS.Shape
- [x] WHS.World
- [x] WHS.Camera

[**task#75** branch.](https://github.com/WhitestormJS/whitestorm.js/tree/t

[2016-04-17 09:39] sasha240100 opened #76 "[Bug] retrieve() should use addTo()."
Currently _retrieve()_ function of WHS.Shape and WHS.Light is an opposite to _remove()_, but it is better to use addTo() function, because it is more optimized for adding WHS object to world.

**Do it after _task#75_ is complete!**

[2016-04-17 13:10] jackdalton opened #77 "Add module for sound system"
One thing that WhitestormJS is currently lacking is something to take care of sound that doesn't require the user to fool around with the [web audio API](https://developer.mozilla.org/en-US/docs/Web/API/Web_Audio_API).

[2016-04-20 13:30] sasha240100 opened #81 "WHS.Object as a core of all whitestorm.js objects"
Let's make a global class that will be a base of WHS.Light, WHS.Shape and others.

[2016-04-20 17:40] #81 closed

[2016-04-20 17:46] sasha240100 opened #83 "[Improve] Add WHS.Camera object that will wrap three.js's camera."
**From three.js**:
- [THREE.Camera object](http://threejs.org/docs/index.html#Reference/Cameras/Camera)
- [THREE.CubeCamera object](http://threejs.org/docs/index.html#Reference/Cameras/CubeCamera)
- [THREE.OrthographicCamera object](http://threejs.org/docs/index.html#Reference/Cameras/OrthographicCamera)
- [THREE.PerspectiveCamera object](http://threejs.org/docs/index.html#Reference/Cameras/Perspe

[2016-04-23 06:24] #83 closed

[2016-04-23 06:25] #75 closed

[2016-04-23 06:28] sasha240100 opened #86 "[Bug] Mesh/light/camera cannot be overwritten by build() function."
When you call build() it will update your mesh position, but not your mesh.

[2016-04-23 09:43] #86 closed

[2016-04-26 09:25] sasha240100 opened #87 "[Improve] Follow function for WHS.Camera"
As for WHS.Shape we should have a follow() function for WHS.Camera class. There will be 2 possible variations:
 - [x] WHS.Camera flying along **THREE.Curve** and looking at **THREE.Vector3**
 - [x] WHS.Camera flying along **THREE.Curve** and looking at points of another **THREE.Curve**

###### Version:
 - [x] r9 (dev)
 - [ ] r8
 - [ ] r7

###### Issue type:
 - [ ] Bug
 - [x] Proposal/Enhancement

[2016-04-26 14:45] jeserkin opened #88 "[Question] Text object font property throws an error"
Created a `Text` object and in parameters for `font` property I specified `'Arial'`. For some reason app sends a `GET` request for this font, that obviously returns **404**.

[code]

All app script looks like this:
[code]
###### Version:
 - [ ] r9 (dev)
 - [x] r8
 - [ ] r7

###### Issue type:
 - [ ] Bug
 - [ ] Proposal/Enhancement
 - [x] Question

------

<details>
<summary> <b>Tested on: </b> </s

[2016-04-26 16:31] sasha240100 commented on #88
@jeserkin You need to put there path to your typeface font file.

[code]

You can generate your typeface file at http://gero3.github.io/facetype.js/
WHS.Text: http://whitestormjs.xyz/?javascript#text

[2016-04-26 16:35] jeserkin commented on #88
Then description is incorrect here http://whitestormjs.xyz/?javascript#text. In table it is clearl said, that `font` property is a font name and not a path to typeface.

[2016-04-26 16:44] sasha240100 commented on #88
@jeserkin Yep. Sorry. Found that. Will fix this typo in description today. Thanks for submitting this issue!

[2016-04-26 16:44] #88 closed

[2016-04-27 16:30] #87 closed

[2016-04-27 16:31] Noctisdark commented on #87
Why is this being closed ?

[2016-04-27 16:33] sasha240100 commented on #87
@Noctisdark https://github.com/WhitestormJS/whitestorm.js/commit/ed002931e5f4c847d8ecb7b949ff0e547da36d69

[2016-04-27 16:34] sasha240100 commented on #87
@Noctisdark You should be in slack to know latest news.

[2016-04-27 16:51] ghost opened #89 "Overload follow function to follow shapes"
I think it would be very nice to make allow function for camera to follow shapes ( sprites )

###### Version:
 - [x] r9 (dev)
 - [ ] r8
 - [ ] r7

###### Issue type:
 - [ ] Bug
 - [x] Proposal/Enhancement
 - [ ] Question

------

<details>
<summary> <b>Tested on: </b> </summary>
###### --- Desktop
   - [ ] Chrome
   - [ ] Chrome Canary
   - [ ] Chrome dev-channel
   - [ ] Firefox
   - [ ] Opera

[2016-05-20 18:44] InsomniacSabbir commented on #76
Hello,
May do this fix ? If so please let me know. Thank you.

[2016-05-20 18:55] sasha240100 commented on #76
@InsomniacSabbir retrieve is deprecated (user just can use addTo). But, thanks for your suggestion. We have a lot of another interesting stuff to do. If you are interested in participating - you can contact me. I recommend you to register in slack if so - http://whslack.herokuapp.com

[2016-06-23 22:49] #76 closed

[2016-06-23 22:50] #22 closed

[2016-06-23 23:28] #34 closed

[2016-06-25 06:19] OKNoah commented on #45
Skybox doesn't work either, and neither work in Safari Technology Preview.

[2016-06-25 14:31] jackdalton commented on #45
@OKNoah Are there any error messages in the console?

[2016-06-25 14:32] sasha240100 commented on #45
@jackdalton Where have you been?

[2016-06-25 14:34] jackdalton commented on #45
@sasha240100 I've been gone for a while, but I think I'm back.

[2016-06-25 14:34] sasha240100 commented on #45
@jackdalton Let's move to slack

[2016-06-25 14:59] jackdalton commented on #45
@OKNoah If it's a matter of incompatibility with the PointerLock API, then you should see the following warning: "Your browser does not support the PointerLock API," which was added by 2ea220a.

[2016-06-25 15:00] sasha240100 opened #92 "@jackdalton"

[2016-06-25 15:01] #92 closed

[2016-06-25 18:46] sasha240100 opened #93 "Make more performance tests."
Develop 3 more performance tests using benchmarkjs. All tests should be in **test/benchmark** and should be named as *.spec.js

[2016-06-26 08:44] sasha240100 commented on #93
Moved working branch: BenchmarkTests -> **master**

[2016-06-26 09:06] sasha240100 opened #95 "Check code styles"

[2016-06-26 21:55] sasha240100 opened #96 "Split physi.js file. Make it modular."
Physi.js should become modular as whitestorm.js is.
**Working branch: "task#96"**
![image](https://cloud.githubusercontent.com/assets/7657429/16365353/6f200ffa-3c06-11e6-9f62-bb6a90b602b6.png)

===TIPS===
- Use es6 import syntax

[2016-06-26 22:19] sasha240100 commented on #96
Uploaded suggested structure.

[2016-06-26 22:42] jackdalton commented on #96
To do:

- [ ] `eventable.js`
- [ ] `index.js`
- [ ] `core/mesh.js`
- [ ] `core/scene.js`
- [ ] `core/material.js`
- [ ] `constraints/PointConstraint.js`
- [ ] `constraints/HingeConstraint.js`
- [ ] `constraints/SliderConstraint.js`
- [ ] `constraints/ConeTwistConstraint.js`
- [ ] `meshes/planeMesh.js`
- [ ] `meshes/heightfieldMesh.js`
- [ ] `meshes/boxMesh.js`
- [ ] `meshes/sphereMesh.js`
- [ ] `m

[2016-06-27 20:58] #96 closed

[2016-06-28 08:18] sasha240100 opened #98 "Improve physi.js"

[2016-07-04 07:56] sasha240100 opened #99 "Make support for loading other types of models like .obj, etc."

[2016-07-06 13:52] #98 closed

[2016-07-06 19:12] jackdalton commented on #45
No reply after 11 days. Closing.

[2016-07-06 19:12] #45 closed

[2016-07-06 23:53] sasha240100 opened #101 "Fix Chrome running in Travis CI"

[2016-07-08 02:43] OKNoah commented on #45
@jackdalton I don't see that warning, just the tornado animation perpetually.

[2016-07-08 02:45] jackdalton commented on #45
@OKNoah Is there anything else in the console?

[2016-07-08 17:46] #95 closed

[2016-07-08 21:14] sasha240100 commented on #101
@jackdalton Any updates there?

[2016-07-08 21:18] jackdalton commented on #101
None, I'll take another look when I get home from work.

On Fri, Jul 8, 2016 at 3:14 PM, Alexander Buzin <notifications@github.com>
wrote:

[2016-07-08 22:31] OKNoah commented on #45
@jackdalton Here are the console errors. No messages.

[code]

[2016-07-08 22:36] sasha240100 commented on #45
@OKNoah Possibly it happened after the original link changed. We use deploybot to run examples in web immediately after they are pushed to `master` branch. It doesn't delete old files, so it just creates/overwrites new. Try [new link](http://192.241.128.187/current/examples/fps/shooter/). If the error is still there - let me know. I see by your log that it is an old example which is located by htt

[2016-07-12 00:23] sasha240100 opened #102 "Make a sprite"
This class should be based on *WHS.Object* and located in `src/scenes` folder. It wraps THREE.Sprite functionality to make it have a look a whitestormjs-style :D Have a look at *WHS.Shape* or other class that extends *WHS.Object*

[2016-07-13 03:49] sasha240100 commented on #102
http://threejs.org/docs/#Reference/Objects/Sprite

[2016-07-21 01:32] sasha240100 opened #103 "Fix collide event ("collision")"

[2016-07-28 19:48] #102 closed

[2016-07-28 19:48] #103 closed

[2016-07-28 19:48] #99 closed

[2016-07-31 07:12] sasha240100 opened #104 "Fix G_ api in meshes"

[2016-08-01 16:54] #104 closed

[2016-08-01 16:54] sasha240100 commented on #104
Fixed.

[2016-08-15 16:51] Carnewal opened #106 "Use importScripts to import Ammo in src/physics/worker.js"
Describe your issue here.

###### Version:
10

###### Issue type:
 - [x] Bug
 - [x] Proposal/Enhancement
 - [ ] Question

------

<details>
<summary> <b>Tested on: </b> </summary>
###### --- Ubuntu
   - [x] Chrome

</details>
When I try running the World/Sphere demo I get `Uncaught ReferenceError: _whsAmmo2 is not defined` in a webpack project where I installed whitestorm through npm.
I believe th

[2016-08-15 17:25] sasha240100 commented on #106
@Carnewal You mean **basic/helloword** demo? Is this issue happens only when installing from npm or from github too?

[2016-08-15 18:00] sasha240100 commented on #106
@Carnewal Uploaded a dev version, use `npm install whitestormjs@dev`. Can you try that?

[2016-08-15 19:06] Carnewal commented on #106
Only made it worse :smile:
1. Please save 'three-obj-loader' to the package.json
2. ```
Module not found: Error: Cannot resolve 'file' or 'directory' ../core/line in ...l/whitestormjs-webpack-test/node_modules/whitestormjs/lib/physics/meshes
 @ ./~/whitestormjs/lib/physics/meshes/ropeMesh.js 24:12-35
[code]

[2016-08-15 19:19] sasha240100 commented on #106
@Carnewal Ah, yep, i forgot to exclude it from code, `three-obj-loader` shouldn't be in core [I fix it with next commit].
About second problem - it seems error is because i have `Line.js` instead of `line.js`. I'm going to fix that now, should work. You may copy that from github (it will take more time if i will upload it to npm each time)

[2016-08-15 19:19] Carnewal commented on #106
Will do!

[2016-08-15 19:20] sasha240100 commented on #106
@Carnewal Btw, what project are you going to build? Tell us more:)

[2016-08-15 19:26] sasha240100 commented on #106
@Carnewal Ready: https://github.com/WhitestormJS/whitestorm.js/commit/34e2a19b7a6f90923723fec5b468c154817d5db8

Haven't uploaded to npm yet. Just copy all files you need, i will ping you when it is uploaded to npm

[2016-08-15 19:38] Carnewal commented on #106
It's for my bachelor thesis about local multiplayer gaming. I'd like to make a demo to show what's possible, that's why WhitestormJS looks promising to easily create a game with physics.

I added the dev repo to my dependencies ([(repo)](https://github.com/Carnewal/whitestormjs-webpack-test)). Line problem is fixed but the `Uncaught ReferenceError: _whsAmmo2 is not defined
2app.bundle.js:79` error

[2016-08-15 19:59] sasha240100 commented on #106
@Carnewal I see, you are trying to use whitestorm.js through es6 modules. The thing is that whitestorm.js uses webpack already with it's custom settings. Do you really need webpack for whitestorm.js?

[2016-08-15 20:00] sasha240100 commented on #106
I mean what if you will just add it's build using script tag?

[2016-08-18 09:28] sasha240100 commented on #106
@Carnewal Any updates there? May I close it?

[2016-08-18 14:53] typedef42 opened #107 "Add support for Three.EffectComposer and Three.ShaderPass"
Hi,
Support for EffectComposer to be able to render nice graphic effects with ShaderPass would be nice. It seams that you though about it in WHS.World as there is a this._composer in start() but doesn't work yet.

Do you have a roadmap for this feature, and/or already though about how to deal with it ?

###### Version:
 - [x] r10 (dev)
 - [ ] r9
 - [ ] r8
 - [ ] r7

###### Issue type:
 - [ ] Bug

[2016-08-18 19:33] sasha240100 commented on #107
@typedef42 Sure, will check it today or tomorrow. Is there some other postprocessing api i should check with it?

[2016-08-19 13:33] typedef42 commented on #107
well, one use case I have would be to use additional RenderTarget to compose some glow effect on top of my stardard render buffer.

The way I use it with Three.js is that :
1. I create another Three.camera and another Three.scene that contains only glow meshes I use in my shaders pass.
2. Then I create a new WebGLRenderTarget (witch I belive create a new FrameBuffer under the hood).
3. I bind this

[2016-08-19 14:31] sasha240100 commented on #107
@typedef42 Effect composer is that thing that lack in whitestormjs currently. Nice that you want to implement it, me too.
So, you need to follow some simple rules (make a pull request):
 1. Make all your changes in `dev` branch. I will later merge it to master.
 2. You may add new classes (no problems with that).
 3. You may make some pull requests (different ways of implementation). We will later

[2016-08-19 15:48] typedef42 commented on #107
ok, I'll take a look at it when I can, following the repo rules, no problem.
I first need to 'revive' this old project using THREE r60 and es5, and migrate it to ESNext and up to date THREE.js / whitestormjs

[2016-08-19 22:25] sasha240100 commented on #107
@typedef42 Some things / commands that will be useful for you in development and testing:
 - run `npm install` fisrt (install all npm modules, even devDependencies, check that your `NODE_ENV` is "development" before that).
 - run `gulp dev`. It is a universal command for development:) It will run all examples by `localhost:8080`. You can changes whitestorm.js source (`src/framework`) and examples

[2016-08-19 23:37] typedef42 commented on #107
Thanks, i'm already familiar with npm and gulp, i'm using them with node.js, aurelia.io/jspm in my build toolchain :)
I quickly pulled the dev branch to test, it's working but I think you miss a dep in your package.json though, its babel-polyfill.
Nice for the CLI readme, it's easier than read the gulpfile !

[2016-08-20 00:28] sasha240100 commented on #107
@typedef42 I made some updates in `dev` branch. Merge them please if you already started.

[2016-08-20 00:31] sasha240100 commented on #106
@Carnewal Some updates:
 Using files from `lib` is now deprecated. Right now i see only one an the best way is to you through script tag. Just include that file from `build` folder. If you have any other ideas (For example how can we make it modular in rational way) - you may ask me.

[2016-08-24 00:05] Tzikas opened #108 "Cannot read property 'ConvexMesh' of undefined with WHS.Text"
I'm able to get the examples working and when I paste the following in the playground it works fine, but on my local machine I get Cannot read property 'ConvexMesh' of undefined

`const text = new WHS.Text({
  geometry: {
    text: 'hello world',
    parameters: {
      font: 'assets/fonts/gentilis_bold.typeface.js',
      size: 20,
      height: 5,
      curveSegments: 6
    }
  },

  mass: 10,

[2016-08-24 08:54] sasha240100 commented on #108
@Tzikas What version of whitestormjs are you using? Do you use a file in `build` folder or compile with webpack?

[2016-08-24 09:07] sasha240100 commented on #108
ConvexMesh is a class of Physijs (built-in physics library). It seems like this library is undefined

[2016-08-24 21:37] Tzikas commented on #108
i did npm install whitestormjs and then added to this to index.html <script src="node_modules/whitestormjs/build/whitestorm.js"></script>

[2016-08-24 21:49] Tzikas commented on #108
Using a cdn seems to work ` <script src="https://cdn.jsdelivr.net/whitestormjs/latest/whitestorm.min.js"></script> `

[2016-08-24 21:54] Tzikas commented on #108
Now i'm running into a lot more problems
`whitestorm.min.js:7 No rabbits for the box. (arguments) ["object", "undefined"]WHS.API.merge @ whitestorm.min.js:7(anonymous function) @ whitestorm.min.js:7value @ whitestorm.min.js:7(anonymous function) @ index.js:224
three.js:8806 THREE.Object3D.add: object not an instance of THREE.Object3D. undefinedadd @ three.js:8806window.Physijs.Physijs.Scene.add @

[2016-08-24 21:54] Tzikas commented on #108
This is my js
`const world = new WHS.World({
  autoresize: true,

  background: {
    color: 0xffffff
  },

  gravity: { // Physic gravity.
    x: 0,
    y: -100,
    z: 0
  },

  camera: {
    z: 50
  }
});

const sphere = new WHS.Sphere({ // Create sphere object.
  geometry: {
    radius: 3
  },

  mass: 10,

  material: {
    color: 0x00ff00,
    kind: 'basic'
  }
});

sphere.addTo(world);
sphe

[2016-08-24 21:55] sasha240100 commented on #108
@Tzikas We need to fix CDN. You may download and use [one from dev branch](https://github.com/WhitestormJS/whitestorm.js/blob/dev/build/whitestorm.js) till i release r11 version (should be soon)

[2016-08-24 21:57] sasha240100 commented on #108
The one from dev branch has some other fixes and i tested it in [StreetBasketballGame](https://github.com/WhitestormJS/StreetBasketballGame) - I use WHS.Text there too, works. Let me know if it works

[2016-08-24 21:59] Tzikas commented on #108
Nice.  Yeah that branch works better already.  I can get a basic sphere falling but when include text i get `THREE.FontLoader: typeface.js support is being deprecated. Use typeface.json instead.
whitestorm.js:44584 THREE.ShapeUtils: Duplicate point 12.36:4.42 3783
whitestorm.js:44584 THREE.ShapeUtils: Duplicate point 11.74:-0.8200000000000001 4490`

[2016-08-24 21:59] Tzikas commented on #108
I'll try json format

[2016-08-24 22:01] sasha240100 commented on #108
@Tzikas Those come from three.js. You may use this as a crib sheet

[2016-08-24 22:50] sasha240100 commented on #108
@Tzikas Does this help?

[2016-08-24 22:52] Tzikas commented on #108
Sort of.  I can run your game locally (nice work btw), but I'm just trying to get a very simple hello world and you have a lot going on in that repo.  I think I may just be incorrectly importing Three.  So I'm gonna try that right now.

[2016-08-24 22:57] Tzikas commented on #108
I got it.  It looks like it's a font issue

THREE.FontLoader: typeface.js support is being deprecated. Use typeface.json instead.
2whitestorm.js:44073 THREE.ShapeUtils: Unable to triangulate polygon! in triangulate()
whitestorm.js:44584 THREE.ShapeUtils: Duplicate point 19.46:1.48 2212
whitestorm.js:44584 THREE.ShapeUtils: Duplicate point 17.58:3.48 2561
whitestorm.js:44584 THREE.ShapeUtils: Dupli

[2016-08-24 22:58] Tzikas commented on #108
Yours 1.js gave me a unxepcted token ) and my other ran into an infinite loop.  I tried a third and it worked, but it's rendering very slowly.

[2016-08-24 22:59] sasha240100 commented on #108
@Tzikas You shouldn't import three.js with whitestorm.js. Whitestorm.js already has three.js in it's build. The reason of why we have three.js in whitestorm.js is that three.js API always changes and some version of three.js may not work with whitestorm.js wrapper and that's why we include specific one in whitestorm.js build.

*If you have such code:*

[code]

It's incorrect. In this example three

[2016-08-24 23:00] sasha240100 commented on #108
@Tzikas Can you upload your code to github? (it's better if github pages) I will check it for errors and leave some notes

[2016-08-24 23:03] sasha240100 commented on #108
I know that's difficult to understand versioning in whitestorm.js, it can be confusing, but next whitestorm.js (**r11**) will be with unit testing so i can say it works. Now many parts of it haven't been correctly tested (because there is a lot of work, many classes used in this framework)

[2016-08-24 23:04] Tzikas commented on #108
Thank you.  https://github.com/Tzikas/whiteStormHelloWorldText

[2016-08-24 23:04] Tzikas commented on #108
It seems to work now, but it is quite laggy.

[2016-08-24 23:05] sasha240100 commented on #108
@Tzikas Use http://gero3.github.io/facetype.js/ to generate a font

[2016-08-24 23:05] sasha240100 commented on #108
Should help

[2016-08-24 23:05] Tzikas commented on #108
I did.

[2016-08-24 23:06] Tzikas commented on #108
Getting this `physi.js:15 Uncaught ReferenceError: THREE is not defined(anonymous function) @ physi.js:15(anonymous function) @ physi.js:1403
whitestorm.js:34787THREE.WebGLRenderer 79
whitestorm.js:28460 THREE.FontLoader: typeface.js support is being deprecated. Use typeface.json instead.
2whitestorm.js:44073 THREE.ShapeUtils: Unable to triangulate polygon! in triangulate()
whitestorm.js:44584 THR

[2016-08-24 23:15] sasha240100 commented on #108
@Tzikas Can you please remove `node_modules` folder from repo? Simply add `node_modules/` to .gitignore
We'll get back to npm and node when i'll fix it.

I can't clone that repo because of `node_modules` (long pathes)

[2016-08-24 23:17] Tzikas commented on #108
ok i removed it

[2016-08-24 23:18] sasha240100 commented on #108
@Tzikas Uploaded a one for testing with npm. Use `npm install whitestormjs@dev`

[2016-08-24 23:18] sasha240100 commented on #108
This will let you download the same build as is now in dev branch

[2016-08-24 23:19] sasha240100 commented on #108
@Tzikas You can test it while i clone your branch

[2016-08-24 23:21] Tzikas commented on #108
I'm a little confused.  I ran npm install whitestormjs@dev in my local folder, and then http-server to run it on localhost:8080, but I have the same problem.  Was I suppose to do something else?

[2016-08-24 23:23] sasha240100 commented on #108
@Tzikas Okay, now i see your errors

![image](https://cloud.githubusercontent.com/assets/7657429/17951447/dae72fce-6a6a-11e6-9005-1a5c804e556e.png)

[2016-08-24 23:23] Tzikas commented on #108
Yes exactly.

[2016-08-24 23:26] Tzikas commented on #108
I tried another font and got this error `Infinite Loop! Holes left:1, Probably Hole outside Shape!` and only that error.

[2016-08-24 23:28] sasha240100 commented on #108
@Tzikas Okay, first of all you are loading are trying to load a 6.66 👿 MB file. 1)  three.js then process a lot of vertices and polygons. 2) 66.6 = 666 devil number, isn't it? 👿
Second thing is that you make it a physics object, this ammount of vertices for physics object is a lot. (really a lot)

[2016-08-24 23:28] sasha240100 commented on #108
That is regarding you said it is slow

[2016-08-24 23:28] Tzikas commented on #108
LOL thanks.

[2016-08-24 23:28] sasha240100 commented on #108
You can try using three.js natively, i'm sure you'll get the same result

[2016-08-24 23:29] Tzikas commented on #108
Is there a very basic font, that I could use?

[2016-08-24 23:31] sasha240100 commented on #108
@Tzikas Those errors in console are not so bad. They are just errors of compiling your font to .js font (for three.js) I had them too, it's okay.

You may also enable this option. Sometimes it reduces the amount of errors.
![image](https://cloud.githubusercontent.com/assets/7657429/17951579/e93e42dc-6a6b-11e6-9b12-ecfad1edbdd9.png)

[2016-08-24 23:34] Tzikas commented on #108
That is faster and working without error.  Thanks.

[2016-08-24 23:34] sasha240100 commented on #108
@Tzikas One more advice: reduce the amount of `curveSegments`. Right now you have 6 of them, you may set to 1.

[2016-08-24 23:34] Tzikas commented on #108
Any other ideas on how to speed it up?

[2016-08-24 23:34] Tzikas commented on #108
Cool.  Thank you.

[2016-08-24 23:34] sasha240100 commented on #108
I made it faster 6 times with setting curveSegments to 1.

[2016-08-24 23:34] sasha240100 commented on #108
@Tzikas May i close this issue?

[2016-08-24 23:35] Tzikas commented on #108
Yeah I believe unless you have any other ideas on rendering this faster, than I'm satisfied.  Thank you very very much.

[2016-08-24 23:35] sasha240100 commented on #108
[code]

[2016-08-24 23:36] Tzikas commented on #108
Yeah but I want the letters to crash into one another hahaha.

[2016-08-24 23:37] sasha240100 commented on #108
@Tzikas You still have a large font, you may find other less-detailed one. Try with one i used as 1.js in my example.

[2016-08-24 23:43] sasha240100 commented on #108
@Tzikas It's possible, but this way you may have split your letters into separate meshes. Also trick with using different shapes for graphic and physics should help. I'll explain:

With this trick you use different geometries for physics shape and three.js mesh. Simplified one you apply to physics to achieve best performance.

![image](https://cloud.githubusercontent.com/assets/7657429/17951749/4e

[2016-08-24 23:43] #108 closed

[2016-08-26 14:16] sasha240100 commented on #107
@typedef42 Any updates on your project?

[2016-08-26 16:13] typedef42 commented on #107
Hi, I started to work on something, it is more work than what I estimated at first but totally do-able, problem is that I also lost internet at home for now :/

I'll keep you informed as soon as I have a working prove of concept.

[2016-08-27 04:46] t4r0 commented on #106
hey @sasha240100  so far I just replaced the webpack configurations on my fork, but i don't think it's ready yet :disappointed:, since webpack won't export the WHS global var, when setting the whole thing as a UMD module.

@Carnewal you will be able to use whitestorm as an npm module with the ES6 features by pointing your package.json to my fork. While we think of a nice strategy to export the lib

[2016-08-28 18:54] #101 closed

[2016-08-28 18:54] sasha240100 opened #109 "Add more unit tests"
We need to add more unit tests in dev branch to understand stability of framework

[2016-08-30 12:31] mrinalpande opened #110 "Running app from external js file"
Whenever I try to run the app from an external js file it gives me a error.  But when I use the same code inside my html file it works fine. I have tried it with npm install and the github repo.  The error is as follows:

_

_

 Issue type:
 - [x] Bug

<details>
<summary> <b>Tested on: </b> </summary>
###### --- Desktop
   - [ ] Chrome
   - [ ] Firefox

</details>

[2016-08-30 12:35] sasha240100 commented on #110
Hello, @mrinalpande, can you attach a link to your sources here? (A GitHub repo or etc.) I will check whitestormjs for that issue in 15 mins once my PC is on

[2016-08-30 12:45] sasha240100 commented on #110
@mrinalpande **WHS.World** needs to have it's own DOM element in which it will append a canvas element. By default when we init world like `new WHS.World()` (without additional parameters) - WHS.World takes `document.body` as a container.

Regarding your problem - it seems that your `document.body` is **null**. You may add _contatiner_ property when creating a world.

[code]

P.s.: Also debug your

[2016-08-30 12:53] mrinalpande commented on #110
But when I try it inside my html document inside the <script> tags it works with out any addition to the DOM element or any addition to the code. For

 being null I see that can be a problem but when I work around with no elements on the canvas and script inside the html it works fine.

[2016-08-30 12:59] sasha240100 commented on #110
@mrinalpande Ah, that's simple: simply add your `<script>` tag in the end of `<body>` _(before `</body>`)_. It can be beacuse you load WHS.World before DOM is ready. Can you upload a code to github pages?

[2016-08-30 13:01] mrinalpande commented on #110
It's the example from the site here I made a repo.

https://github.com/mrinalpande/whsapp

[2016-08-30 13:02] sasha240100 commented on #110
@mrinalpande I'll make a pull request with fix

[2016-08-30 13:03] sasha240100 commented on #110
@mrinalpande https://github.com/mrinalpande/whsapp/pull/1
Merge this.

[2016-08-30 13:03] mrinalpande commented on #110
Yup making it after the body worked...
Thanks
Will start working on whitestorm repo
see you soon

[2016-08-30 13:05] sasha240100 commented on #110
@mrinalpande Btw, what are you going to create? or just trying it?

[2016-08-30 13:06] electron0zero commented on #110
@mrinalpande can we close this issue ?

[2016-08-30 13:08] mrinalpande commented on #110
Well I was trying it at first now. I am thinking on making something and contributing to the repo...
Thanks @electron0zero  for recommending it to me...
Sure this issue is resolved

[2016-08-30 13:08] sasha240100 commented on #110
@electron0zero Yes, it is solved so I close it. @mrinalpande join our slack http://whslack.herokuapp.com or email me

[2016-08-30 13:08] #110 closed

[2016-08-30 18:06] kaelhem opened #111 "The DOF constraint is missing"
The "degree of freedom" constraint existing in Physijs seems to have been omitted during refactor of the r10 release. Is there a particular reason to haven't includes it ?

[2016-08-30 18:15] sasha240100 commented on #111
@kaelhem We haven't yet developed API for that. It will be ready probably in r11, but now you may use it as a part of Physijs. You can get native object through `shape.getNative()` and apply a constraint from Physijs object. Ping me when it is done or you have a problem with that.

[2016-08-30 18:22] sasha240100 commented on #111
If you are including whitestormjs using script tag - **Physijs** should be available as a global variable.

[2016-08-30 18:25] sasha240100 commented on #111
@kaelhem You may also check the one from `dev` branch. Do you face the same problem there?

[2016-08-30 18:51] sasha240100 commented on #111
@kaelhem Okay, now i understood the problem. There are no constraints included yet. I'll make today a new build with them included and attach a link there.

[2016-08-30 19:54] kaelhem commented on #111
@sasha240100 wow! it sounds great :)

[2016-08-30 19:57] sasha240100 commented on #111
@kaelhem I added DOF constraint in https://github.com/WhitestormJS/whitestorm.js/commit/22aeb190c295f88cdd0ec66bbaa56b3c94922584
But it seems it framework doesn't work in production because Ammo.js is processed by UglifyJS second time. Trying to fix that, i'll keep you in touch

[2016-08-30 21:18] sasha240100 commented on #111
@kaelhem Seems like fixed. Use this one: https://raw.githubusercontent.com/WhitestormJS/whitestorm.js/dev/build/whitestorm.js

[2016-09-01 18:46] sasha240100 commented on #89
@ghost Yes, but we plan to separate follow function from main engine (will be deprecated). We plan to make a plugin that will contain such functionality.

[2016-09-01 21:05] sasha240100 commented on #111
@kaelhem may I close it?

[2016-09-02 05:58] kaelhem commented on #111
Yes, I think you can.
Indeed, I was not able to make things working properly... It seems too early to integrate constraints. It's currently not documented and groups are not included in the physic layer. So... I must switch to another engine for now, but I will keep an eye on your work for the future !

[2016-09-04 11:07] sasha240100 commented on #106
@Carnewal This should help you: https://github.com/WhitestormJS/test-whitestorm-webpack

[2016-09-04 22:36] sasha240100 commented on #107
Hello, @typedef42. I just published r11 which is more stable than before. But we still aren't able to support that feature you are talking about.
I want to add this in the nearest time so you may help me with that by doing one from this three things:

 - Describe your needs and what should I implement. (I will take care about implementing)
 - Fork this repo, edit sources, check if all this stuff w

[2016-09-04 22:36] #109 closed

[2016-09-04 22:40] sasha240100 commented on #111
@kaelhem tell us more about groups in the physics layer. As r11 is ready and I have no open priorities for next version - I can try implementing groups and write docs for constraints.
It will be nice if you add some links or examples so I can understand what I should do

[2016-09-04 22:40] #89 closed

[2016-09-05 00:14] typedef42 commented on #107
Hi @sasha240100,

Sorry not giving you feedback sooner, bad timing for me. I've already forked and started an implementation of a PostProcessor class that can be 'attached' to a World instace and that wrap Three RenderTarget, EffectComposer and *Pass.. The aims is beeing to be able to recreate all the postprocessing examples from official three.js repo.

For now it hasn't impacted the World class

[2016-09-05 04:33] sasha240100 commented on #107
@typedef42 Second option sounds good. We can just reserve a place for ability to add postprocessing in World class and all other stuff with THREE.EffectComposer will be added as a plugin.

[2016-09-05 20:12] Rayjax opened #112 "Last commit on master breaks Examples/FPS"
Pulled master, spawned a simple live-server, accessed examples/fps:
script.js:2180 Uncaught TypeError: Cannot read property 'UniformsUtils' of undefined
User and world spawn very far away and fall down.

git checkout HEAD^ -> works fine

###### Version:
 - [x] r11

###### Issue type:
 - [x] Bug

###### --- Desktop
   - [x] Chrome

[2016-09-05 20:14] sasha240100 commented on #112
@Rayjax That's a problem appeared in terrain plugin after updating three.js version from r79 to **r80**. I hope it will be solved in the nearest time.  It would be nice if you help us to solve it (make a pull request)

[2016-09-08 15:40] sasha240100 commented on #107
@typedef42 I made a project where i needed glow and faced the same problem (no api for THREE.EffectComposer). So now i really understand you. Let's fix this problem this week. Okay? Tell me what you've done or what you need to do.

[2016-09-10 06:25] kennynaoh opened #114 "Which license do you use?"
Hello @sasha240100 ,
I am the member of [cdnjs](https://github.com/cdnjs/cdnjs) project.
We want to host this library.
But there is a question about license want to ask.
I found that the license you mentioned in [package.json](https://github.com/WhitestormJS/whitestorm.js/blob/dev/package.json#L30) is `CC`
Any detail about it.
Please take a look at [this](https://github.com/kennynaoh/cdnjs/blob/ma

[2016-09-10 17:57] sasha240100 commented on #114
@kennynaoh It's CC-BY-NC-ND-4.0 now. The one in bower is just a typo.
Also: It's possible that we will update the license in the nearest time. I'll keep you in touch.
Thanks for hosting us!

[2016-09-10 17:58] #111 closed

[2016-09-11 18:06] typedef42 commented on #107
Ok, I have a basic working version. you can check out an example there :
https://github.com/typedef42/whitestorm.js/blob/dev/src/examples/post-processing/basic-glitch/script.js#L260

It is still very much work in progress, (resizing is not working yet, and I did not tested multiple world / PostProcessor example for complex rendering)

If I summarize, I ended up re-implementing Three EffectComposer

[2016-09-11 18:13] sasha240100 commented on #107
@typedef42 Awesome! Make a pull request now. I'll review it and maybe make some changes and notify you anyway.

We are going to make a plugin registry (like gulp has), but for whitestormjs with a lot of interesting stuff that can't be in core of framework but is very common for developers! So be in touch with us:)

[2016-09-11 18:20] #106 closed

[2016-09-11 18:23] sasha240100 commented on #107
@typedef42 Merged.

[2016-09-11 18:49] sasha240100 commented on #107
@typedef42 Cool! Can you please describe the API?:) You may add your classes to docs: https://github.com/WhitestormJS/whitestormjs.github.io/tree/editing/source/includes
- We use this template for docs: https://github.com/lord/slate
- or add some unit tests, so i can make docs by them.

[2016-09-11 19:09] typedef42 commented on #107
wow that was fast !
I put the kids to bed and start working on the doc/api, and adding more complex examples of post processing :).

[2016-09-11 19:15] sasha240100 commented on #107
@typedef42 I made some changes: https://github.com/WhitestormJS/whitestorm.js/commit/6bfed1dcc0de28e00e1aac5e98a90e665101cc73

- Removed `lodash` (replaced) - less Kb
- Removed polyfill  for es6 promises. (babel already do this).
- And please check that i replaced `pass.name` with `passIndicator.name` https://github.com/WhitestormJS/whitestorm.js/commit/6bfed1dcc0de28e00e1aac5e98a90e665101cc73#dif

[2016-09-11 19:58] typedef42 commented on #107
looks fine to me, i'm going to test / documenting that now.

[2016-09-12 06:28] kennynaoh commented on #114
Thanks @sasha240100 ,
Another question is about the files needed to be grab on [npm](https://www.npmjs.com/package/whitestormjs).
I think the main file is `build/whitestorm.js`, right?
What about `build/whitestorm.light.js`? Is it necessary to add?
Please help me confirm that.
Thanks!

[2016-09-12 07:54] #107 closed

[2016-09-12 09:06] sasha240100 commented on #114
@kennynaoh Yes, add please both if you can. Developers should choose the one they use.

[2016-09-12 12:30] kennynaoh commented on #114
Thanks @sasha240100

[2016-09-12 12:52] kennynaoh commented on #114
Hello @sasha240100 ,
A question again~
I found that there are different naming scheme.
In the latest version `0.11.2`, both js files are minified.
But in old versions, the `whitestorm.js` are not minified.
Could you change the minified js file name to `whitestorm.min.js` in the latest version?
Or
Directly offer not minified js file, and we can minified it.
Thanks for your help!

[2016-09-12 12:56] sasha240100 commented on #114
@kennynoah There we have a problem, cause library uses webpack is too big. So in minified file wouldn't help in development without sourcemap. Since r11 (0.11.x) we provide only minified files for usage.

[2016-09-12 13:09] kennynaoh commented on #114
Thanks @sasha240100 ,
So could you change the name to `whitestorm.min.js` in the latest version?
Thanks!

[2016-09-12 13:11] sasha240100 commented on #114
@kennynaoh I probably will in next version

[2016-09-12 13:28] kennynaoh commented on #114
@sasha240100
no problem

[2016-09-13 18:04] #112 closed

[2016-09-13 18:08] sasha240100 opened #116 "Error with WHS.World each time i resize window."
**I'm getting this error each time i resize my window:**

![pasted_image_at_2016_09_13_09_02_pm](https://cloud.githubusercontent.com/assets/7657429/18485510/cb16f51c-79f5-11e6-9fc1-7fb74d1224fa.png)

Error points to this line: https://github.com/WhitestormJS/whitestorm.js/blob/dev/src/framework/core/World.js#L409

This error appears on all examples.

###### Version:
 - [ ] r12 (dev)
 - [ ] r11
 -

[2016-09-13 21:40] #116 closed

[2016-09-14 20:10] typedef42 opened #117 "Multiple post-processing renderTarget"
The goal is to provide a simple API that allow to compose rendering output from different RenderTargets and so PostProcessing instances.

This can be used to achieve effects like godrays, bloom, glow etc complex post processing effects.

[2016-09-14 20:22] sasha240100 commented on #29
Should be assigned to terrain plugin

[2016-09-14 20:22] #29 closed

[2016-09-15 01:04] yqrashawn commented on #29
We you say terrain. Is this similar to cesium' steer aim? The terrain of earth?

[2016-09-15 01:15] yqrashawn commented on #29
Other word. Are we having any plans on making a GIS system? For example, create an earth and image layer providing system, terrain system.

[2016-09-15 04:18] sasha240100 commented on #29
@yqrashawn Possible, but it definitely should be a plugin. Right now I am working on whs-terrain.js that will turn heightmap image and other data into terrain. [See this example](http://192.241.128.187/dev/current/examples/fps/shooter/)

[2016-09-16 06:51] sasha240100 commented on #117
@typedef42 Any updates on this issue?

[2016-09-17 09:41] typedef42 opened #118 "cff"
Describe your issue here.

###### Version:
 - [ ] r11
 - [ ] r10
 - [ ] r9
 - [ ] r9 (dev)
 - [ ] r8
 - [ ] r7

###### Issue type:
 - [ ] Bug
 - [ ] Proposal/Enhancement
 - [ ] Question

------

<details>
<summary> <b>Tested on: </b> </summary>
###### --- Desktop
   - [ ] Chrome
   - [ ] Chrome Canary
   - [ ] Chrome dev-channel
   - [ ] Firefox
   - [ ] Opera
   - [ ] Microsoft IE
   - [ ] Micros

[2016-09-17 10:07] sasha240100 commented on #118
?

[2016-09-17 11:25] typedef42 commented on #118
that's what happens when I forgot to lock my session from my kids... sorry. - to delete.

[2016-09-17 11:25] #118 closed

[2016-09-17 11:30] typedef42 commented on #117
Nop sorry, I didn't had time to make real progress yet.

[2016-09-17 11:30] sasha240100 commented on #118
@typedef42 No problems:D

[2016-09-20 15:40] sasha240100 commented on #117
@typedef42 Point me to some problems or bugs that you've found, i'll try to reproduce them. If you don't have a time - assign this issue to somebody else or me.

[2016-09-21 16:23] sasha240100 commented on #114
@kennynaoh So now it's MIT. Should i notify you when new release is ready?

[2016-09-21 20:16] typedef42 commented on #117
@sasha240100 Sorry, as I mentioned in private, some emergency prevent me to invest time on this right now. I'm coming back to finish it ASAP, with additional post processing examples ! :)

[2016-09-21 20:56] sasha240100 opened #119 "Move WHS.Skybox to a plugin."
Component should be made using [generator-whs-plugin](https://github.com/WhitestormJS/generator-whs-plugin) and configured with such values:
 - Type: **Component**
 - Name: **whs-component-skybox**
 - Babel: **yes**
 - Bower: **yes**
 - gh-pages (serve): **yes**
 - Component name in browser: **WHS.Skybox**

[2016-09-24 14:24] electron0zero commented on #119
Fixed in this [commit](https://github.com/WhitestormJS/whitestorm.js/commit/3e24539cf0d568bbf04c094a530d328932cfd2a3)

[2016-09-24 15:56] sasha240100 commented on #119
@electron0zero @mrinalpande
1. Add docs/wiki/readme with usage guide
2. Have you published it to npm?

[2016-09-24 16:03] electron0zero commented on #119
i am working  on examples, yet to publish examples on gh-pages and component on npm

[2016-09-24 16:03] #119 closed

[2016-09-27 05:01] trusktr opened #120 "What should happen when applying opacity less than 1 to a node with descendants?"
Hello Alex,

I'd like your opinion:

If we have a node in a 3D scene, and it has many descendants (a sub tree), what should happen when we apply opacity with a value less than `1` to it?

1. It, and all of it's children should become transparent, multiplying opacities down the scene graph.
1. It's content should become transparent but not that of its descendants.
1. Same as (1), but the whole obje

[2016-09-27 06:20] sasha240100 commented on #120
@trusktr you apply opacity not to the node, but to the material. It means that transparent will be only the main object, but not it's children (I can be wrong, you may check)

It's better to look in three.js docs.

[2016-09-27 20:24] trusktr commented on #120
True, which means opacity applies only to the object at a node, not to objects at child nodes. Would you agree that flattening is undesirable?

[2016-09-27 20:27] sasha240100 commented on #120
@trusktr sure

[2016-10-10 18:16] #120 closed

[2016-10-17 17:16] sasha240100 opened #121 "Proposal: Use FlowJS and compile to asm.js"
As we work with webgl - speed matters. I seriously think now about using Flow and then compile to Asm.js.
**Links**:
 - https://flowtype.org/
 - https://github.com/RReverser/babel-plugin-asm-js

###### Version:
 - [x] r12 (dev)
 - [ ] r11
 - [ ] r10
 - [ ] r9
 - [ ] r9 (dev)
 - [ ] r8
 - [ ] r7

###### Issue type:
 - [ ] Bug
 - [x] Proposal/Enhancement
 - [ ] Question

------

<details>
<summary>

[2016-10-17 23:34] preco21 commented on #121
Hmm, IDK.

Is this really worth to improve the performance than refactoring costs?

[2016-10-17 23:35] sasha240100 commented on #121
@preco21 let's keep it for featured releases

[2016-10-18 21:49] sasha240100 opened #122 "WHS.SliderConstraint doesn't work as expected."
[WHS.SliderConstraint](https://github.com/WhitestormJS/whitestorm.js/blob/dev/src/framework/physics/constraints/SliderConstraint.js) doesn't work as expected. Method `.setEuler()` is not in _btQuaternion_.

**Actual problem**

I tried to replace `.setEuler()` with [`.setEulerZYX()`](http://bulletphysics.org/Bullet/BulletFull/classbtQuaternion.html#a808b430136b4a8d1e7120134af14a1ff) but still no go

[2016-10-18 21:51] sasha240100 commented on #122
@preco21 I assign you to this issue. Look what you can do.

[2016-10-18 23:32] preco21 commented on #122
Hmm sorry, I have no idea about that. As far as I know, if this problem is just rotation related issue, I assume [Quaternion](https://threejs.org/docs/api/math/Quaternion.html) rotation would fix this issue.

[2016-10-19 04:38] sasha240100 commented on #122
@preco21 check all possible ways

[2016-10-19 04:39] sasha240100 commented on #122
@preco21it is also possible to make a new build of ammo.js with `.setEuler()`

[2016-10-27 20:49] sasha240100 commented on #122
If someone is going to make a new port with `.setEuler()` in **btQuaternion**:
 - https://github.com/WhitestormJS/ammo.js/blob/master/ammo.idl#L53 - see this line in _ammo.idl_.
 - [WebIDL guide](http://kripken.github.io/emscripten-site/docs/porting/connecting_cpp_and_javascript/WebIDL-Binder.html)
 - It's **better to have linux**, because i had some troubles with building on windows. [See this](h

[2016-10-28 23:33] typedef42 opened #123 "Rendering Component API"
Implementation of a Rendering plugin API, with a rendering component.

Rendering plugin will extract rendering stuff from World class.

Provide two rendering plugin implementations :
BasicRendering -> simple WebGLRenderer
PostProcessor -> rendering plugin that allow offscreen post processing with EffectComposer

document the all thing.

[2016-10-30 06:26] sasha240100 opened #124 "Fix examples (colors & structure)"
![image](https://cloud.githubusercontent.com/assets/7657429/19834999/ae991334-9e80-11e6-9835-0a3d3eee8efe.png)
- [x] Basic
- [ ] Softbody
- [ ] Design
- [ ] FPS
- [ ] Performance
- [ ] Physics
- [ ] Post-processing

[2016-10-31 20:36] sasha240100 opened #125 "Antialias isn't working in WHS.PostProcessor"
Antialias parameter isn't working when using PostProcessor.
I debugged PostProcessor's params - all seems to be fine, but it doesn't work on example (post-processing/basic-glitch)

@typedef42 Why does it happen?

![image](https://cloud.githubusercontent.com/assets/7657429/19870611/feb59a88-9fb9-11e6-8d9d-7c9cde464d6a.png)

###### Version:
 - [x] r12 (dev)
 - [ ] r11
 - [ ] r10
 - [ ] r9
 - [ ] r9

[2016-11-01 11:37] typedef42 commented on #125
I could be wrong, but think it is normal because when we use the PostProcessor plugin, we don't use the basic THREE internal way of doing shaders.

That means that this type of hardcoded comportement in THREE.js are not available anymore when using post processor, and thus EffectComposer underneath.

The way to have anti aliasing with an EffectComposer would be by adding a antialiasing pass, somet

[2016-11-02 10:01] #123 closed

[2016-11-03 17:18] sasha240100 commented on #122
Updated ammo.js. Now works

[2016-11-03 17:18] #122 closed

[2016-11-04 23:50] sasha240100 commented on #111
@kaelhem Added both:
 - [Groups / Mask](https://whs-dev.surge.sh/examples/#physics/filtering)
 - [DOF Constraint](https://whs-dev.surge.sh/examples/#constraints/dof)

Those are available in **dev branch** already

[2016-11-12 02:17] #124 closed

[2016-11-21 14:04] KieranTimberlake opened #132 "Installation Obstacle (probably easy fix)"
Hey guys,

I'm trying to install and use whitestorm on an Ember application. I added the whs module using 'npm install' and get 'WHS' using browserify. When I attempt to create a world (the sample world from the tutorial), 75 errors are thrown. Everything seemingly runs smoothly until World.js attempts to add a camera. After adding the World, the screen goes black (as it should), but nothing exist

[2016-11-21 14:07] KieranTimberlake commented on #132
![image](https://cloud.githubusercontent.com/assets/4663097/20485525/f2353186-afc9-11e6-8815-bdea41e76f14.png)

[2016-11-21 14:10] sasha240100 commented on #132
@KieranTimberlake contact me in discord chat please

[2016-11-21 14:11] sasha240100 commented on #132
@KireanTimberlake https://discord.gg/vA5Xz
Username: alex2401

[2016-12-12 00:43] thejmazz commented on #121
This looks cool - was not aware there was a flow -> asm tool. However may not provide much performance boost if underlying Three itself is not also written as Flow.

[2016-12-12 00:45] sasha240100 commented on #121
@thejmazz I agree. Three.js should be affected too. But I think they will soon use SIMD and other optimizations. That would be cool for physics too

[2016-12-12 20:24] thejmazz commented on #74
Would be nice if LOD optionally could turn loops for that component on/off. So in addition to geometry detail, don't need to waste time on more expensive loops.

[2016-12-12 21:00] thejmazz opened #135 "Grid component"
Making my own `Grid` component which wraps [GridHelper](https://threejs.org/docs/#Reference/Extras.Helpers/GridHelper) (but more generally can be a component to make grids). This might even lead to making it use `Line` component too.

From the Three source, can see it uses a custom `BufferGeometry` and `LineBasicMaterial`, which calls the `LineSegments` constructor which calls `Line` constructor (

[2016-12-12 21:03] sasha240100 commented on #135
@thejmazz Why not using @MeshComponent decorator. Open any component in src/framework/components/meshes to see how it works.

[2016-12-13 14:54] thejmazz opened #136 "Mouse Pan Broken"
Mouse pan broken due to thunk methods not being invoked. I have fix, will make PR soon.

For example, diff on `panLeft`:

[code]

###### Version:
 - [x] r11
 - [ ] r10
 - [ ] r9
 - [ ] r9 (dev)
 - [ ] r8
 - [ ] r7

###### Issue type:
 - [x] Bug
 - [ ] Proposal/Enhancement
 - [ ] Question

------

<details>
<summary> <b>Tested on: </b> </summary>
###### --- Desktop
   - [ ] Chrome
   - [ ] Chrome C

[2016-12-13 15:21] thejmazz opened #137 "[Proposal] (World) class methods to return `this`"
Right now need to do:

[code]

if `setControls` method (and other class methods) returned `this`, then we could chain them:

[code]

which may be preferable to some. This is mostly an opinion based enhancement I guess. However a pattern some libraries use is to always return `this` from methods so that they can be chained. The important thing is for WHS to be consistent. (i.e. not sometimes return

[2016-12-17 21:30] thejmazz opened #138 "Geometry options consistency"
Right now for example `WHS.Plane` takes

[code]

and `WHS.Sphere` takes

[code]

Whether it is `wSegments` or `widthSegments`, we should just be consistent.

[2016-12-17 21:33] sasha240100 commented on #138
@thejmazz Already fixed in [beta](https://github.com/WhitestormJS/whitestorm.js/tree/beta) branch.

[2016-12-17 21:33] #138 closed

[2016-12-22 13:27] tiaod opened #139 "How to pause rendering?"

[2016-12-22 13:37] tiaod commented on #139
sorry, just set world.render = false;

[2016-12-22 13:37] #139 closed

[2016-12-22 13:38] sasha240100 commented on #139
@tiaod exactly!

[2016-12-27 12:23] tiaod opened #140 "Uncaught (in promise) TypeError: Cannot read property 'mapSize' of undefined"
![image](https://cloud.githubusercontent.com/assets/7500825/21499571/17a73e36-cc72-11e6-84d7-b6472e50483a.png)
This shows up after I add a HemisphereLight
[code]
###### Issue type:
 - [x] Bug
 - [ ] Proposal/Enhancement
 - [ ] Question

------

<details>
<summary> <b>Tested on: </b> </summary>
###### --- Desktop
   - [x] Chrome
   - [ ] Chrome Canary
   - [ ] Chrome dev-channel
   - [ ] Firefox

[2016-12-27 12:26] sasha240100 commented on #140
@tiaod Can you go to that line (VM...:21) and show me what it shows?

[2016-12-27 12:46] tiaod commented on #140
![image](https://cloud.githubusercontent.com/assets/7500825/21499869/9e83f0f0-cc74-11e6-8e18-a9a94c45c9fd.png)
Sorry, my english isn't good.
It shows up when I add the flowing code:
[code]

But if I wrap the `HemisphereLight` using `WHS.Element`, the error has disappear:
[code]
![image](https://cloud.githubusercontent.com/assets/7500825/21499983/8c3c6d9a-cc75-11e6-8d44-02d859f7b670.png)

[2016-12-27 12:50] sasha240100 commented on #140
@tiaod It seems like it is API regression after update to newer three.js version on our side.
For now I'd recommend to use it with `WHS.Element` as you do it. I am working now in **beta** branch and will fix this issue once i get all my examples working in that branch.

[2016-12-27 13:09] sasha240100 commented on #140
@tiaod I made an [announcement about the beta](https://whsjs.readme.io/v1.2/blog/v2-beta). If you want to participate in development - ask me in [discord channel](https://discordapp.com/invite/frNetGE)

[2016-12-29 08:24] tiaod opened #141 "world.render = false; //Not working"
![image](https://cloud.githubusercontent.com/assets/7500825/21539557/f0501868-cde2-11e6-9aa3-064ac843154f.png)
it still rendering my scene after I set `world.render = false`
![image](https://cloud.githubusercontent.com/assets/7500825/21539578/299b8d50-cde3-11e6-986c-c33026bd86ca.png)

###### Version:
 - [ ] r11
 - [ ] r10
 - [ ] r9
 - [ ] r9 (dev)
 - [ ] r8
 - [ ] r7

###### Issue type:
 - [x] Bug

[2016-12-29 08:29] sasha240100 commented on #141
@tiaod Seems like it is regression in last whsjs (after moving rendering part away from World component). I'll fix that in beta, but idk how long to wait until beta become stable.

[2016-12-29 16:01] tiaod commented on #141
Any other way i could do to pause render? I think it's a very important feature for SPA.

[2016-12-29 16:58] sasha240100 commented on #141
@tiaod How do you use whitestormjs, with webpack or just with a script tag?

[2016-12-30 00:51] tiaod commented on #141
With a script tag. I had try to import it with webpack however it throw an error. So I just use whs with a script tag.

[2016-12-30 08:25] tiaod commented on #141
@sasha240100 Should I use webpack import instead of script tag?

[2016-12-30 08:33] sasha240100 commented on #141
@tiaod Just asked. You may try version from master branch. I remember that I had that .render working some time ago.

It used to work till we moved rendering away from WHS.World

[2017-01-03 02:54] jywarren opened #142 "Default Playground not running"
I went to the playground link on the README (http://playground.whsjs.io/):

[code]

But the scene didn't render -- looks like an amazing library, thanks!

###### Version:
 - [ ] r11
 - [ ] r10
 - [ ] r9
 - [ ] r9 (dev)
 - [ ] r8
 - [ ] r7

###### Issue type:
 - [x] Bug
 - [ ] Proposal/Enhancement
 - [ ] Question

------

<details>
<summary> <b>Tested on: </b> </summary>

###### --- Desktop

   - [

[2017-01-03 03:01] sasha240100 commented on #142
@jywarren Thanks! Playground is unstable right now and can have a lot of bugs. (Sorry for that)

That's because now we left whs v1 and everything related to make v2 (we refactored a lot of api in beta already) https://whsjs.readme.io/blog/v2-beta

[2017-01-03 03:09] sasha240100 commented on #142
@jywarren we'll fix up playground after releasing Whitestormjs 2

[2017-01-03 03:56] jywarren commented on #142
Awesome -- excited! Thanks for the fast reply!

On Jan 2, 2017 10:09 PM, "Alexander Buzin" <notifications@github.com> wrote:

[2017-01-03 09:22] electron0zero commented on #142
@jywarren moved this issue to [playground repo](https://github.com/WhitestormJS/playground/issues/5)
and mentioned a quick workaround until we fix it.

[2017-01-06 16:36] Maksims opened #144 "Adding physics is hard - other engines"
Readme states:

In PlayCanvas using physics does not require to create another world. As there is physics component system: collision component and rigidbody component to describe physics for entities. No need to create another scene and do any syncing, everything handled automatically.

In BabylonJS I believe this is the same - handled automatically.

[2017-01-06 16:40] jackdalton commented on #144
The text you quoted references the fact that other frameworks require more work to set up physics. It does not state that *all* other frameworks require more work, only "other frameworks."

[2017-01-06 16:42] Maksims opened #145 "Components & plugins - other engines"
PlayCanvas has component system.
GooCreate has component system (but project seems not being developed anymore).
Definitely there are few other vanilla JS 3D engines with component systems.

[2017-01-06 16:44] jackdalton commented on #144
@Maksims if you'd like to alter the text of the README file, open a PR.

[2017-01-06 16:44] #144 closed

[2017-01-06 16:50] sasha240100 commented on #145
@Maksims Awesome.

[2017-01-06 16:50] #145 closed

[2017-01-10 18:06] 7dir opened #146 "DEMO gh-pages broken!!!"
Describe your issue here.

###### Version:
 - [ ] r11
 - [ ] r10
 - [ ] r9
 - [ ] r9 (dev)
 - [ ] r8
 - [ ] r7

###### Issue type:
 - [ ] Bug
 - [ ] Proposal/Enhancement
 - [ ] Question

------

<details>
<summary> <b>Tested on: </b> </summary>
###### --- Desktop
   - [ ] Chrome
   - [ ] Chrome Canary
   - [ ] Chrome dev-channel
   - [ ] Firefox
   - [ ] Opera
   - [ ] Microsoft IE
   - [ ] Micros

[2017-01-10 18:12] sasha240100 commented on #146
![](http://rs94.pbsrc.com/albums/l92/Ruas_2006/Caturday/Sad_Kitten_Is_Sad.jpg~c200)

[2017-01-14 16:30] damienleroux opened #147 "production showcase?"
Hello guys,

Has whitestormJs been already deployed in production by someone?

If there was, I'll be happy to have some references. Why not to include them in the readme file?

Thank you

[2017-01-14 16:42] sasha240100 commented on #147
@damienleroux Will be built soon. Probably next week

[2017-01-14 17:08] damienleroux commented on #147
Thank you!

[2017-01-14 17:08] #147 closed

[2017-01-17 07:48] sasha240100 commented on #146
@7dir Fixed some examples (from beta branch)

[2017-01-17 07:48] #146 closed

[2017-02-01 18:52] sasha240100 commented on #114
@kennynaoh Hello again. I think now it's time to talk about CDN. I updated all infromation in https://github.com/cdnjs/cdnjs/issues/8951 to follow latest project details

[2017-02-13 14:47] #142 closed

[2017-02-13 14:47] sasha240100 commented on #140
@tiaod Should be fixed now

[2017-02-13 14:48] #140 closed

[2017-02-13 14:48] #132 closed

[2017-02-13 14:49] #137 closed

[2017-02-13 14:49] #125 closed

[2017-02-13 14:49] #135 closed

[2017-02-13 14:50] sasha240100 commented on #117
@typedef42 Was that fixed?

[2017-02-13 14:50] #114 closed

[2017-02-13 14:51] sasha240100 commented on #77
@jackdalton Will be soon implemented as a module, i think...

[2017-02-13 14:57] #9 closed

[2017-02-13 15:02] #93 closed

[2017-02-15 13:20] Jule- opened #152 "Dispose WebGL context and web workers."
Hi,
I am working on an SPA and I have to instanciate multiple times on different views the same component with a WebGL context created with `WHS.World`.

My issue is that when my view is detached you give no way to dispose the scene and the WebGL context created. Changing views leaks web workers and GPU memory. I have tried to terminate physic web worker but GPU memory is still massively leaking.

[2017-02-15 13:50] sasha240100 commented on #152
@Jule I see that you use v1 which is deprecated now. That's not a problem cause migration to v2 is easy and won't take much time.

There is a specific reason of why strongly suggest such migration. V2 is simply much more flexible and up-to-date.

in v2 each part of framework is replacable. As from what I understand - you can patch/overwrite WorldModule.  I will soon add API that can stop Physics s

[2017-02-15 14:19] sasha240100 commented on #152
@Jule- I fixed it in https://github.com/WhitestormJS/physics-module-ammonext/commit/203350898896fd581fd3a1b345bd6f8cb013900b now. (on npm: v0.1.1)
That's how you can do that:
In v2.x.x we have everything which executes each frame wrapped with `WHS.Loop` class.

`WorldModule` now contains `simulationLoop` which you can stop/restart. That's how:

[code]

Same is also possible with `RenderingModule`

[2017-02-15 14:38] Jule- commented on #152
I need to get it a try but I have to migrate my code first...

Nevertheless I've took a look to your fix and I have some suspections about the worker you create. I don't think stopping the loop and removing it from World can stop your worker and GC wont be able to free memory.

Like I said my issue is not really a matter of performance but more a matter of graphical memory freeing. I don't know wh

[2017-02-15 14:42] Jule- commented on #152
If I can I'll make you a test case.

[2017-02-16 16:25] Jule- commented on #152
And there it is: https://github.com/Jule-/AureliaWHS

[2017-02-16 23:55] sasha240100 commented on #152
@Jule-  I discovered this topic a bit. That's not, actually, a problem of whs, it is more related to Three.js. WHS just covers main parts of three.js such as it's scene, cameras and meshes (etc.).

**How to fix memory leak**

I researched some posts on stackoverflow. `geometry` as well as `material` - both have `.dispose()` method which removes geometry/material instance from renderer context.

-

[2017-02-19 18:07] phas0r commented on #152
There is example code in the three.js repository on how to dispose:
https://github.com/mrdoob/three.js/blob/master/examples/webgl_test_memory.html

[2017-02-19 18:10] sasha240100 commented on #152
@phas0r, @Jule- wants to remove the scene completely (with all reserved memory).

[2017-03-02 13:47] kahogeoff opened #153 "How to add the physics module with Webpack?"
I'm using the latest version of this framework, and try to add physics with `physics-module-ammonext`.

However, after looking for any documents on the Internet, I still have no idea how to adding the physics module on it with Webpack.

###### Version:
 - [x] v2.x.x
 - [ ] v1.x.x

###### Issue type:
 - [ ] Bug
 - [ ] Proposal/Enhancement
 - [x] Question

------

<details>
<summary> <b>Tested on: <

[2017-03-02 16:12] sasha240100 commented on #153
@kahogeoff Simply add a `import * as PHYSICS from 'physics-module-ammonext'` and that's it. I think I should do a repo to show it. **(It's not hard to do. Just remember that physics is simply a module and you should use it like any other module:))**

[2017-03-02 16:14] sasha240100 commented on #152
Can I close it?
/ping @Jule-

[2017-03-02 17:19] kahogeoff commented on #153
Thanks for your solution.
But I got another problem now:
I'm using the [whitestorm-app-boilerplate](https://github.com/WhitestormJS/whitestorm-app-boilerplate). After I added
`import * as PHYSICS from 'physics-module-ammonext'`
this line on the `app.js`, it show up the [following errors](https://gist.github.com/kahogeoff/46075efe98da3319b3ab48648acc7d77)

[2017-03-02 17:27] sasha240100 commented on #153
@kahogeoff You may need to setup appropriate babel presets and modules. It seems you missed some of them. I'll check more when at home

[2017-03-03 14:56] sasha240100 opened #154 "Cinema4D integration"
**What we can now?**
Currently we have only a few options that are possible to intgerate Cinema 4D with Whitestorm.js/Three.js:

 - [Cinema4D-Threejs-Exporter](https://github.com/BlackDice/Cinema4D-Threejs-Exporter) - geometry only yet.
 - We can reexport it using blender. (_Cinema 4D -> Blender -> Three.js (JSON)_)

**New features to implement**
 -----

I would like to have an opportunity to expo

[2017-03-04 06:26] sasha240100 opened #155 "Add AreaLight"
`AreaLight` should be added to _src/components/lights_ as a part of light components system.

`AreaLight` documentation: https://threejs.org/docs/index.html#Reference/Lights/RectAreaLight

###### Version:
 - [x] v2.x.x
 - [ ] v1.x.x

###### Issue type:
 - [ ] Bug
 - [ ] Proposal/Enhancement
 - [ ] Question

------

<details>
<summary> <b>Tested on: </b> </summary>
###### --- Desktop
   - [ ] Chrom

[2017-03-05 10:05] sasha240100 opened #156 "Support for other maps in TextureModule"
**Concept:**

[code]

**What should be added:**
- [x] **type** - name of map in material.
- [x] **ability to use multiple entities**
- [ ] **support for other input than "path"**. _(image data, ...)_

###### Version:
 - [x] v2.x.x
 - [ ] v1.x.x

###### Issue type:
 - [ ] Bug
 - [x] Proposal/Enhancement
 - [ ] Question

------

<details>
<summary> <b>Tested on: </b> </summary>
###### --- Desktop

[2017-03-06 10:18] #156 closed

[2017-03-06 21:27] sasha240100 opened #158 "Model: Implement data transformer for loaders"
**The problem**
Loaders like `OBJLoader` load `THREE.Mesh` instances while only geometry is needed.

**Solution**
To make a parameter (function) that will get inputted data and return only the needed value.

###### Version:
 - [x] v2.x.x
 - [ ] v1.x.x

###### Issue type:
 - [x] Bug
 - [x] Proposal/Enhancement
 - [ ] Question

------

<details>
<summary> <b>Tested on: </b> </summary>
###### --- Des

[2017-03-06 21:57] #158 closed

[2017-03-07 10:08] hirako2000 commented on #155
PR #160, what do you think?

[2017-03-07 12:58] hirako2000 opened #161 "Add example for AreaLight"
Would be useful to add some Lights example.
Let's start with AreaLight
###### Version:
 - [x] v2.x.x
 - [ ] v1.x.x

###### Issue type:
 - [ ] Bug
 - [x] Proposal/Enhancement
 - [ ] Question

------

<details>
<summary> Add section for Lights, and add AreaLight example </summary>

</details>

[2017-03-07 14:43] sasha240100 opened #163 "Add more examples that show how light works"
**We need to add more examples for lights**

- [x] AmbientLight
- [x] DirectionalLight
- [x] PointLight
- [x] HemisphereLight
- [x] SpotLight
- [x] AreaLight #162

###### Version:
 - [x] v2.x.x
 - [ ] v1.x.x

###### Issue type:
 - [ ] Bug
 - [x] Proposal/Enhancement
 - [ ] Question

------

<details>
<summary> <b>Tested on: </b> </summary>
###### --- Desktop
   - [ ] Chrome
   - [ ] Chrome Canary

[2017-03-07 17:32] jlieb10 opened #164 "Playground is down"
Can't use the playground in latest version of Chrome (tried standard and incognito windows, OSX user). Console errors attached.

<img width="721" alt="screen shot 2017-03-07 at 5 30 20 pm" src="https://cloud.githubusercontent.com/assets/3300789/23669398/e44e26b4-035b-11e7-9a4f-f9bd3d2cbdc2.png">

###### Version:
 - [x] v2.x.x
 - [ ] v1.x.x

###### Issue type:
 - [x] Bug
 - [ ] Proposal/Enhancement

[2017-03-07 17:56] sasha240100 commented on #164
@jlieb10 playground is deprecated. Use codepen instead

[2017-03-07 17:56] #164 closed

[2017-03-07 18:00] Jule- commented on #152
Ok. I have found how to recover GPU memory when I want to! 🥇

In fact the documentation is ambiguous but it seems that
[code]
is working in Chrome and it is not just a placebo for testing purpose!

And I don't know why I haven't see it before but I this method seems to do the job too:
[code]

That is the nice part of the story, unfortunately I've found some memory leaks with WHS I think:
![image](

[2017-03-07 22:13] extend1994 opened #165 "Library request in CDNJS"
Hi!
I am a member of CDNJS. There is a library request cdnjs/cdnjs#10616.
I am in charging of adding this library, and I want confirm which files should I add to CDNJS.
Could you tell me if all files under `build` should be added? Or we need other files?

Thanks!

[2017-03-07 22:15] jackdalton commented on #165
Yes, only the files under `build` need to be added. Thanks!

[2017-03-07 22:15] #165 closed

[2017-03-08 00:04] sasha240100 commented on #165
/ping @extend1994

[2017-03-08 11:17] #155 closed

[2017-03-08 11:17] #161 closed

[2017-03-08 11:29] sasha240100 opened #166 "Move defaults from LightComponent to each light component"
This is more related to code clearness than to a bug, but has a place to be. I suggest moving `light` default out from `LightComponent`.

![image](https://cloud.githubusercontent.com/assets/7657429/23702231/0d213e26-0403-11e7-8d39-6f2f647c4dc3.png)

This will result in a better structure cause there will be only light-specific parameters per each light type.

###### Version:
 - [x] v2.x.x
 - [ ] v

[2017-03-08 11:42] #153 closed

[2017-03-08 11:44] sasha240100 commented on #152
@Jule- Make a separate issue for memory leak and we will discuss it there and fix.

[2017-03-08 11:44] #152 closed

[2017-03-08 11:44] #117 closed

[2017-03-08 12:02] sasha240100 opened #167 "Fix AreaLight reflection in lights/area example"
See the difference between reflecting `AreaLight` in **whs** example and **three.js** one.

Those problems can be because of different material or light settings. **We need to fix them** to have a cool-looking example!

## Screenshots

### ⚠️  **WhitestormJS:**

![image](https://cloud.githubusercontent.com/assets/7657429/23703158/2ddd94b2-0407-11e7-992d-f908ca8932a9.png)

!!! See no light shape is

[2017-03-08 12:11] sasha240100 opened #168 "Update CONTRIBUTING.md guide"
Some use cases of [`CONTRIBUTING.md`](https://github.com/WhitestormJS/whitestorm.js/blob/beta/.github/CONTRIBUTING.md) file are deprecated since of refactoring changes in V2 and we should update them:

- [x] [**CLI**](https://github.com/WhitestormJS/whitestorm.js/blob/beta/.github/CONTRIBUTING.md#cli)
  - [x] Fix commands, add new ones.
  - [x] Force the use of **npm commands**
- [x] [**Commit nam

[2017-03-08 12:40] sasha240100 opened #169 "Increase coverage report. Unit testing"
Coverage on coveralls decreases. That's why we need to add more tests for Whitestorm.js API.
Those should include:

- [ ] Components
  - [ ] `AreaLight`
  - [ ] `Model`
  - [ ] `Text`
  - [ ] `Line`
- [ ] Modules
  - [ ] `PostProcessorModule`
  - [ ] `VirtualMouseModule`
  - [ ] `DynamicGeometryModule`
- [ ] Controls
  - [ ] `OrbitModule`

###### Version:
 - [x] v2.x.x
 - [ ] v1.x.x

###### Issue

[2017-03-08 14:04] sasha240100 opened #171 "Add ability to use other texture parameters inside TextureModule"
There a couple more [`Texture`](https://threejs.org/docs/index.html?q=text#Reference/Textures/Texture) parameters that should be used inside `TextureModule`

- [x] `wrapS`, `wrapT`
- [x] `mapping`
- [x] Ability to overwrite other.

###### Version:
 - [x] v2.x.x
 - [ ] v1.x.x

###### Issue type:
 - [ ] Bug
 - [ ] Proposal/Enhancement
 - [ ] Question

------

<details>
<summary> <b>Tested on: </b> <

[2017-03-08 14:17] #171 closed

[2017-03-08 17:47] sasha240100 commented on #141
@tiaod See my PR #173 if that fits. And then i merge it

[2017-03-08 17:59] Jule- opened #174 "Memory leak on webgl context disposal"
Hi again,

I think I have found a memory leak issue in WHS when I want to unload all WHS.App in a running page.

I have done some memory tests and it appear that Chrome Dev Tools show detached DOM tree leaks:

![image](https://cloud.githubusercontent.com/assets/9716736/23670145/177f4fc6-0367-11e7-971d-6e8635950666.png)

- Snapshot 1: before initializing the scene (before `new WHS.App()`)
- Snapsho

[2017-03-08 18:22] sasha240100 commented on #174
@Jule- Can i talk with you in discord?

[2017-03-09 20:50] #141 closed

[2017-03-10 12:59] hirako2000 opened #175 "Add example of mouse point"
There is an example of the mouse module detecting intersection with a Sphere.
Would be nice to see an example of mouse over points as well.

###### Version:
 - [x] v2.x.x
 - [ ] v1.x.x

###### Issue type:
 - [ ] Bug
 - [x ] Proposal/Enhancement
 - [ ] Question

------

<details>
<summary> <b>Tested on: </b> </summary>
###### --- Desktop
   - [ ] Chrome
   - [ ] Chrome Canary
   - [ ] Chrome dev-ch

[2017-03-10 14:52] Jule- opened #177 "Disposing Module proposal"
`ModuleSystem` API gives an `integrateModules()` but there is no way to give a chance to dispose modules.

A concrete example is for the `RenderingModule`, if you want to dispose your `App`, for some reason like you are building a SPA and your App is not on every route, you will experiment GPU memory leaks since WebGL contexts are not released on `RenderingModule` destroying. In order to avoid tha

[2017-03-10 15:12] Jule- commented on #177
@sasha240100 if you have time to take a look I will appreciate. I don't know `WHS` from the inside so maybe you will have to adjust code a little.

[2017-03-10 17:39] #174 closed

[2017-03-10 17:46] sasha240100 opened #180 "Make Travis CI builds run on linux"
Currently, all builds use OSX. We use it because of [headless-gl] works with it out of the box.

**See:**
 - https://github.com/stackgl/headless-gl#how-can-i-use-headless-gl-with-a-continuous-integration-service

**Solution.** Add those lines to `travis.yml`
[code]

###### Version:
 - [x] v2.x.x
 - [ ] v1.x.x

###### Issue type:
 - [ ] Bug
 - [x] Proposal/Enhancement
 - [ ] Question

------

<deta

[2017-03-10 19:47] #177 closed

[2017-03-10 20:00] hirako2000 commented on #77
work in progress. @jackdalton , add some ideas about the module API if you have suggestions.

[2017-03-11 01:38] hirako2000 opened #181 "Add socket.io module"
Add a module to integrate socket.io.

Potential benefits:

- sharing/collaboration, several users seeing the same scene remotely, contributors able to modify elements in the scene.
- multi-player gaming, meshes attributes are kept in sync.

 The module would encapsulate socket.io, and add capabilities to components:
- emitting modifiers. e.g set position. scale, rotation (sending off params to a s

[2017-03-11 12:30] dmtaub commented on #181
For sharing a scene --If you have good serialization / deserialization for
the data model, something like ShareJS works well.
Socket's probably better for gaming, though.

[2017-03-11 15:19] sasha240100 commented on #77
@hirako2000 Push your work

[2017-03-11 15:37] #180 closed

[2017-03-11 15:42] sasha240100 opened #184 "Move modules from repos to /modules/"
As we now use `/modules/` folder to keep modules. We should move there some other modules that we keep updating:
 - [x] [whs-module-statsjs](https://github.com/WhitestormJS/whs-module-statsjs) https://github.com/WhitestormJS/whitestorm.js/pull/193/commits/4a3bf968a2abb18ab5e3306850d0f31ba8ec45eb
 - [x] [whs-module-dat.gui](https://github.com/WhitestormJS/whs-module-dat.gui) https://github.com/Whit

[2017-03-11 19:25] hirako2000 commented on #181
thanks @dmtaub, we are experimental stage, we will explore what fits best :)
We might have different modules
- sync scene to any client, ShareJS sounds like a good approach
- game networking, physics, etc. socket.io

[2017-03-12 07:47] hirako2000 commented on #136
Pan is now fixed.

[2017-03-12 07:47] #136 closed

[2017-03-12 08:54] hirako2000 commented on #168
What are the appropriate npm commands to do dev. when I attempted using npm I faced some difficulties... I'm using `gulp dev` for dev. what should it be?

[2017-03-12 09:49] hirako2000 commented on #167
https://github.com/mrdoob/three.js/pull/10893

[2017-03-12 13:58] hirako2000 commented on #166
Merge to beta?

[2017-03-12 15:16] hirako2000 opened #189 "Provide typings"
Typescript developers would benefit in having typings for whs. There are already some [typings](https://www.npmjs.com/package/@types/three) for `three.js`.
See [best practice](http://definitelytyped.org/guides/best-practices.html) to write type definitions.

###### Version:
 - [x] v2.x.x
 - [ ] v1.x.x

###### Issue type:
 - [ ] Bug
 - [x] Proposal/Enhancement
 - [ ] Question

------

<details>
<su

[2017-03-12 15:18] sasha240100 commented on #189
@hirako2000 how to implement?

[2017-03-12 15:19] hirako2000 commented on #189
Creating typings, [definitelytyped](http://definitelytyped.org/guides/creating.html)

[2017-03-12 15:27] ElectrcNINJA commented on #189
I can help with this; It would be very nice to have with any project I would use WHS in.

[2017-03-12 15:37] sasha240100 commented on #189
@ElectrcNINJA would be awesome cause I am 0 at typescript. Make a fork/branch with a name "#189", work there and do a PR

[2017-03-12 17:53] thejmazz commented on #189
typescript over flow is a good call I think

[2017-03-12 17:54] thejmazz commented on #184
how to still keep them separately versioned?

[2017-03-12 18:00] sasha240100 commented on #184
@thejmazz It will be. npm packages will be. Just them will be moved to this repo

[2017-03-12 18:29] thejmazz opened #190 "this.native undefined in getter for copied attributes in MeshComponent"
If you have the following code as a module for a `MeshComponent` (e.g. `Sphere`):

[code]

Then when this is called in `ModuleSystem.applyModule`:

[code]

Then it will invoke the `position` getter, which is defined by

[code]

in `core/prototype/attributes.js`, and decorates `MeshComponent`:

[code]

![image](https://cloud.githubusercontent.com/assets/1270998/23834635/2ec1dcea-0730-11e7-9766-dda0

[2017-03-12 18:33] sasha240100 commented on #190
@thejmazz `integrate()` is called before build. You'll​ need to do that in a `mesh` bridge. I will give you a link of how it is on AudioModule soon

[2017-03-12 18:34] thejmazz commented on #190
Ahh. Yes, I just noticed that `this.native` gets set from result of `build`

[2017-03-12 18:34] sasha240100 commented on #190
https://github.com/WhitestormJS/whitestorm.js/commit/e595bf9048219eb48a3a37355dac164416f2d2d4

[2017-03-12 18:34] sasha240100 commented on #190
See this

[2017-03-12 18:38] thejmazz commented on #190
So then is integrate in a module meant **only for creating new properties on the component** ?

[2017-03-12 18:41] sasha240100 commented on #190
@thejmazz, yes, mostly) you can also modify things in `this`(component) scope, but not `native`. Can I close this?

[2017-03-12 18:47] thejmazz commented on #190
are these lifecycle patterns and what can/cannot be done in manager, integrate, bridges documented anywhere? (this [post](https://hackernoon.com/migrating-to-whitestormjs-v2-beta-module-system-2eeaeda08a80#.h3lftu352) not enough)

If not, maybe rename this issue to something along the lines of "document core class APIs lifecycle and method capabilities" and leave it open.

I'm currently doing my b

[2017-03-12 18:51] hirako2000 commented on #190
I also found the doc a bit unclear, I called out the ordering **Life Cycle* for modules, we need to improve the doc yes, to be more precise about the Life Cycle of Modules relative to the Component cycle.
https://whsjs.readme.io/docs/modules-1

[2017-03-12 18:57] sasha240100 commented on #190
@thejmazz @hirako2000 Seems like we need to define how component is executed. I'd like to have an image that explains it with arrows

[2017-03-12 18:58] sasha240100 commented on #190
@thejmazz You can leave a suggestion in docs

[2017-03-12 19:06] sasha240100 opened #191 "A Module for Wagner PostEffects"
[Wagner](https://github.com/spite/Wagner) has lots of cool **post-processing effects** and **shaders**. I'd like to see them implemented as a module for `App`.

![image](https://cloud.githubusercontent.com/assets/7657429/23834914/06f1b708-0767-11e7-9604-5ea02d7ee6de.png)

**Concept**

[code]

- [ ] Working concept.
- [ ] Support for advanced passes.

And `methods`:

- [ ] `.addPass(pass)` - adds p

[2017-03-12 19:08] thejmazz commented on #191
Instead, maybe abstract it so PP passes can take in fragment shader code

[2017-03-12 19:09] thejmazz commented on #191
However, looking at wagner API, maybe I spoke too soon

[2017-03-12 19:10] sasha240100 commented on #191
@thejmazz It has a lot of effects that we can use. Already implemented! i like that. So simple

[2017-03-12 19:17] thejmazz commented on #191
the source of our current `PostProcessorModule` is very similar to that of Wagner. I suspect ours came from `THREE.EffectComposer`, which Wagner is built on. Might be worthwhile to deprecate `PostProcessorModule` and have a wagner module instead.

[2017-03-12 19:19] sasha240100 commented on #191
@thejmazz If we can compare the code. I mean which implementation is better - yes, let's do that. I want to have a simpler and more flexible implementation. Also consider adding `.togglePass()` option.

**I also have some more ideas in mind that we can add. Some kind of transitions between passes.**

[2017-03-12 19:23] thejmazz opened #192 "rStats module"
http://spite.github.io/rstats/

Since it can be used to measure specific items over specific actions, could be cool as component module. For example, maybe be able to measure things from one component by adding this module to it. Or do it globally on app, etc.

[2017-03-12 19:34] sasha240100 commented on #192
@thejmazz How about current statsjs module or even chrome devtool's one?)

[2017-03-12 19:56] thejmazz commented on #192
rStats captures webgl details, not just fps

[2017-03-12 19:59] sasha240100 commented on #192
@thejmazz Okay. If you are going to implement a such module - see that it should wrap `App`'s loops. See what I have in statsjs module

[2017-03-12 21:44] thejmazz commented on #189
How well does TS handle static properties on a class?

Can it autosuggest a class's static properties in IDEs?

Could maybe annotate components with how they expose bridges with something like

[code]

[2017-03-12 22:11] hirako2000 commented on #189
from my little experience with TS, types are perfectly supported, so long as the typings are well defined (and installed) for dep libraries written in JS of course.
IDEs commonly have support for TS autocompletion etc. - excellent support on Atom and VisualCode.

Best is to see int action and appreciate how good it can be to have types available, especially when learning how to use unfamiliar APIs

[2017-03-13 08:23] #184 closed

[2017-03-13 09:20] hirako2000 opened #194 "Examples page to follow responsive web design"
The examples page layout is good but does not work well on small screen like mobiles, the side bar occupies most of the screen, see screenshot.

- Hide side bar content if screen is below a certain size
- Make selected example name show at the top for small screen
- Add toggle showing on small screen to display the full list
- Hide toggle when another example item is clicked.

![image](https://clo

[2017-03-13 10:18] sasha240100 commented on #194
@hirako2000 Looking forward to see this implemented^^

[2017-03-13 10:19] sasha240100 commented on #194
@hirako2000 Anything i can do? (help with smth)

[2017-03-13 10:52] sasha240100 opened #195 "Add Semantic UI to examples"
I do like semantic UI and I think we can use it in examples. **Some ideas of where it can be used:**

- [x] **Preloading example page.** First loading of whs can take some time, and it will be nice to have a preloader/spinner.
![image](https://cloud.githubusercontent.com/assets/7657429/23851195/353cad6e-07eb-11e7-85e0-c4931070c0e7.png)

- [x] **Sidebar.** Just to handle examples.
![image](https://

[2017-03-13 16:26] #190 closed

[2017-03-14 03:46] thejmazz opened #198 "Subsequent component add's changes earlier manually added THREE.Points"
I have a "stars" component:

[code]

(need to see full image to notice stars better)
![image](https://cloud.githubusercontent.com/assets/1270998/23884935/5f9a851c-0846-11e7-9249-4ce77afed5f4.png)

Then, if I add some spheres:

[code]

At this point, the stars seems to have scaled itself to match the size of the spheres. I verified this by changing sphere sizes.

![image](https://cloud.githubuserco

[2017-03-14 04:20] thejmazz commented on #198
It might actually be modifying the actual geometry:

(stars should be more numerous and randomly placed)

![image](https://cloud.githubusercontent.com/assets/1270998/23885655/046c03aa-084b-11e7-8183-fbf6995a3b63.png)

[2017-03-14 04:45] thejmazz commented on #198
I tracked it down to [here](https://github.com/WhitestormJS/whitestorm.js/blob/beta/src/modules/app/SceneModule.js#L28).

If  you comment that line, the component will not get added, but the previous one will not change.

[2017-03-14 05:43] thejmazz commented on #198
Ok.....**found out it was a problem with my own code**

but it is still really confusing, and I've only fixed the problem by playing around...if anyone has any suggestions..

The original code is this:
![image](https://cloud.githubusercontent.com/assets/1270998/23887188/8efc3700-0856-11e7-9d22-de98d652e9f1.png)

This only works if there is no skybox (when there is skybox, there are no stars):
![im

[2017-03-14 05:44] thejmazz commented on #198
I'll close this since it's no longer a WHS issue. Maybe I am doing something wrong, or it is a Three issue.

[2017-03-14 05:44] #198 closed

[2017-03-14 10:16] #166 closed

[2017-03-14 16:43] edwinwebb commented on #191
Wagner looks like a complex extension of the EffectComposer. WHS has a pretty much 1:1 port. Still seems to swap a couple of RenderTargets but has been extended with a bunch of extra functions to accommodate the complexities of the bundled filters.

The Wagner bundled filters don't seem to rely on any masking or depth rendering techniques which makes things a lot more simple.

I'd say these filter

[2017-03-14 16:45] sasha240100 commented on #191
@edwinwebb So current `PostProcessorModule` can replace a possible WagnerModule?
Could you do a test, please?

[2017-03-14 17:04] sasha240100 opened #200 "Moving three.js outside of whs build"
**Reason**

Some time ago I experienced a problem when was developing a website with **webpack + whs + three** combination. I had some bugs that are hard to debug.

**Explanation of problem that happens**

WHS points to it build file `build/whitestorm.js` which is a UMD implementation of whs and three together. And when you also import `three` like that:

[code]

It will result into a following or

[2017-03-14 17:06] t4r0 commented on #200
@sasha240100 but isn't this the problem why we ported three.js into whs?

[2017-03-14 17:08] sasha240100 commented on #200
@t4r0 I ported `three.js` into `whs` because it requires specific version of `three`. But know such problem we face. It seems @thejmazz has this problem too. It results in larger bundle (2x three.js) and bugs in Three.js

[2017-03-14 17:09] sasha240100 commented on #200
@t4r0 So it is like a regression from my decision. We need to fix it and make it as it should be

[2017-03-14 17:12] t4r0 commented on #200
What I am thinking is that perhaps this is not an issue related to whs itself, it is related to your settings when bundling whs with three. My question is why are you using three aside whs? Wouldn't it be better to expose the Three module inside whs, somehting like.

`import {THREE} from 'whs/threejs';`

[2017-03-14 17:15] sasha240100 commented on #200
@t4r0 This is an issue of whs webpack configuration. Three.js should be moved to `externals`.

[2017-03-14 17:16] t4r0 commented on #200
alright I get it

[2017-03-14 18:20] sasha240100 commented on #200
Also, it is a possible fix of #198

[2017-03-14 20:04] #200 closed

[2017-03-15 00:50] thejmazz commented on #200
Confirmed, `import * as THREE from 'whs/src/three'` is a fix of #198.

[2017-03-15 05:29] sasha240100 commented on #200
@thejmazz See #200. You should be able to use `impprt * as THREE from 'three'` in next version or if you will use it latest commit in beta and do `npm link`

[2017-03-15 11:17] edwinwebb commented on #191
I'll see what I can do. I've a day job so it's hard to find time for open source. I've been working on something similar here which I hope can provide some shortcuts : https://github.com/edwinwebb/three-seed/blob/master/app/Renderer/EffectRenderer.js

[2017-03-15 17:54] #20 closed

[2017-03-15 18:26] sasha240100 opened #202 "DatGUIModule: new concept"
I'd like to see a better and wider implementation of `DatGUIModule`.

**What is currently implemented:**
- One mesh support

**What to implement:**
- [x] Handle module in `App` b8c932b466f6fb202de13f18792780ddbe1fc6fa
- [x] **Multiple** instances 2327eb9e8aded8f962b3f002cb921e3423555eab
  - [x] Share with `App` 2327eb9e8aded8f962b3f002cb921e3423555eab
- [x] Support for **meshes** 2327eb9e8aded8f96

[2017-03-17 11:57] sasha240100 commented on #192
@thejmazz Maybe you can try to develop this one? I assign this issue to you

[2017-03-17 12:07] sasha240100 opened #203 "Support for WebGL 2 in RenderingModule"
https://github.com/mrdoob/three.js/issues/9965

We need to add `WebGL2Renderer` support to `RenderingModule`.

**Concept**

`RenderingModule` will detect webgl 2 support. If webgl 2 **is supported** then `THREE.WebGL2Renderer` will be used. If **not** - it will use `THREE.WebGLRenderer` as always.

**Implementation**

- [ ] Test `THREE.WebGL2Renderer`work in _whs_ using `RenderingModule`.
- [ ] Im

[2017-03-17 15:01] thejmazz commented on #203
Probably good to also add some examples using webgl 2 features, like

- [ ] transform feedback

http://www.realtimerendering.com/blog/webgl-2-new-features/

[2017-03-19 11:46] #202 closed

[2017-03-19 12:29] sasha240100 opened #205 "DatGUIModule: add material properties"
**Implementation**

There is a [`materials.js`](https://github.com/WhitestormJS/whitestorm.js/blob/beta/modules/whs-module-dat.gui/src/materials.js#L91) configuration file that explains dat.gui which properties should be editable.

###### In priority

- colors
- numbers (usually intensity)
- wireframe

##### Properties that can be used in multiple materials

Should be added to `additional` object

[2017-03-19 19:47] t4r0 commented on #205
@sasha240100 could you clarify the explanation of this one?

[2017-03-19 19:49] sasha240100 commented on #205
@t4r0 yes, ask me what you misunderstood. Can you go to discord?

[2017-03-19 19:50] hirako2000 commented on #205
I think we got to fix the problem with the gui data before adding more properties.
-  Load the example
- Change material to Lambert (or phong..)
- Change the color (either color or emissive)
- Change color a few times, you will see at some point it doesnt have any effect.
- if not reload the page and try again.

[2017-03-19 20:34] thejmazz opened #206 "Virtual mouse to handle pointer lock enabled"
Pointer lock hides your cursor, and makes it so you can move your mouse "infinitely"

see https://developer.mozilla.org/en-US/docs/Web/API/Pointer_Lock_API

Virtual mouse module currently uses `clientX` and `clientY` from the patched event. When pointer lock is on, those values stick to what they were when pointer lock was enabled, and instead `movementX` and `movementY` values are provided. (whic

[2017-03-19 20:46] thejmazz commented on #206
Oh, we will also need to draw a pointer in place, since pointer lock hides it. could be a quad with a texture that doesn't use modelView matrix and just set `gl_Position` between 0-1. Or maybe sprite

[2017-03-21 05:48] hirako2000 opened #207 "Add Fog module"
There is no Fog module. It would be useful to have one so that we don't have to fiddle with the native scene properties

###### Version:
 - [x] v2.x.x
 - [ ] v1.x.x

###### Issue type:
 - [ ] Bug
 - [x] Proposal/Enhancement
 - [ ] Question

------

<details>
<summary> <b>Tested on: </b> </summary>

###### Desktop
   - [ ] Chrome
   - [ ] Chrome Canary
   - [ ] Chrome dev-channel
   - [ ] Firefox

[2017-03-21 15:45] sasha240100 commented on #194
**New design**

![image](https://cloud.githubusercontent.com/assets/7657429/24156013/0e818a04-0e5e-11e7-860e-bde7ae78d109.png)

![image](https://cloud.githubusercontent.com/assets/7657429/24156041/1fdc1f6c-0e5e-11e7-9f49-e8d5e2c5f541.png)

[2017-03-21 16:16] sasha240100 commented on #169
@nickooms Any progress?

[2017-03-21 16:21] #163 closed

[2017-03-21 19:02] sasha240100 commented on #194
Test of adaptive design on **Nexus 5X**

**UI**

- **Swipe from left side.** Triggers sidebar.

![image](https://cloud.githubusercontent.com/assets/7657429/24165585/736c2fe4-0e79-11e7-8a4b-0c009fc33bbe.png)

![image](https://cloud.githubusercontent.com/assets/7657429/24165590/76c6ba56-0e79-11e7-8375-effdebfc7d59.png)

[2017-03-22 05:50] thejmazz opened #211 "Source/exports structure"
This issue is concerned with

- how src folders are organized
- how exports are defined for the end user

(they are related to an extent)

First off, I have never used the webpack aliases - and never will. Its too much of a leap of faith for me to blindly import things with magic names just for the sake of nicer looking imports. I'd rather have an understanding of the underlying source structure a

[2017-03-22 05:57] thejmazz commented on #211
@sasha240100 my immediate proposal is to change things like `src/modules/app/index.js` from

[code]

to

[code]

so that they available directly from the module, for the sake of consistency (e.g. a user not knowing which "sub object" to find components from).

[2017-03-22 06:32] sasha240100 commented on #211
@thejmazz I want to keep them by sections. Any other way we can do that? (Like `AppElementModule`?)

[2017-03-22 13:04] hirako2000 commented on #207
done.

[2017-03-22 13:04] #207 closed

[2017-03-22 13:06] hirako2000 commented on #195
the semantic-ui item appears in the examples page (and of course nothing to show) we should add it to the folders to ignore from display.

[2017-03-22 14:01] sasha240100 commented on #195
@hirako2000 I will soon add it to current design (At least loader)

[2017-03-22 15:33] thejmazz opened #213 "TextureModule"
Some improvements can be made to `TextureModule`

- allow setting more options on underlying texture from constructor (make sure includes every option three does)
  - [ ] `minFilter` and `magFilter`
- allow passing in an "image object", i.e. `(new THREE.TextureLoader()).load(imageUrl)`
- support data textures (or maybe make a `DataTexture` module - I have a wip for this)
- support for a `LoaderMod

[2017-03-22 15:38] thejmazz opened #214 "DataTextureModule"
I have a module for data textures from whs v1. I think either a `DataTextureModule` and `TextureModule` (see #213) can exist, or there can be one generic one. Here is the code for reference, I will make a v2 version soon. Also included some utils I used, but probably would not want those in the module. But maybe the data texture module could have some param options which are callback functions use

[2017-03-22 15:53] sasha240100 commented on #214
@thejmazz Is there a three.js example that explains `DataTexture` ?
/ping @hirako2000

[2017-03-22 15:53] thejmazz opened #215 "LoaderModule"
There are lots of times where you need to pull in async dependencies on a per app or per component basis. I normally just do

[code]

and then use `myImage` later in code. If it is not downloaded yet, component will show a blank black face, then suddenly get the texture. This is not ideal, I think we can make a generic module to handle loading component dependencies, and keeping track of their pro

[2017-03-22 15:57] sasha240100 commented on #213
@thejmazz

There is a way to modify the texture before it is applied to mesh. See `fix()` property. This one works similarly to **module bridges**.
https://github.com/WhitestormJS/whitestorm.js/blob/beta/src/modules/mesh/TextureModule.js#L27

**Usage:**

[code]

[2017-03-22 15:57] thejmazz commented on #214
There is not much to explain - works the same as a normal texture except you construct the array buffer yourself (thats why need to set encoding, e.g. `rgb` vs `rgba`).

It can be used to create height map textures on CPU for example - or use `Math.random()` to make noise textures rather than using a shader and texture render target.

[2017-03-22 16:03] thejmazz commented on #211
What are the main sections?

is `App` the only thing that is going to have modules specifically for it, and any other modules will work with `Component`s?

Yeah, that's what I meant by suffixing/prefixing. So something like

- `AppElementModule`
- `ElementAppModule`

Furthermore, how's best way to name modules so that their compatibility with components is clear? Or maybe just have them throw erro

[2017-03-22 16:07] sasha240100 commented on #214
- Let's have `generateTextureArray` and `dataMaker` as static methods of `DataTextureModules` because it's better to keep module as one exported (default) class

- `defaults` seems a bit complicated (yep, those are not required) but there we just copy three.js params. I think `THREE.DataTexture` should already handle _undefined_ params.

- **module** should not return `this.dataTexture` because th

[2017-03-22 16:21] sasha240100 commented on #211
@thejmazz Also consider that three.js does it for materials. **For instance:**
 - `MeshBasicMaterial`
 - `LineDashedMaterial`

Yes, for modules that **are included into whs** we can do nearly the same:
 - `AppElementModule`
 - `AppRenderingModule`

`AppXXXXXModule`

**But I'm not sure... I think that we can just drop that `WHS.app.` and leave just module name.**

[2017-03-22 16:34] sasha240100 commented on #215
@thejmazz Nice idea!

I have an idea _(Concept similar to current `DatGUIModule` implementation)_.

**Concept**:

[code]

- Module can get `material` with bridge and automatically detect unloaded textures.
- `loader.Component(name)` - Waits until component is added to app.
- `loader.Wait(name, [promise / func])` - Waits until returned `Promise` is resolved.

[2017-03-22 18:17] sasha240100 opened #216 "Core API"
## API

### App

- [Documentation: App](https://whsjs.readme.io/docs/app)

### components

- [Documentation: Component](https://whsjs.readme.io/docs/component)

### modules

 - [Migrating to WhitestormJS v2 beta. Module system](https://hackernoon.com/migrating-to-whitestormjs-v2-beta-module-system-2eeaeda08a80#.t7ety6qc8)
 - [WhitestormJS v2 Beta: New Ecosystem](https://davidwalsh.name/whitestormj

[2017-03-22 19:09] hirako2000 commented on #214
who creates texture from (bytes?) arrays? What is the benefit?

[2017-03-22 19:31] thejmazz commented on #214
@hirako2000 for cpu generative textures like this https://jmazz.me/codevember/2016/19/

source: https://github.com/thejmazz/threejs-starter-pack/blob/e60ad6f66a11f60c928b20ee70bd9ce869d5d502/src/index.js#L142

Useful to use CPU based random functions since there are some quirks with GPU implementations of PRNG. But for simplex/perlin noise, GPU is *a lot* faster (and then you need to use render ta

[2017-03-22 19:40] sasha240100 commented on #214
@thejmazz I'd like to see an example with it. How about making a fractal? could you make a simple one?

![image](https://cloud.githubusercontent.com/assets/7657429/24217298/0d95a022-0f48-11e7-8b80-a69c85d9ba29.png)

[2017-03-22 20:53] hirako2000 commented on #169
Looking at the existing tests, we have a few problems there:

- Existing tests' spec don't describe properly (see example of proper description done the FogModule tests).
- More assertions should be added across existing tests, not just those mentioned on this issue
- The Structure  should change, I suggest we bring tests closer to each src files as an incentive to add tests as we add code.
- I su

[2017-03-22 20:54] hirako2000 opened #217 "Revisit Line component"
The [`Line`](https://github.com/WhitestormJS/whitestorm.js/blob/beta/src/components/meshes/Line.js) component has no test. no example.
Let's revisit this component. Fix it if necessary, support handful function, and create an example to illustrate how it works.

- [x] add start/end params to Line
- [x] add example to show how line work with two vertices
###### Version:
 - [x] v2.x.x
 - [ ] v1.x.x

[2017-03-22 20:58] hirako2000 opened #218 "Spec/tests closer to src code"
Ideally the tests should be closer to the src code.

Why?
Incentive to test the code. Not having to search for where existing specs are etc.
If not possible/difficult with our current setup, let's at least bring structure to the specs we have in the `test` folder.

Or discuss. what we have right now is far from ideal.

###### Version:
 - [x] v2.x.x
 - [ ] v1.x.x

###### Issue type:
 - [ ] Bug
 - [

[2017-03-22 21:40] #194 closed

[2017-03-23 01:03] elva2596 commented on #213
hello,I have some issues in textureModule,Can you help me ?
issue is  [here](https://github.com/WhitestormJS/whitestorm-app-boilerplate/issues/8)

[2017-03-23 05:15] sasha240100 commented on #213
@elva2596 Yes, will do.
/ping @hirako2000

[2017-03-23 07:11] hirako2000 opened #220 "Change naming style from whitestorm.js and whitestorm.compact.js to whitestorm-full.js and whitestorm-compact.js?"
Pointed out recently, the compact vs full can be somewhere unclear without reading the doc or asking.
Would it make sense to rename the bundled flavors? I think it's pretty common to have `compact` or `light` appended, while keeping the full, without any suffix. Discuss.

###### Version:
 - [x] v2.x.x
 - [ ] v1.x.x

###### Issue type:
 - [ ] Bug
 - [ ] Proposal/Enhancement
 - [ ] Question
 - [x] D

[2017-03-23 08:06] sasha240100 commented on #220
@hirako2000 how about renaming into `whitestorm.core.js`?

[2017-03-23 14:49] thejmazz commented on #220
I like using `.` instead of `-`

[2017-03-23 14:51] thejmazz commented on #218
so can use jest style? with `__spec__` (or similar) folder alongside code

[2017-03-23 14:57] sasha240100 commented on #218
@thejmazz We discussed. I suggest having tests in src folder like `Component.spec.js`. That way we can easily see which tests need to be done

[2017-03-23 14:58] sasha240100 commented on #216
/ping @thejmazz

[2017-03-24 03:45] thejmazz opened #222 "Consider using debug module instead of console.log"
https://github.com/visionmedia/debug

it can be a help to have a trace of steps when debugging problems - in general console.log helps in these cases. it can also be really useful for bug reports.

with environment variables, can turn on/off debugging for certain debug statements

might be tricky, but can probable remove from "prod" build where no console debugging is necessary.

in general, might

[2017-03-24 06:12] thejmazz opened #223 "Place base components as sibling files to those which extend them; composition vs inheritance"
I think it would make more sense for `src/core/LightComponent.js` to be at `src/components/lights/LightComponent.js` - there is this (somewhat arbitrary) assumption about "core ness". At least when digging through the hierarchy source, helps to not have to jump around (if you do not know where it is). And since we can export everything as named exports it behaves the same to end user.

*Naturally,

[2017-03-24 06:21] hirako2000 commented on #223
A good read: [there](https://medium.com/@dan_abramov/how-to-use-classes-and-sleep-at-night-9af8de78ccb4#.bfqb5865m
)

[2017-03-24 06:37] hirako2000 commented on #168
Are you able to complete this task @sasha240100 ? I adjusted most part, but still need to
- Clarify what is the recommend way to dev locally (gulp or webpack command)
- Remove the changelog part if it's not relevant any more.

[2017-03-24 06:58] sasha240100 commented on #168
@hirako2000 I will. I also plan to add:
- [ ] more detailed description of how to make PRs

[2017-03-24 16:56] #168 closed

[2017-03-25 06:35] sasha240100 commented on #222
@thejmazz to handle errors correctly in node.js?

[2017-03-25 06:36] sasha240100 commented on #222
I thought about replacing `console.log`. We can do that

[2017-03-25 06:37] sasha240100 commented on #215
@thejmazz tell me what you think about my concept and I will start implementing it.

[2017-03-25 21:08] thejmazz commented on #222
Not just for Node, but just b/c it allows toggling debug logs with environment variables. could have different logs turned off for different test cases for example, or if you need to debug a specific problem

[2017-03-26 15:52] thejmazz commented on #215
@sasha240100 I am also working on my own implementation, when it has the basics working I will compare/contrast API with your concept :)

[2017-03-26 17:22] thejmazz commented on #215
I don't see in your example how to

- declare a loadable item with a key
- fetch that item when loaded in the component using an instance of `LoaderModule`

(`'player assets'` and `'player components'` are not used in creation of mesh or material)

So you can easily write a material constructor that can pluck out a desired texture with a key from the loader, something like

[code]

[2017-03-27 14:21] #195 closed

[2017-03-30 13:29] hirako2000 commented on #218
I think @thejmazz  is correct.
We can bring it closer to the src, but with that __test__ and __mock__ pattern.

[2017-03-30 19:41] thejmazz commented on #214
https://medium.com/dailyjs/the-mandelwat-set-c3037204bf83

[2017-03-31 22:03] hirako2000 commented on #217
curve is mandatory. Line requires a curve, contrary to what the doc says.
Should we just fix the doc?

[2017-04-01 14:13] sasha240100 commented on #217
@hirako2000 Fix the doc. But I think we can completely rewrite Line coponent as it is not a Line at all (now)

[2017-04-02 10:48] #206 closed

[2017-04-02 11:13] sasha240100 opened #228 "Make a separate WHS.Curve component"
In issue #217 we have a new `WHS.Line` described. Since it shouldn't support curves, we have to make a new `WHS.Curve` component.

**Location:** `src/components/meshes/Curve.js`

**Concept**

[code]

###### Version:
 - [x] v2.x.x
 - [ ] v1.x.x

###### Issue type:
 - [ ] Bug
 - [x] Proposal/Enhancement
 - [ ] Question
 - [ ] Discussion

------

<details>
<summary> <b>Tested on: </b> </summary>

###

[2017-04-07 17:06] sasha240100 commented on #217
@hirako2000 What's the progress?

[2017-04-07 18:37] sasha240100 opened #230 "Small refactoring"
### Components

- [x] `WHS.Model` -> `WHS.Importer` **Reason:** can handle group of objects

### Modules

- [x] `WHS.app.ModuleName` -> `WHS.ModuleName`

### Maintainance

- [x] Remove `compact` version

### Presets

- [x] Make `TestApp` class that will behave like an `App` with `BasicAppPreset`

### ControlsModule
A lot of Three.js controls have similar API (`.update()`, ...).

We can make a `Con

[2017-04-07 18:40] sasha240100 commented on #230
I also want to keep simplicity of current `OrbitModule`.
It will now extend `ControlsModule` and be renamed to `OrbitControlsModule`

[2017-04-08 10:45] hirako2000 commented on #218
@sasha240100  can you check the async change I made, and merge?

[2017-04-08 10:50] sasha240100 commented on #218
@hirako2000 Yes, where to merge?

[2017-04-08 11:23] #215 closed

[2017-04-09 12:47] sasha240100 opened #233 "Move documentation to JSDoc"
There is a JSDoc support for **Readme.io** - [link here](https://readme.io/swagger/)

I'd like to see it working with this project. How about moving docs there? It will be easier to maintain them.

###### Version:
 - [x] v2.x.x
 - [ ] v1.x.x

###### Issue type:
 - [ ] Bug
 - [x] Proposal/Enhancement
 - [ ] Question
 - [x] Discussion

------

<details>
<summary> <b>Tested on: </b> </summary>

#####

[2017-04-09 14:05] hirako2000 opened #234 "Cover CameraModule with unit tests"
CameraModule needs more comprehensive unit tests

###### Version:
 - [x] v2.x.x
 - [ ] v1.x.x

###### Issue type:
 - [ ] Bug
 - [x] Proposal/Enhancement
 - [ ] Question
 - [ ] Discussion

------

<details>
<summary> <b>Tested on: </b> </summary>

###### Desktop
   - [ ] Chrome
   - [ ] Chrome Canary
   - [ ] Chrome dev-channel
   - [ ] Firefox
   - [ ] Opera
   - [ ] Microsoft IE
   - [ ] Microsof

[2017-04-11 13:29] #230 closed

[2017-04-11 13:32] sasha240100 commented on #211
Closing because this change is already included in #231

[2017-04-11 13:32] #211 closed

[2017-04-11 13:35] sasha240100 commented on #234
Merged #235

[2017-04-11 13:35] #234 closed

[2017-04-11 19:22] hirako2000 commented on #217
fixed styles (finally)

[2017-04-11 19:49] #217 closed

[2017-04-14 20:27] hirako2000 commented on #233
What about using [jsdoc](http://usejsdoc.org/) and push the generated doc to surge?

[2017-04-14 20:29] sasha240100 commented on #233
@hirako2000 Maybe use [some integrations](http://swagger.io/open-source-integrations/) to use it for library API ?

[2017-04-14 20:40] hirako2000 commented on #233
@thejmazz , what do you think?

[2017-04-16 16:11] thejmazz commented on #233
I don't think swagger is useful here, as @hirako2000 mentions - it is for documenting REST APIs.

It does seem very useful to have HTML documentation generated from code comments. JSDoc is great, and has a bunch of to-markdown, to-html tools. Maybe something like [typedoc](https://github.com/TypeStrong/typedoc) would work as well.

I'm curious how whs-specific features (e.g. "this component is com

[2017-04-18 20:35] Nodewarrior commented on #220
How about having whitestorm.mini.js? and keep the whitestorm.js as it is?

[2017-04-18 20:36] sasha240100 commented on #220
@Nodewarrior I think having just a compressed version is enough as it's not such a big. For other - use webpack + sources

[2017-04-18 20:38] hirako2000 commented on #220
We close? @Nodewarrior , .**min.js** is sort of _reserved_ as it  indicates minified file.

[2017-04-18 20:39] sasha240100 commented on #220
@hirako2000 I think we can close it, yes

[2017-04-18 20:39] #220 closed

[2017-04-19 07:47] Nodewarrior commented on #220
Yeah, gotcha!

[2017-04-24 07:48] Viltaria opened #236 "Codepen doesn't work"
Codepen is broken
http://codepen.io/sasha240100/pen/wgEXwN
###### Version:
 - [x] v2.x.x
 - [ ] v1.x.x

###### Issue type:
 - [x] Bug
 - [ ] Proposal/Enhancement
 - [ ] Question
 - [ ] Discussion

------

<details>
<summary> <b>Tested on: </b> </summary>

###### Desktop
   - [x] Chrome
   - [ ] Chrome Canary
   - [ ] Chrome dev-channel
   - [ ] Firefox
   - [ ] Opera
   - [ ] Microsoft IE
   - [ ]

[2017-04-24 18:25] sasha240100 commented on #236
@Viltaria Thanks. Updated those link to use [`v2.0.0-beta.8` version](https://cdnjs.cloudflare.com/ajax/libs/whitestorm.js/2.0.0-beta.8/whitestorm.js) (Current latest)

[2017-04-24 18:25] #236 closed

[2017-04-24 21:37] hirako2000 opened #237 "ExtrudeBufferGeometry does not exist"
As reported on the boilerplate [issue](https://github.com/WhitestormJS/whitestorm-app-boilerplate/issues/11), `ExtrudeBufferGeometry` does not exist.

Fix the [Extrude](https://github.com/WhitestormJS/whitestorm.js/blob/beta/src/components/meshes/Extrude.js#L42) component build function to build  buffered extrude geometry from the extrude geometry.

###### Version:
 - [x] v2.x.x
 - [ ] v1.x.x

###

[2017-04-25 08:27] sasha240100 opened #239 "Refactor meshes: buffer geometry + remove physics"
As I described [here](https://github.com/WhitestormJS/whitestorm.js/pull/238#pullrequestreview-34495633), we should:

 - [ ] Remove the use of `params.softbody`.
 - [ ] Use `BufferGeometry().from()` in meshes that don't support buffer geometry yet.

I think [`ExtrudeBufferGeometry`](https://threejs.org/docs/index.html#api/geometries/ExtrudeBufferGeometry) was added in latest [three.js dev](https:/

[2017-04-26 20:48] zored commented on #189
@sasha240100 Waiting for typings. 😄 Have you seen that you can [use `"types": "./typings/wts.d.ts"` in `package.json`](http://stackoverflow.com/a/39998720/1611395) to avoid `@types/...` dependency?

[2017-04-27 00:39] hirako2000 commented on #189
Zored, we do need typings, we've been busy doing other things in the mean time, and would love someone having typings definitions experience or knowledge to take the lead on this.
The typescript boilerplate is set up with typings for other frameworks, including three.js, it would be a nice place to experiment with some basic WHS definitions.

Are you able to give us a hand with this?

[2017-04-27 08:57] zored commented on #189
@hirako2000 ok, I'll write definitions and I'll create pull-request in several days. Currently I try to adapt `dts-gen` to automate typings generation. Otherwise I'll create them manually. There will be `./typings/*.d.ts` in project root similar to [`@types/three`](https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/three). But without tests for now that are just checking input/ou

[2017-04-30 13:58] hirako2000 opened #240 "Fix Box's default depthSegments"
Box misses its default depthSegment

- Fix typo
- Remove softbody
- Add some unit test

###### Version:
 - [x] v2.x.x
 - [ ] v1.x.x

###### Issue type:
 - [x] Bug
 - [ ] Proposal/Enhancement
 - [ ] Question
 - [ ] Discussion

------

<details>
<summary> <b>Tested on: </b> </summary>

###### Desktop
   - [ ] Chrome
   - [ ] Chrome Canary
   - [ ] Chrome dev-channel
   - [ ] Firefox
   - [ ] Opera

[2017-05-01 12:29] #240 closed

[2017-05-02 18:07] #239 closed

[2017-05-02 18:12] sasha240100 opened #242 "Update Three.js to r85"
A new, bigger release of three.js [is out](https://github.com/mrdoob/three.js/releases/tag/r85). Should be tested and included to next version of **whs (v2.0.0-beta.9)**.

- [x] Test **r85** with whs
  - [x] Fix bugs
  - [x] Use improvements (performance) - if possible
- [x] Patch new version to `package.json`

###### Version:
 - [x] v2.x.x
 - [ ] v1.x.x

###### Issue type:
 - [ ] Bug
 - [x] Propo

[2017-05-04 06:16] rahuldeo2047 opened #243 "Conveyor system"
How to design conveyors using this whitestorm?
contact motion etc
Let me know how can I contribute for the mentioned system dev.

###### Version:
 - [x] master

###### Issue type:
 - [ ] Bug
 - [x] Proposal/Enhancement
 - [x] Question
 - [ ] Discussion

------

<details>
<summary> <b>Tested on: </b> </summary>

###### Desktop
   - [x] Chrome
   - [ ] Chrome Canary
   - [ ] Chrome dev-channel
   -

[2017-05-04 10:36] sasha240100 commented on #243
/ping @hirako2000

[2017-05-04 10:41] hirako2000 commented on #243
can you elaborate @rahuldeo2047 ? some example to see what's a conveyor? and what the system should do?

[2017-05-05 07:25] rahuldeo2047 commented on #243
Thank you for the response. :D

An example only : https://www.youtube.com/watch?v=gVToWuG2QIA
Real conveyors :
https://www.youtube.com/watch?v=Fd_zFi3W8q0
https://www.youtube.com/watch?v=d9o6JKfFwjc

Simplest approach:
If a box (white cuboid in image) having 'contact surface velocity' where any rigid body touches can get that velocity.
The velocity can change any time and body already in contact m

[2017-05-05 17:12] sasha240100 commented on #243
@rahuldeo2047 The most clear way to do it (as on video) for me is to use **[hinge constraints](https://whs-dev.surge.sh/examples/?constraints/hinge)** between boxes (like it is on [your video](https://www.youtube.com/watch?v=gVToWuG2QIA)). And apply an angular velocity to result object (or something like this).

**But... From the point of optimization...**
I'd better make it so:
 1) A simple mesh

[2017-05-05 18:12] rahuldeo2047 commented on #243
Any example for optimization point 1 and 2?
Thank you

[2017-05-05 18:29] sasha240100 commented on #243
@rahuldeo2047

- [Physics world](https://github.com/WhitestormJS/physics-module-ammonext#new-physicsworldmodule)
- [Physics box](https://github.com/WhitestormJS/physics-module-ammonext/blob/master/README.md#new-physicsboxmodule)
- [Collision event](https://github.com/WhitestormJS/physics-module-ammonext/blob/master/README.md#collision)
- [Hinge constraint](https://github.com/WhitestormJS/whitestor

[2017-05-06 05:47] rahuldeo2047 commented on #243
Could not make it to work

https://github.com/rahuldeo2047/whitestorm-conveyor-belt-physics/blob/master/explore-whitestormjs.js#L117
I think I am missing something very basic.

---

Please let me know I'll move to discord from here if I should be there.

---
Secondly not to focus now : https://github.com/rahuldeo2047/whitestorm-conveyor-belt-physics/blob/master/explore-whitestormjs.js#L149 might n

[2017-05-06 07:10] sasha240100 commented on #243
A Vector3 object should be passed into applyCentralImpulse

On May 6, 2017 8:47 AM, "Rahul" <notifications@github.com> wrote:

[2017-05-06 09:24] rahuldeo2047 commented on #243
Still doesn't work
https://github.com/rahuldeo2047/whitestormjs-conveyor-belt-physics/blob/master/explore-whitestormjs.js#L121

---

But this works
https://github.com/rahuldeo2047/whitestormjs-conveyor-belt-physics/blob/master/explore-whitestormjs.js#L152

---

It seems the 'collision' method is not being called.
Any doc to study ? What can be the issues ?

[2017-05-06 10:08] hirako2000 commented on #243
Let's discuss in discord @rahuldeo2047

[2017-05-06 11:53] rahuldeo2047 commented on #243
Could use whitestorm for conveyor belt physics. http://codepen.io/Rick2047/pen/NjwqmO

Will check for variable velocities.

[2017-05-11 19:25] hirako2000 commented on #189
I'v started adding type definitions, starting with Core.
Would it make sense to fork [DefinitelyTyped](https://github.com/DefinitelyTyped/DefinitelyTyped) under WhitestormJS and contribute there?
We can then make pull requests, it will publish to npm once they get merged by the dt team.

[2017-05-12 11:44] hirako2000 commented on #77
whs-audio-module is not published on npm yet.

[2017-05-13 15:00] #243 closed

[2017-05-19 02:44] hirako2000 commented on #228
[THREE.Curve](https://threejs.org/docs/#api/extras/core/Curve) is an abstract object.
There are numerous three.js native type of curves. Not sure what curve to provide there as a component.

[2017-05-20 10:27] hirako2000 commented on #237
fixed.

[2017-05-20 10:27] #237 closed

[2017-05-20 10:42] hirako2000 commented on #233
I don't think generated doc is all that useful right now.
probably better put some effort in typings, which give an incentive to provide human readable comment to functions and properties since they are exposed for typescript users.

I suggest we close this for now. provide clearer doc in readme.io where appropriate, more examples & some guides.

The source code ultimately is needed for understand

[2017-05-20 12:29] hirako2000 commented on #167
Adding another source of light seems to enable its reflection - but not simple to remove noise.
Also, the intensity misbehaves, which is probably what causes noise in the first place.
![image](https://cloud.githubusercontent.com/assets/1500712/26275760/988ef930-3d92-11e7-9bfd-a5ac5794e868.png)

[2017-05-26 18:22] Shurlow opened #245 "CDN build missing modules"
The current build hosted on [cdnjs](https://cdnjs.com/libraries/whitestorm.js/2.0.0-beta.8) doesn't seem to have all the modules built correctly. I am getting this error when including whs in a script tag:

[code]

Are modules like `WHS.ElementModule` intended to be included in the core api?

I understand that the recommended usage is via npm + webpack (totally agree), but maybe a functional cdn b

[2017-05-26 18:26] hirako2000 commented on #245
@Shurlow , with beta8, would need to do this:
[code]
Let's talk on discord if you have any other issue

[2017-05-26 18:27] Shurlow commented on #245
Gotcha, i'm just using the example setup as so:

[code]

[2017-05-26 18:28] hirako2000 commented on #245
yep, we try to keep examples as accurate as we can, but as we tidy up the API (backward compatible in 99% of the cases) if using a previous version, then it won't work.
I would say we just need to keep our CDN version and code pen examples up to date.

[2017-05-26 18:32] #245 closed

[2017-05-26 18:40] Shurlow commented on #245
Hmm but I am using the most recent build on cdnjs 2.0.0-beta.8. Does this bundle still need to be transpiled with babel? I noticed the codepen example does this (https://codepen.io/sasha240100/pen/wgEXwN).

What is the purpose of the cdn if not to deliver to a client directly?

[2017-05-26 18:46] hirako2000 commented on #245
that's a good question. I always use babel with a bundler.
Do you mind coming to discord a minute, I'm online

[2017-05-29 17:45] d-ph commented on #189
@hirako2000 Please don't contribute to DT. Instead add the types directly to this project's repo (as @zored said). This is the recommended way of providing typings for js projects.

See [vuejs](https://github.com/vuejs/vue) for reference:
1. `types/index.d.ts`: [link](https://github.com/vuejs/vue/blob/dev/types/index.d.ts)
2. In `package.json` mention the `types/index.d.ts` in the `typings` field:

[2017-05-29 17:55] hirako2000 commented on #189
thanks a lot for the input @d-ph, will do that

[2017-06-01 10:50] hirako2000 opened #247 "Physics don't work on all browsers"
Loading some examples, mesh appear fine but disappear after a second or so.
See tested version below. try Cylinder example. but other examples are affected.

###### Version:
 - [x] v2.x.x
 - [ ] v1.x.x

###### Issue type:
 - [x] Bug
 - [ ] Proposal/Enhancement
 - [ ] Question
 - [ ] Discussion

------

<details>
<summary> <b>Tested on: </b> </summary>

###### Desktop
   - [x] Chrome (Version 60.0.

[2017-06-01 12:31] thiervoj opened #248 "Rotating model with physics resets the rotation"
When importing a model with `WHS.Model` and applying it a `rotation` in the constructor with `Physics`, the object is created with the correct rotation.
Then, when Physics is loaded, the rotation resets to the defaults.
Here is a pen showing the issue on the "arch" object (the `Cylinder`'s rotation works fine) : [https://codepen.io/jordanthiervoz/pen/vZBEWO](https://codepen.io/jordanthiervoz/pen/v

[2017-06-01 14:44] sasha240100 commented on #248
Fixed in #242. Will be soon in next release

[2017-06-06 08:57] thiervoj commented on #248
The `rotation` issue seems to be resolved in the `beta 9.1` version.
I created an updated pen here : [https://codepen.io/jordanthiervoz/pen/yXymQb](https://codepen.io/jordanthiervoz/pen/yXymQb).

It looks like the physics are not updated for the collisions according to the rotation: the cylinder goes trough the model then bumps in the middle of it.

[2017-06-06 09:06] #248 closed

[2017-06-06 09:16] sasha240100 commented on #248
@thiervoj Open the issue in https://github.com/WhitestormJS/physics-module-ammonext . Looks like it is a scaling problem (data like `height`, `radiusTop`, ...)

[2017-06-06 09:20] sasha240100 commented on #248
@thiervoj Okay, I found the problem. You forgot to set `scale` on your concave mesh. [See this example](https://github.com/WhitestormJS/whitestorm.js/blob/beta/examples/basic/model/script.js#L18)

[2017-06-06 09:40] thiervoj commented on #248
Oh, my bad ! Thanks for that :)

[2017-06-13 14:27] hirako2000 opened #249 "Bone, animation module"
Animation is possible with WHS but require low level code with three.js APIs.

Provide an animation-module for models.

###### Version:
 - [x] v2.x.x
 - [ ] v1.x.x

###### Issue type:
 - [ ] Bug
 - [x] Proposal/Enhancement
 - [ ] Question
 - [ ] Discussion

------

<details>
<summary> <b>Tested on: </b> </summary>

###### Desktop
   - [ ] Chrome
   - [ ] Chrome Canary
   - [ ] Chrome dev-channel

[2017-06-16 05:26] sasha240100 opened #250 "SourceMaps in webpack for other projects"
Would be nice to have it. But I'm not confident of implementation yet. The ONLY way to have `sourcemaps` now is to compile `whs` on project side and it is a real disadvantage.

**That's what you should do to HAVE `sourcemaps` of `whs`**:
1) Use `whs/src/index` instead of `whs` (which directs to `whs/build/whitestorm.js`. Already compiled one)
2) Add [`this list of babel plugins`](https://github.co

[2017-06-16 07:56] hirako2000 opened #251 "Add multi-material model import example"
Importer and various loaders can be counter intuitive to use. We would need some example using WHS Importer for more complex use cases:

- [x] Single mesh, with texture (we have that already)
- [x] Single mesh, with textures for different maps (we have that already)
- [ ] Single mesh, multi materials with textures
- [ ] Multiple mesh

###### Version:
 - [x] v2.x.x
 - [ ] v1.x.x

###### Issue type:

[2017-06-17 05:28] sasha240100 opened #253 "Markdown guide for examples"
I'd like to see this feature in docs/examples. Some "complex" or popular examples should have alike description tab that explains:
 - How to build such app step-by-step
 - Which modules were used (that are not in whs build)
 - Some tips that you should note while making a similar thing

###### Version:
 - [x] v2.x.x
 - [ ] v1.x.x

###### Issue type:
 - [ ] Bug
 - [x] Proposal/Enhancement
 - [ ] Qu

[2017-06-17 10:18] sasha240100 commented on #228
Close?

[2017-06-17 11:14] hirako2000 commented on #228
yep I don't think it's a priority as we could create hundreds of components. people can create their own already.

[2017-06-22 04:48] #249 closed

[2017-06-22 04:49] #242 closed

[2017-06-22 09:59] hirako2000 commented on #233
Progress on issue #189

[2017-06-23 11:47] hirako2000 commented on #77
@sasha240100 can you publish the module and close?

[2017-06-23 11:48] hirako2000 commented on #191
is that superseeded with stuff you did with postprocessing @sasha240100 ?

[2017-06-23 17:32] sasha240100 commented on #77
@sasha240100 actually yes, I need to recompile and update all modules

[2017-06-26 20:13] Tobias-B-Besemer opened #261 "Update info on github.com/WhitestormJS/"
The description "3D Web framework(engine)" missing IMHO a space before "(engine)"...

...and the project URL should IMHO be: https://whsjs.io/

[2017-06-27 09:25] hirako2000 commented on #261
fixed, thanks @Tobias-B-Besemer

[2017-06-27 09:25] #261 closed

[2017-06-30 20:08] #233 closed

[2017-06-30 20:12] sasha240100 commented on #228
Deprecated

[2017-06-30 20:12] #228 closed

[2017-06-30 20:12] sasha240100 commented on #250
Fixed in #259

[2017-06-30 20:12] #250 closed

[2017-07-02 11:53] hirako2000 opened #267 "Types for Box and Sphere components"
We are now providing a few types, but ts projects now using `whs`  will fail to compile as certain classes are not defined (they pull `whs` provided definitions automatically).

Provide types for
- Box
- Sphere

###### Version:
 - [x] v2.x.x
 - [ ] v1.x.x

###### Issue type:
 - [ ] Bug
 - [x] Proposal/Enhancement
 - [ ] Question
 - [ ] Discussion

------

<details>
<summary> <b>Tested on: </b> </s

[2017-07-02 12:11] hirako2000 commented on #189
We few types are added and this Issue became a snowball as it included jsDoc setup etc.
Types continued with issue #267
We will have multiple issues to get all types provided by `whs`

[2017-07-02 12:11] #189 closed

[2017-07-02 16:41] hirako2000 opened #269 "Provide Typings for Cameras"
the different types of cameras needs their typings.
The CameraComponent also needs completed with parameter types to be inherited

###### Version:
 - [x] v2.x.x
 - [ ] v1.x.x

###### Issue type:
 - [ ] Bug
 - [x] Proposal/Enhancement
 - [ ] Question
 - [ ] Discussion

------

<details>
<summary> <b>Tested on: </b> </summary>

###### Desktop
   - [ ] Chrome
   - [ ] Chrome Canary
   - [ ] Chrome de

[2017-07-02 17:02] hirako2000 commented on #267
Continued with #269

[2017-07-02 17:02] #267 closed

[2017-07-03 12:25] hirako2000 opened #271 "Provide Typings for Lights"
Typings are needed for light components

###### Version:
 - [x] v2.x.x
 - [ ] v1.x.x

###### Issue type:
 - [ ] Bug
 - [x] Proposal/Enhancement
 - [ ] Question
 - [ ] Discussion

------

<details>
<summary> <b>Tested on: </b> </summary>

###### Desktop
   - [ ] Chrome
   - [ ] Chrome Canary
   - [ ] Chrome dev-channel
   - [ ] Firefox
   - [ ] Opera
   - [ ] Microsoft IE
   - [ ] Microsoft Edge

#

[2017-07-03 12:26] hirako2000 commented on #269
Continued with #271

[2017-07-03 12:26] #269 closed

[2017-07-03 12:29] sasha240100 commented on #269
@hirako2000 Thanks!

[2017-07-03 16:32] sasha240100 opened #272 "Migrating to Rollup + Webpack"
The current workflow is relying on webpack-only configuration. I'd like to move the build process of `whs` and `modules/` directory to Rollup as it is [better for libraries](https://medium.com/webpack/webpack-and-rollup-the-same-but-different-a41ad427058c)

###### Version:
 - [x] v2.x.x
 - [ ] v1.x.x

###### Issue type:
 - [ ] Bug
 - [x] Proposal/Enhancement
 - [ ] Question
 - [ ] Discussion

----

[2017-07-03 17:13] sasha240100 opened #273 "VirtualMouseModule: support for groups"
The current version of `VirtualMouseModule` doesn't support groups and children.

**Temporary workaround**:

[code]

**TODO**:

- [x] Support for nested objects
  - [x] `.intersection()` for children

###### Version:
 - [x] v2.x.x
 - [ ] v1.x.x

###### Issue type:
 - [ ] Bug
 - [x] Proposal/Enhancement
 - [ ] Question
 - [ ] Discussion

------

<details>
<summary> <b>Tested on: </b> </summary>

##

[2017-07-04 07:01] hirako2000 opened #276 "Provide Typings for Cone"
Add types for the Cone mesh component. And improve/complete Box and Sphere

###### Version:
 - [x] v2.x.x
 - [ ] v1.x.x

###### Issue type:
 - [ ] Bug
 - [x] Proposal/Enhancement
 - [ ] Question
 - [ ] Discussion

------

<details>
<summary> <b>Tested on: </b> </summary>

###### Desktop
   - [ ] Chrome
   - [ ] Chrome Canary
   - [ ] Chrome dev-channel
   - [ ] Firefox
   - [ ] Opera
   - [ ] Micr

[2017-07-05 09:24] hirako2000 opened #278 "Provide Typings for Mesh modules"
Provides type definitions for modules in mesh package
- [ ] AnimationModule
- [ ] DynamicGeometryModule
- [ ] Texture Module

###### Version:
 - [x] v2.x.x
 - [ ] v1.x.x

###### Issue type:
 - [ ] Bug
 - [x] Proposal/Enhancement
 - [ ] Question
 - [ ] Discussion

------

<details>
<summary> <b>Tested on: </b> </summary>

###### Desktop
   - [ ] Chrome
   - [ ] Chrome Canary
   - [ ] Chrome dev-cha

[2017-07-05 09:25] hirako2000 commented on #276
continued with #278

[2017-07-05 14:36] luciferthakur commented on #2
can you help me if yes then pls contact me rsrathaurorai@gmail.com

[2017-07-06 11:35] #273 closed

[2017-07-06 11:35] #272 closed

[2017-07-06 17:19] #271 closed

[2017-07-06 17:19] #276 closed

[2017-07-07 01:52] ChaseWhite3 opened #286 "Adds typings for Text"
Need to add typings for Text.

###### Version:
 - [x] v2.x.x
 - [ ] v1.x.x

###### Issue type:
 - [ ] Bug
 - [x] Proposal/Enhancement
 - [ ] Question
 - [ ] Discussion

------

<details>
<summary> <b>Tested on: Mac </b> </summary>

###### Desktop
   - [ ] Chrome
   - [ ] Chrome Canary
   - [ ] Chrome dev-channel
   - [ ] Firefox
   - [ ] Opera
   - [ ] Microsoft IE
   - [ ] Microsoft Edge

######

[2017-07-08 15:39] tomriddle1234 opened #288 "TypeError: url.match is not a function on WHS.Text"
Using Text in whs 2.1.2 gives Run Time Error. Require clearer example on using Text function, better to add some UTF8 character example, other than just English font.

Code:
[code]
no matter where to put the gentilis_bold.typeface.js file, the above code always gives run time error,

`Uncaught (in promise):TypeError: url.match is not a function load @.../vendor.js ...`

Stack trace to polyfile.js,

[2017-07-08 16:10] sasha240100 commented on #288
@tomriddle1234 hey, yep. I need to update docs. See the [Text defaults changed](https://github.com/WhitestormJS/whs.js/blob/dev/src/components/meshes/Text.js#L66).
Will update the docs soon. Thanks for reminder!

[2017-07-09 09:14] tomriddle1234 commented on #288
@sasha240100 thanks, 👍

[2017-07-09 09:29] tomriddle1234 commented on #288
`  const text = new WHS.Text({
    geometry: {
      text: 'hello world',
      loader: new THREE.FontLoader(),
      parameters: {
        size: 12,
        height: 50,
        curveSegments: 12,
        font: new THREE.Font(),
        bevelEnabled: false,
        bevelThickness: 10,
        bevelSize: 8
      }
    },

    material: new THREE.MeshBasicMaterial({
      color: 0xffffff
    }),

[2017-07-09 10:02] sasha240100 commented on #288
@tomriddle1234 I guess documentation for `Text` is completely wrong now. I found some typos.
I looked through the code again and found some things:
 1. `parameters.font` [should be a string (url path to the font you use)](https://github.com/WhitestormJS/whs.js/blob/dev/src/components/meshes/Text.js#L100)
 2. `{geometry: {...}}` is now just `{...}`

So your code should **look something like this:**

[2017-07-10 00:50] ChaseWhite3 opened #291 "Integrate tsd-jsdoc into whs"
Integrate tsd-jsdoc npm module into whs to automatically generate typescript files from jsdocs.

###### Version:
 - [x] v2.x.x
 - [ ] v1.x.x

###### Issue type:
 - [ ] Bug
 - [x] Proposal/Enhancement
 - [ ] Question
 - [ ] Discussion

------

<details>
<summary> <b>Tested on: </b> </summary>

###### Desktop
   - [x] Chrome
   - [ ] Chrome Canary
   - [ ] Chrome dev-channel
   - [ ] Firefox
   - [

[2017-07-10 18:25] hirako2000 commented on #288
The initial issue was to do with the loader (webpack bundling).
made changes to fix the doc and fix the position error as wrap() happened too soon (as build returned a promise).
Further improvement like taking an actual font instead of a path would be part of a different issue to see how we could use Importer to load the font from file.

[2017-07-10 18:25] #288 closed

[2017-07-11 09:19] #286 closed

[2017-07-11 09:19] #278 closed

[2017-07-11 17:39] hirako2000 opened #292 "Use travis CI to publish to npm"
Cumbersome to publish from local machines.
Travis should publish to npm new versions of `whs`.

See how: https://docs.travis-ci.com/user/deployment/npm/

###### Version:
 - [x] v2.x.x
 - [ ] v1.x.x

###### Issue type:
 - [ ] Bug
 - [x] Proposal/Enhancement
 - [ ] Question
 - [ ] Discussion

------

<details>
<summary> <b>Tested on: </b> </summary>

###### Desktop
   - [ ] Chrome
   - [ ] Chrome Ca

[2017-07-12 19:36] hirako2000 opened #293 "Add types for app modules"
Need types for app modules
- Fog
- Rendering
- Controls
- Element
- EventsPatch

###### Version:
 - [x] v2.x.x
 - [ ] v1.x.x

###### Issue type:
 - [ ] Bug
 - [x] Proposal/Enhancement
 - [ ] Question
 - [ ] Discussion

------

<details>
<summary> <b>Tested on: </b> </summary>

###### Desktop
   - [ ] Chrome
   - [ ] Chrome Canary
   - [ ] Chrome dev-channel
   - [ ] Firefox
   - [ ] Opera
   - [ ]

[2017-07-14 16:15] #293 closed

[2017-07-14 16:15] hirako2000 opened #295 "Add types for remaining app modules"
Other app modules need types added.

###### Version:
 - [x] v2.x.x
 - [ ] v1.x.x

###### Issue type:
 - [ ] Bug
 - [x] Proposal/Enhancement
 - [ ] Question
 - [ ] Discussion

------

<details>
<summary> <b>Tested on: </b> </summary>

###### Desktop
   - [ ] Chrome
   - [ ] Chrome Canary
   - [ ] Chrome dev-channel
   - [ ] Firefox
   - [ ] Opera
   - [ ] Microsoft IE
   - [ ] Microsoft Edge

#####

[2017-07-15 00:54] hirako2000 commented on #292
added the config, but my encrypted API token doesn't seem found. strange doc from Travis.
Maybe using a config variable would be easier, they say to put it in the travis file and simply encrypt it. but I see you do it differently for snyk and surge @sasha240100 .
See if you can use your own api key and get it to work.
Right now it tries to build and publish but fails with the token.

Travis will o

[2017-07-15 03:25] ChaseWhite3 commented on #291
This is too experimental for now.

[2017-07-15 03:25] #291 closed

[2017-07-15 03:59] ChaseWhite3 opened #297 "Typings for meshes"
Provide typings for Meshes:
- [x] Box
- [x] Cone
- [x] Cylinder
- [x] Dodecahedron
- [x] Extrude
- [x] Group
- [x] Icosahedron
- [x] Importer
- [x] Lathe
- [x] Line
- [x] Octahedron
- [x] Parametric
- [x] Plane
- [x] Polyhedron
- [x] Ring
- [x] Shape
- [x] Sphere
- [x] Tetrahedron
- [x] Text
- [x] Tube
- [x] Torusknot
- [x] Torus

###### Version:
 - [x] v2.x.x
 - [ ] v1.x.x

###### Issue type:
 -

[2017-07-16 14:03] hirako2000 commented on #295
Some of the modules need to be completed, left TODOs. at least we have all classes so that typescript project can have most types for those.

[2017-07-16 14:03] #295 closed

[2017-07-16 14:53] hirako2000 commented on #292
Deploy works, Travis will publish to npmjs on new tags applied to the `dev` branch.
Travis currently won't commit/push the built files. this step remains having to be done manually, same for the release notes.

Closing this now. Next step would be to cover those two tasks:
- Push built files
- Automatically generate release notes from closed issues and PRs.

As part of different issues.

[2017-07-16 17:25] hirako2000 opened #298 "Improve types for modules"
Improve type for  those:

- [ ] DefineModule (was missed)
- [ ] EventsPatchModule
- [ ] ElementModule (needs to be completed, only constructor is defined)
- [ ] ControlsModule and OrbitControlsModule (poorly defined typed at the moment)
- [ ] VirtualMouseModule (Review and add types of the Get methods)

###### Version:
 - [x] v2.x.x
 - [ ] v1.x.x

###### Issue type:
 - [ ] Bug
 - [ ] Proposal/Enha

[2017-07-16 19:50] sasha240100 opened #300 "PerformanceModule"
**A concept of `PerformanceModule`**:

[code]

- [x] Turns off `pass` if lower than it's described minimum.
- [x] Support for multiple settings.
  - [x] Only disables one-by-one

###### Version:
 - [x] v2.x.x
 - [ ] v1.x.x

###### Issue type:
 - [ ] Bug
 - [x] Proposal/Enhancement
 - [ ] Question
 - [x] Discussion

------

<details>
<summary> <b>Tested on: </b> </summary>

###### Desktop
   - [ ]

[2017-07-16 20:04] sasha240100 commented on #292
@hirako2000 Maybe better to make the same only for `master` branch? I always merge dev to it after each release

[2017-07-16 20:06] sasha240100 commented on #291
@ChaseWhite3 Doesn't work?

[2017-07-16 20:09] sasha240100 opened #302 "Update documentation"
Documentation lacks the following modules:
- [x] `RenderingModule`
- [x] `VirtualMouseModule`
- [x] `PostProcessorModule`
- [x] `EventsPatchModule` (+ should be explained)
- [x] `ControlsModule`
  - [x] `OrbitControlsModule`

**Showcase**
- [x] Add @sasha240100 (my) dailes

###### Version:
 - [x] v2.x.x
 - [ ] v1.x.x

###### Issue type:
 - [ ] Bug
 - [x] Proposal/Enhancement
 - [ ] Question
 - [ ]

[2017-07-17 14:12] sasha240100 opened #303 "New API for Text component"
**Concept**:

[code]

- `Text.load()` - wraps `FontLoader` in a promise. returns a Promise which is resolved with a `THREE.Font`.
- `font` parameter in Text can accept both: `THREE.Font` or Promise that resolves it.
**P.s.:** It can be implemented simply in API by just keeping async way and wrapping `THREE.Font` in `Promise.resolve(font)` if such is passed

###### Version:
 - [x] v2.x.x
 - [ ] v1.

[2017-07-17 14:26] tomriddle1234 commented on #303
This is fine for now. However in some frameworks, as pointed by Hirako, loading external json files can cause issue, like Ionic, it can be solved with customized webpack config file.

So maybe, the better way is to leave the loading file/data part to the framework it self that works with WHS.js, this means, the new text API or other similar API should accept a data object as input parameter as wel

[2017-07-17 14:30] sasha240100 commented on #303
@tomriddle1234 The API will still support async because of promise passed. Ok, working on implementation now.

[2017-07-17 15:07] #300 closed

[2017-07-17 15:07] #303 closed

[2017-07-17 15:58] hirako2000 opened #305 "postprocessing and redux deps are missing"
`postprocessing` is used by the postprocessing module, but is not declared in deps.
`redux` is now used to keep the store, but also is not declared in deps.

They should not be in devDependency, but in dependency.
###### Version:
 - [x] v2.x.x
 - [ ] v1.x.x

###### Issue type:
 - [x] Bug
 - [ ] Proposal/Enhancement
 - [ ] Question
 - [ ] Discussion

------

<details>
<summary> <b>Tested on: </b> <

[2017-07-18 08:09] sasha240100 opened #307 "RenderingModule has unclear API"
`RenderingModule` has some unclear things like "additional" which can be implemented easier way:

**Concept:**

[code]

###### Version:
 - [x] v2.x.x
 - [ ] v1.x.x

###### Issue type:
 - [ ] Bug
 - [x] Proposal/Enhancement
 - [ ] Question
 - [x] Discussion

------

<details>
<summary> <b>Tested on: </b> </summary>

###### Desktop
   - [ ] Chrome
   - [ ] Chrome Canary
   - [ ] Chrome dev-channel

[2017-07-18 10:32] hirako2000 commented on #292
Yes that would make sense, I didn't know you released from master. that's the correct thing to do ;)

[2017-07-18 10:35] #292 closed

[2017-07-18 11:15] sasha240100 commented on #305
@hirako2000 you fix?

[2017-07-18 11:16] hirako2000 commented on #305
yea should be fixed. merge the PR.

[2017-07-18 11:41] sasha240100 commented on #305
@hirako2000 merged

[2017-07-18 11:41] #305 closed

[2017-07-20 06:50] hirako2000 commented on #74
I propose a smarter API than three.js way, e.g of usage:
[code]

[2017-07-20 10:04] sasha240100 commented on #74
@hirako2000 such LOD module is only for primitive geometries and should interact with their API

[2017-07-20 12:25] thejmazz commented on #74
a common mesh simplification algorithm is the one described by this paper: [Surface Simplification Using Quadric Error Metrics](https://people.eecs.berkeley.edu/~jrs/meshpapers/GarlandHeckbert2.pdf). there's various implementations of it on the internet. [in C](https://github.com/sp4cerat/Fast-Quadric-Mesh-Simplification). [in Go](https://github.com/fogleman/simplify) (I actually have a WIP port o

[2017-07-21 02:15] hirako2000 commented on #74
So for non primitive you suggest using the already implemented `SimplifyModifier` in three?

[2017-07-22 05:00] thejmazz commented on #74
For now yes, but to future proof for alternative mesh simplification algorithms, should accept a common format (array/object of meshes or something like that), basically have a way to pass in custom meshes for each LOD level (it should be possible to make a simple LOD switch from cube to sphere for example - not practical but a good example)

[2017-07-24 14:33] #307 closed

[2017-07-25 07:30] sasha240100 opened #310 "Bug: OrbitControlsModule. Zoom not working when object is not a camera"
Zoom doesn't work when controlled object is not a camera.
**Possible solution**: Add wheel event to `EventsPatchModule`.

**EDIT**:
It seems like `wheel` is [already included](https://github.com/WhitestormJS/whs.js/blob/dev/src/modules/app/EventsPatchModule.js#L22)

###### Version:
 - [x] v2.x.x
 - [ ] v1.x.x

###### Issue type:
 - [x] Bug
 - [ ] Proposal/Enhancement
 - [ ] Question
 - [ ] Discuss

[2017-07-28 09:02] sasha240100 commented on #310
It's three.js issue

[2017-07-28 09:02] #310 closed

[2017-07-31 08:46] #302 closed

[2017-07-31 10:07] #297 closed

[2017-07-31 10:08] hirako2000 commented on #247
no longer happening.

[2017-07-31 10:08] #247 closed

[2017-08-01 13:52] MolhamAlkhateeb opened #312 "Importer with ObjectLoader"
The importer with objectLoader  returns object (group of objects) , it does not return the geometry and the material since it is a group , it returns the whole group
but the parser is returning a part of the group

I think ou can check on load if the first parameter has property 'type' and that propetry equals 'Group' then return the object instead of a new Mesh or whatever you are returning with

[2017-08-01 14:21] #312 closed

[2017-09-03 01:45] TimLuq opened #315 "Minor error in typings for Polyhedron"
A minor error in typings causes build of projects using the typings to fail.

The offending typings are a forced return type of the Polyhedron constructor which is forbidden. Expect PR soon.

I'll leave a reference to issue #297 as well.

###### Version:
 - [x] v2.x.x
 - [ ] v1.x.x

###### Issue type:
 - [X] Bug
 - [ ] Proposal/Enhancement
 - [ ] Question
 - [ ] Discussion

------

<details>
<summ

[2017-09-03 09:08] #315 closed, assigned to nobody

[2017-09-03 20:14] sasha240100 opened #317 "Travis CI examples deployment isn't working"
Travis CI examples deployment isn't working.

###### Version:
 - [x] v2.x.x
 - [ ] v1.x.x

###### Issue type:
 - [x] Bug
 - [ ] Proposal/Enhancement
 - [ ] Question
 - [ ] Discussion

------

<details>
<summary> <b>Tested on: </b> </summary>

###### Desktop
   - [ ] Chrome
   - [ ] Chrome Canary
   - [ ] Chrome dev-channel
   - [ ] Firefox
   - [ ] Opera
   - [ ] Microsoft IE
   - [ ] Microsoft Ed

[2017-09-17 18:02] noahcoetsee commented on #253
Assign it to me sasha

[2017-09-17 18:27] sasha240100 commented on #253
@TheCodeCrafter done.

**TODO**:

- [x] Make a simple template for an article
- [x] Add `article.md` to example folders
- [x] Write step-by-step explanation for `basic / helloworld` example

[2017-09-18 08:17] hirako2000 opened #318 "Correct some meshes parameter types (TS)"
A few mesh types mistakenly named `parameter` some of the geometry properties.
It should be `geometry`.

e.g Torus.

###### Version:
 - [x] v2.x.x
 - [ ] v1.x.x

###### Issue type:
 - [ ] Bug
 - [x] Proposal/Enhancement
 - [ ] Question
 - [ ] Discussion

------

<details>
<summary> <b>Tested on: </b> </summary>

###### Desktop
   - [ ] Chrome
   - [ ] Chrome Canary
   - [ ] Chrome dev-channel
   -

[2017-09-19 09:13] hirako2000 commented on #317
has it ever worked automatically? I don't see the deploy step for *examples*.
I see two *surge* steps. Does not look like they are for pushing examples.

[code]

[2017-09-19 10:16] hirako2000 commented on #317
Also, I propose we do this as part of this issue:

- Add *another* surge deploy step for examples, to build example that match latest released version of `whs`

[code]

Otherwise some newer examples not supported yet by released version might be tried and would not work on the pulled dependency by users. would be confusing.

[2017-09-19 13:46] noahcoetsee commented on #253
Basis done. NOW: WORKING ON DOING BASIC, THEN VR, THEN LIGHTS, THEN PHYSICS, and so on

[2017-09-19 13:48] noahcoetsee commented on #181
I've been wanting to do this, I have a serious amount of experience in Socket.IO, and I really have wanted to build such a module since I saw this project, I will work on it, if you don't mind, of course.

[2017-09-19 13:51] noahcoetsee commented on #181
NOTE: This is all just me thinking about this, so don't take this super seriously.

Also, I think I have a different solution that still works great, and is a module, but it has more of a twist, I don't think that the default approach that first comes to mind is the best.

Above, hirako said this in his TODOs: "Handle state (physics?) on the server as authority."... The way I'm thinking of would a

[2017-09-19 14:08] hirako2000 commented on #181
Sure, feel free to take over. We parked this to focus on less ambitious modules.
We had a prototype working, the next step was to figure out the right poll algorithm to send/receive updates.
Update on all change straight away *would not* work.

[2017-09-19 14:11] noahcoetsee commented on #181
Right, that is what I've been saying, the Unity3D approach seems to be nice because objects in the scene without the networkTransform will not update in the networking scheme. So, in WhitestormJS, Objects in the scene that are static will simply have a NetworkIdentity, and objects that you want to update will have the NetworkTransform

What do you think?

[2017-09-19 14:15] hirako2000 commented on #181
Sounds right. I was just making sure to point out I didn't write any polling algorithm (or reused one).
Let's start with something simple. and expand on it.
And totally yes taking inspiration from what Unity/Unreal engines are doing is an excellent idea. let's not reinvent the wheel.

[2017-09-19 14:15] noahcoetsee commented on #181
Another example would be this piece of code in your module code:
[code]

That code should simply communicate the details of that to the client, and make sure that the client doesn't try to pass some dumbass value that's not a material.

So rather, It probably should be this (or something along the lines of this):

[code]
Does that sound right to you?

[2017-09-19 14:30] noahcoetsee commented on #181
First things first though, we need to re-create the branch because it's 581 commits behind dev

[2017-09-19 14:40] hirako2000 commented on #181
sure, it was very prototypical. just to prove it would work. little knowledge of socket so I was just experimenting.
yes create a different branch, start from scratch is neater anyway.

[2017-09-19 14:45] noahcoetsee commented on #181
Okay! I'm on it, hirako! I love this project!

[2017-09-19 15:53] TheCodeCrafter commented on #181
@hirako2000 The module should use the StateModule to manage objects, right?

[2017-09-19 16:16] noahcoetsee commented on #181
@hirako2000

By the way,  socket happens to have a super useful event thing, it's this:
`socket.on("*", callback);`
That code will call the callback on EVERY event, super useful for building custom RPCs. That is how I'm working on my library, switch.io. So, I don't think we really need a full polling algorithm, we'll check the size of the movement, just like Unity3D does, so that way we can even s

[2017-09-19 17:28] sasha240100 commented on #181
@TheCodeCrafter How about also supporting WebRTC technology in future?
/ping @hirako2000

[2017-09-19 17:29] sasha240100 commented on #253
@TheCodeCrafter OK, reviewing

[2017-09-19 17:53] sasha240100 commented on #317
@hirako2000 I completely agree on that why. I still can't figure out why dev examples are not pushing to surge. (something happened, while nothing was touched)

[2017-09-19 19:23] noahcoetsee commented on #181
TOTALLY! Sounds awesome

[2017-09-19 19:23] noahcoetsee commented on #181
I think that would be great for a database that maintain's itself once the server is running? What exactly are you planning on doing with WebRTC? @sasha240100

[2017-09-20 01:23] noahcoetsee commented on #318
This is finished, so I'm gonna close this issue. (Sorry if i'm doing this wrong)

[2017-09-20 01:23] #318 closed, assigned to hirako2000

[2017-09-20 10:35] hirako2000 commented on #317
this is a change, it was touched. maybe we can't have multiple deploy steps with same provider: [diff](https://github.com/WhitestormJS/whs.js/commit/77cd3458f4f42a204b507e2bd65b945c4a42485b#diff-354f30a63fb0907d4ad57269548329e3).

I suggest we do this below, as documented [here](https://surge.sh/help/integrating-with-travis-ci), and using Travis [env variables](https://docs.travis-ci.com/user/envi

[2017-09-20 23:06] sasha240100 opened #321 "Alien example is not working"
- Animation is not playing
- Textures aren't working

###### Version:
 - [x] v2.x.x
 - [ ] v1.x.x

###### Issue type:
 - [x] Bug
 - [ ] Proposal/Enhancement
 - [ ] Question
 - [ ] Discussion

------

<details>
<summary> <b>Tested on: </b> </summary>

###### Desktop
   - [ ] Chrome
   - [ ] Chrome Canary
   - [ ] Chrome dev-channel
   - [ ] Firefox
   - [ ] Opera
   - [ ] Microsoft IE
   - [ ] Micr

[2017-09-22 02:27] looading opened #322 "Angular Module"
Describe your issue here.

Do you have any plan to provide a Angular moudle?

###### Version:
 - [x] v2.x.x
 - [ ] v1.x.x

###### Issue type:
 - [ ] Bug
 - [ ] Proposal/Enhancement
 - [x] Question
 - [ ] Discussion

------

<details>
<summary> <b>Tested on: </b> </summary>

###### Desktop
   - [ ] Chrome
   - [ ] Chrome Canary
   - [ ] Chrome dev-channel
   - [ ] Firefox
   - [ ] Opera
   - [ ] Mi

[2017-09-22 11:04] sasha240100 commented on #322
@looading what should it do?

[2017-09-22 11:05] sasha240100 commented on #181
@TheCodeCrafter Could be transfering data between smartphone and PC (I saw some examples, where smartphone can be used as controller)

[2017-09-22 13:59] noahcoetsee commented on #322
An angular module? Angular is based on live HTML editing through the change of variables. That should be something done entirely on your side, it's pretty much unrelated to 3D WebGL. DatGUI Does the same thing with a little bit of a twist. I don't understand why you would want an Angular module, please clarify.

[2017-09-22 14:11] noahcoetsee commented on #181
@sasha240100 That makes sense, but if you include that then you are probably going to have to go full on Unity3D and make axises for input, that way you can have a variety of controllers. XBox, PS4, Smartphone... I mean, if you want to go full on first party modules for almost everything, it would make sense to do that, right?

P.S. Also, I would also add automatic voip support to the networking i

[2017-09-22 14:23] noahcoetsee commented on #181
Also, @sasha240100 I may need your help some more with the network module. What I want to do is make it so that the network module listens for all calls in the scene (any changes in the WHS world), and notify the server. How could I make such an alteration to the scene module, etc?

[2017-09-23 09:06] hirako2000 commented on #321
Broke due to `Importer.js` changes. [here](https://github.com/WhitestormJS/whs.js/commit/53aa5fec22c8e169c3939a3701b39819b5096ed9#diff-3dd230c717e2b6f187056e916b55e425).

I've just made a change to deal with instantiating the SkinnedMesh within Importer.js so that we don't have to override `parser` of the importer.
Removed custom material flag as it's not necessary anymore. but texture for some re

[2017-09-24 12:39] hirako2000 commented on #321
Alex has fixed the texture issue, thanks.
Closing.

[2017-09-24 12:39] #321 closed, assigned to hirako2000, sasha240100

[2017-09-25 02:47] looading commented on #322
Inspired by the react-whs project, why don`t we integrate Angular and WHS?
Then I thought for a moment. whether we can simply package Core/Components/Modules of the WHS into Components/Directive/Service of the Angular. Pack those int to a Angular Modules, like ng-whs.

Then. for example, if we want to create an 3D sence in a Angular Component.

1. import module

[code]

2. use ng-whs

[code]

[cod

[2017-09-25 17:22] sasha240100 commented on #322
@looading I've got the idea now. Yes, that can be done as separate open source project on github. Would you like to start the development? We can guarantee you support during the development

[2017-09-26 02:11] looading commented on #322
@sasha240100  Ok, i will start the development a few days later.
Before that, i will do more research.

[2017-09-27 18:26] meronbrouwer commented on #322
@looading From your issue, I get the impression that you already have whs working within ng. I'm trying to do the same, but am a bit puzzled on how to approach this. Do you have a working example ?

[2017-09-28 01:58] looading commented on #322
@meronbrouwer There are no examples available online at the moment.But, you can open a new issue to discuss your puzzles in detaild.

[2017-09-28 09:13] meronbrouwer commented on #322
@looading thanks for the reply. I'll create a new issue if I bump into new problems.

[2017-09-28 09:21] meronbrouwer commented on #298
@hirako2000 What's up with this issue? It is set for Milestone 2.1.6, which is the latest release on github, but npm lists 2.1.8, which doesn't contain DefineModule.

btw. great work on getting the typings into whs!

[2017-09-28 09:35] meronbrouwer opened #326 "Provide an example for inclusion in an Angular Project"
Describe your issue here.

###### Version:
 - [x] v2.x.x
 - [ ] v1.x.x

###### Issue type:
 - [ ] Bug
 - [x] Proposal/Enhancement
 - [ ] Question
 - [ ] Discussion

------

<details>
The examples could use one that shows a Hello World as an Angular component. This will require the typings to be (mostly) finished.
</details>

[2017-09-28 16:54] looading opened #327 "export more interface in *.d.ts"
Describe your issue here.

Why not export `CameraComponentParams` 、 `RenderingModuleParams` and so on in typescript module?
Then i don`t need to redeclare those interface in my project.

###### Version:
 - [x] v2.x.x
 - [ ] v1.x.x

###### Issue type:
 - [ ] Bug
 - [ ] Proposal/Enhancement
 - [x] Question
 - [ ] Discussion

------

<details>
<summary> <b>Tested on: </b> </summary>

###### Desktop

[2017-09-28 17:09] hirako2000 commented on #327
Hey @looading , I don't know I guess.
Just tried now to create say a RenderingModule in the whitestorm typscript boilerplate app, it recognises types of the params without me having to redefine the interface of that params:

![image](https://user-images.githubusercontent.com/1500712/30980196-517150c8-a4aa-11e7-8724-318aeb6dfe33.png)

How would exporting specifically the param interface help the co

[2017-09-28 17:52] looading commented on #327
Yes, you are right in the case which your image showed.
Here is my case:

![image](https://user-images.githubusercontent.com/9467452/30981527-41a802aa-a44a-11e7-859e-927abb888f17.png)

`rendering` is a` @Input` property, here i use the type `RenderingModuleParams` .
Is it a recommended practice?
If it is recommended, there are no `RenderingModuleParams` exported, so i should redeclare.

[2017-09-28 18:12] looading commented on #326
You can use whs directly in Angular.
Here is a shabby example.

[code]

[code]

It`s available.
![image](https://user-images.githubusercontent.com/9467452/30982981-a5c7e99a-a44e-11e7-901c-893d6811441c.png)

The above code is not clean.In whs@2.1.8, there are some different api between typescript version of whs and javascript version of whs .

Hirako says: Sorry about that. If you raise an issue wi

[2017-09-28 18:26] looading commented on #298
@hirako2000 In whs@2.1.8, there is CameraModule in javascript, but there isn`t CameraModule in typescript.
This makes me confused

[2017-09-28 18:44] meronbrouwer commented on #326
Sorry for the thumbs down.... meant to only select the thumbs up...

[2017-09-28 20:03] hirako2000 commented on #327
OK I get it (I think).

You are specifically importing a module that does not exist, because as you said, it is not exported.
Btw your editor weirdly does not highlight that. See my VSCode editor lints it as an error:
![image](https://user-images.githubusercontent.com/1500712/30987734-3da2ea1c-a4c2-11e7-8056-7a7b0d3addc4.png)

What I did in my code, is that I simply pass the fields directly. I'm n

[2017-09-29 01:46] looading commented on #326
@meronbrouwer It dosn`t matter.

In fact, I don`t recommend the above method. In project **ng-whs**, I will take another more appropriate method.However, it will take some time to complete.

[2017-09-29 02:15] looading commented on #327
I agree with you. There may be some wrong in my VSCode editor lints.
 My thoughts is that：

- export those interface which may be used out of the whs library.It`s optional. Do not expose those interfaces that only be used in the whs library.

- As for the scope of pollution, we need to make a choice between the two.I prefer the former.

Of course, I will follow your decision.

[2017-09-29 07:05] meronbrouwer commented on #326
@looading Thanks. I'll have a look at that project. Btw, note that is seems the convention to give Angular2+ projects an ngx prefix, so it would be ngx-whs.

[2017-09-29 07:17] looading commented on #326
@meronbrouwer Yes, your are right. I will rename `ng-whs` to `ngx-whs`.

[2017-09-29 08:26] meronbrouwer commented on #326
@looading In your example, you use the CameraModule, did you create the typings for those yourself? They are missing in 2.1.8

[2017-09-29 09:13] looading commented on #326
@meronbrouwer I mentioned this before.
*In whs@2.1.8, there are some different api between typescript version of whs and javascript version of whs .*
I didn`t create the typing for CameraModule. I use the CameraModule directly the impact of typescript.

[code]

[2017-09-29 16:26] hirako2000 commented on #326
Please raise an Issue for any `whs` type definition that diverge from the `whs` API  (matching version of course).
Those should be addressed, I just never had time to look back and exercise every single component interfaces in typescript. Just did a few.

About the oddity of types looking like they are not present, in say whs 2.1.8, you could also raise an issue with more details as to what's goin

[2017-09-29 18:18] hirako2000 commented on #326
Let's relate the `whs modules interface` struggle to #298

[2017-09-29 18:32] hirako2000 commented on #298
@looading, `CameraModule` is now gone, @sasha240100 removed it and came up with the `DefineModule` which now has types for its interface coming from this issue, but is not yet released on npm, it as just merged to `dev` branch. (I imagine it will release with v2.1.9)

@meronbrouwer , correct, `DefineModule` types is not there yet. it shall be released with v2.1.9.

@sasha240100 Do you have a momen

[2017-09-30 11:41] mnb3000 opened #328 "Broken README links"
Links to all modules are broken because of renaming

###### Version:
 - [x] v2.x.x
 - [ ] v1.x.x

###### Issue type:
 - [x] Bug
 - [ ] Proposal/Enhancement
 - [ ] Question
 - [ ] Discussion

------

[2017-09-30 11:56] hirako2000 commented on #328
Thanks for raising this issue.
I believe @sasha240100 changed the structure of the project, made this repo to build all external modules separately.
They each used to have their own repo.

Those link were forgotten about. Not sure how to make it very clear. ideally the user should be able to see some readme page. for each or all in one.

[2017-09-30 19:33] sasha240100 commented on #298
@hirako2000 @looading @meronbrouwer https://github.com/WhitestormJS/whs.js/commit/c192c88abb4a442b7c06276010e5b0198be057d7

[2017-10-01 16:02] sasha240100 commented on #181
@TheCodeCrafter Let's use `minivents` system. You can wrap existing functions that should trigger changes and add the `emit()` there. Example:

[code]

Another idea is to use bridge API whenever it is possible. For `addTo` such is possible though:

[code]

[2017-10-02 15:19] noahcoetsee commented on #181
Ok, since you have a much greater understanding of those systems, can you go ahead and implement them in the systems I have set in place, so that I can understand them better?

[2017-10-02 19:12] sasha240100 commented on #181
@TheCodeCrafter Yep, no problem, which events do you need to trigger change? (like add/remove)

[2017-10-03 22:56] pthomas931 commented on #328
I've attempted to clean up these links in PR #329

Looks like most of these modules just reside directly in https://github.com/WhitestormJS/whs.js/tree/dev/modules

[2017-10-04 12:39] TheCodeCrafter commented on #181
@sasha240100 I am going to go ahead and begin designing a server side whs, so I can test it out, what I'm having trouble doing is taking the abstract changes made on meshes that is already implemented in the module and apply them to the scene. So could you perhaps help me out with such a thing?